[2015-08-23 20:20] tautschnig opened #3 "Various type checking errors reported in the busybox folder"
The checking script proposed in #2 reports a number of errors, among them those in the busybox folder. My fork of the repository has all the necessary changes, and I will submit a pull request once #2 is closed.

Best,
Michael

[2015-08-23 22:08] tautschnig commented on #3
... and similarly the fixes for pthread-wmm/* and floats-c*/* are now available in my fork - pull requests to be provided once #2 is closed.

Best,
Michael

[2015-08-25 12:28] tautschnig commented on #3
As #2 has been resolved, I've turned the individual change sets into pull requests #4, #5, #6. Thus closing this issue as it is now tracked in those pull requests.

Best,
Michael

[2015-08-25 12:28] #3 closed

[2015-09-11 08:46] tautschnig opened #7 "Ping original submitters to fix errors spotted by check.sh"
Hi,
In #4, #5, #6 I have provided patches for those benchmarks that I have submitted or feel somewhat responsible for. check-blacklist nevertheless still lists 3560 broken benchmarks, which ought to be fixed before the next edition of the competition commences. It would be great if the original submitters of the benchmarks could be pinged to review and fix their submissions.

To help people unders

[2015-10-09 19:01] delcypher opened #37 "Continuous integration for "compilable check""
@dbeyer @tautschnig

I was looking other some stuff in the repository and I notice you seem to be having some problems with benchmarks that don't compile properly with warnings enabled. I have a suggestion to try to prevent this from getting any worse.

1. Create an actual set of Makefiles that will actually make it easy to compile the benchmarks individually or all together. Some of the makefiles

[2015-10-09 19:04] PhilippWendler commented on #37
I am also in favor of using TravisCI for this. I don't think makefiles are necessary, we can just run the existing script (maybe with some tweaks).

[2015-10-11 09:27] delcypher commented on #37
@PhilippWendler Well I went ahead and made a Makefile build system anyway because it's more convenient to use and extend IMHO.

[2015-10-11 09:32] dbeyer commented on #37
@Dan Could you please add a .travis.yml? I have added the repository on the TravisCI site and the web hook is there, too.

[2015-10-11 09:35] dbeyer commented on #37
@delcypher @PhilippWendler I added both of you as Collaborator such that you are able to help me set up TravisCI. Thanks!

[2015-10-11 09:36] delcypher commented on #37
@dbeyer I will do but I'm still checking that things compile under GCC and Clang. I'm concerned that TravisCI won't actually be suitable here because of the huge number of benchmarks leading to large compile times.

[2015-10-11 10:00] delcypher opened #41 "C source files with ``.i`` extension"
Why are there C source files with an ``.i`` extension rather than ``.c``?

Currently the Makefile build system won't build the ``*.i`` files. It **technically** could be taught to but it really over complicates matters (I have to worry about name clashes when generating the ``*.o`` and ``*.d`` files).

[2015-10-11 10:07] dbeyer commented on #41
We use .i for the pre-processed files (results of cpp -P)
and .c for the original files.
Sometimes (where you see only a .c file), pre-processing is not necessary.

On 15-10-11 12:00 PM, Dan Liew wrote:

[2015-10-11 10:35] PhilippWendler commented on #37
@delcypher I think it should be possible somehow to check only files that were changed by commit or pull request when we execute the check on Travis. So if the full check is too costly, we could try to do this.

[2015-10-11 11:06] delcypher commented on #41
@dbeyer Guess I will have to add support for this then

[2015-10-11 11:13] delcypher opened #42 "Problematic assembly in ldv-linux-3.0 benchmark"
In ``ldv-linux-3.0/usb_urb-drivers-media-video-c-qcam.ko_true-unreach-call.cil.out.i.pp.cil.c`` some assembly on  line 6009

[code]

seems to cause gcc 5.2 problems when building doing

[code]

[code]

A lot of the surrounding assembly is commented out. What should be done here?

[2015-10-11 11:29] delcypher commented on #41
Wait does that mean inside a directory if there are two files ``foo.c`` and ``foo.i`` that I should only build ``foo.i`` or should I build both? Building both would be really problematic because I would no longer be able to do

[code]

because the build system wouldn't know which one to build.

[2015-10-11 11:39] PhilippWendler commented on #41
If there are both files, typically only the `.i` file is relevant for SV-Comp, the source `.c` is present as documentation to show how the `.i` file was generated.

I think that it would probably be best to not care too much about which files are present in each directory, but use the `.set` files and the files listed therein (only the files from the `.set` files are relevant for SV-Comp).

[2015-10-11 12:04] delcypher commented on #41
Okay then I'll try to teach the build system to build ``.i`` files and pick those in preference to an identically named (modulo the suffix) ``.c`` file.

Ah I did not know about this when I designed the build system. I made the assumption when designing it that most source files in the repository would be relevant or in a directory that I knew should not be traversed.

I might be able to incorpora

[2015-10-11 20:19] delcypher opened #44 "veris.c_sendmail__tTflag_arr_one_loop_true-unreach-call.i has tautological compare"
[code]

[2015-10-12 02:05] delcypher commented on #41
Support of ``*.i`` file implemented in 3e15c1594797af453a11724bf1792b63aa0f7a68

[2015-10-12 02:05] #41 closed

[2015-10-14 18:38] delcypher opened #55 "Finish decls.h and make them the documented function signatures"
The special ``__VERIFIER_*`` functions are not precisely specified by the current documentation which appears to have lead to some divergence in the expected function signatures for the various functions.

The new ``decls.h`` file has started making this explicit but...

* All function signatures need implementing
* We should decide on how we handle ``_Bool`` types. For example, the current implem

[2015-10-14 18:43] delcypher opened #56 "Clang compilation without errors"
Currently compilation of many benchmarks fails with clang 3.7. The benchmarks need to be fixed.

[2015-10-15 05:49] PhilippWendler commented on #55
I disagree, I think each benchmark file should be a complete C file, including declarations for all used functions. This makes them much easier to use, here and in other contexts.

Also, why can't we allow both signatures of `__VERIFIER_assume`? Each benchmark could declare and use the one it needs, as long as it does not contradict the written rules.

I am not sure what you mean by "function sign

[2015-10-15 08:19] delcypher opened #59 "Enable WARNINGS_AS_ERRORS=1"
One day I'd like to enable `WARNIGS_AS_ERRORS=1` by default but right now there are so many warnings that I think this is going to have to be a long term goal. This issue will track this.

In order for this to be possible we would also need to pick our reference compilers (e.g. gcc 4.8 and clang 3.7) because the warnings reported vary between compiler versions.

[2015-10-15 08:25] delcypher commented on #37
This is now done. We finally had a passing build as of eea2e119c26e595cd4b6894a3de1a9c437974738

[2015-10-15 08:25] #37 closed

[2015-10-15 08:41] delcypher commented on #55
But this is massively redundant and a maintenance nightmare. It is good engineering practice to put the declarations of external functions in a header file. It is also very easy to use the ``decls.h`` file.

If you are using a compiler as part of your verifier you can just pass ``-include decls.h`` or alternatively the verifier just needs to do something like.

[code]

I think the benefits of havi

[2015-10-15 09:00] mutilin commented on #42
I think that it is safe to comment or remove that asm code

[2015-10-15 11:21] PhilippWendler commented on #55
I think the benefit of having each benchmark as a single compilable self-contained file outweighs this. You have worked a lot into this direction (thanks!), so why stop here and change the current SV-Comp rules and remove code from the files such that currently-compiling benchmarks will no longer compile without an explicitly given additional file? Imagine people finding this benchmark repository

[2015-10-15 12:45] delcypher commented on #42
That's what I thought but I'm not sure who owns this benchmark.

[2015-10-15 13:35] mutilin commented on #42
There is ldv-linux-3.0/README.txt)

[2015-10-15 13:47] dbeyer commented on #55
Hello,

A C program file for an SV-COMP verification task must be a readily pre-processed, complete, single-file piece of C program code.

I apologize for having merged the decls.h into the repository.  I unfortunately did not understand the plan about this.

decls.h must not be used for the competition; each verification task must be self-contained.

Best regards and sorry for the confusion that

[2015-10-15 17:03] delcypher commented on #55
Oh, actually the current build system passes ``-include $(ROOT_DIR)/decls.h`` to the compiler. I'm not sure if compilation will succeed without it. I haven't tried. I did this because @tautschnig 's ``check`` script was doing this.

I suppose if you never plan to change the signatures then I guess this is fine. I personally don't like it but I'm not in charge so I don't get to decide.
@dbeyer has

[2015-10-15 18:55] delcypher commented on #42
@agurfinkel Is it okay to remove this assembly?

[2015-10-15 18:56] agurfinkel commented on #42
ok with me

[2015-10-16 05:39] PhilippWendler commented on #55
Well, this should be easy to try and easy to fix. I already fixed these issues in many benchmarks in the past.

I would consider that orthogonal to the current issue and discuss it separately.

I guess as soon as the build system is fixed and the check script is removed we can delete it.

This is defined in the [rules](http://sv-comp.sosy-lab.org/2016/rules.php#parameters). You can get a parameter

[2015-10-20 10:17] mdangl opened #64 "BusyBox "false" actually "true"?"
The tasks

    sv-benchmarks/c/busybox-1.22.0/hostid_false-unreach-call.c
    sv-benchmarks/c/busybox-1.22.0/logname_false-unreach-call.c
    sv-benchmarks/c/busybox-1.22.0/readlink_false-unreach-call.c
    sv-benchmarks/c/busybox-1.22.0/sync_false-unreach-call.c
    sv-benchmarks/c/busybox-1.22.0/tty_false-unreach-call.c
    sv-benchmarks/c/busybox-1.22.0/uniq_false-unreach-call.c
    sv-benchmar

[2015-10-20 13:17] delcypher opened #65 "Several floats-cdfpl benchmarks will not compile without defines!"
The build is currently passing because the build system sets

[code]

for the ``floats-cdfpl`` benchmarks but this bad because the benchmarks won't build unless you know the necessary defines.

[2015-10-21 09:41] delcypher opened #72 "seq-mthread/pals_STARTPALS_ActiveStandby* benchmarks have suspicious self comparision"
Clang is emitting a lot of warnings of the same type for some very suspicious looking code in the

``seq-mthread/pals_STARTPALS_ActiveStandby*.c`` benchmarks.

The warnings look similar to this:

[code]

The author of these benchmarks should fix this.

[2015-10-25 09:22] hguenther opened #77 "Type errors in pthread-lit/fk2012_true-unreach-call"
The "producer" function returns integers without casting them to (void*) first and the "consumer" function is missing a return statement. Also, the return values of the "producer" function aren't used anywhere.

[2015-10-25 15:00] inkytonik opened #79 "c/loops/veris.c_OpenSER__cases1_stripFullBoth_arr_true-unreach-call has no assertion"
There is no call to assert or __VERIFIER_assert in the program c/loops/veris.c_OpenSER__cases1_stripFullBoth_arr_true-unreach-call. We presume this is an inadvertent omission.

[2015-10-25 15:02] inkytonik opened #80 "Three c/loop-lit programs use assert instead of __VERIFIER_assert"
The following programs in the c/loop-lit category use assert instead of __VERIFIER_assert. For consistency with the other programs they should probably call __VERIFIER_assert (although it is straight-forawrd to support both in a tool):

bhmr2007_true-unreach-call.c
19:    assert(a + b == 3*n);

gcnr2008_false-unreach-call.c
24:    assert(x >= 4 && y <= 2);

hhk2008_true-unreach-call.c
17:    asser

[2015-10-26 16:07] yaqwsx opened #84 "Cannot compile ldv-races/race-4_2-thread_local_vars_false-unreach-call.c"
This benchmark cannot be compiled using clang, since `thread_ath9k` function with returns type `void*` contains `return;`.

[code]

[2015-10-30 14:04] inkytonik opened #89 "loops/nec40_true-unreach-call seems to be incorrect"
If  x contains one != zero element, then when k is zero the program reaches the always failing assertion since y contains { non-zero, zero, ... } and i is one.

Should this one be reclassified as a "false' benchmark? OR are some other assumptions made about it's execution?

[2015-10-30 17:13] delcypher opened #94 "``regression`` benchmarks contain GCC compiler built-ins which Clang cannot handle"
Clang cannot build some of the benchmarks in the `regression` folder due to the files containing compiler built-ins that are incompatible with Clang. Passing `-fno-builtins` does not fix the issues here.

The first issue I saw was

[code]

Even if rename that function so it's `builtin_expect()` I run into more issues.

[code]

I'm not sure if it's possible to fix this. Personally I don't think com

[2015-11-01 18:11] PhilippWendler commented on #7
I think this can be closed.

[2015-11-02 22:14] inkytonik commented on #80
Closing since this was fixed in 0159cdb9e65c5fcf6a7875189cba4c29dc66b83c.

[2015-11-02 22:14] #80 closed

[2015-11-04 13:37] delcypher opened #106 "Enable -Werror=implicit"
I'd like to add ``-Werror=implicit`` to ``COMMON_WARNINGS_AS_ERRORS`` (see PR  #105) to improve the quality of benchmarks that are in the suite. The ``-Werror=implicit`` flag is equivalent to passing ``-Werror=implicit-function-declaration`` and ``-Werror=implicit-int``. Read the gcc man page for a description of these warnings. Note the ``-Werror=*`` means treat the warning ``*`` as an error.

Un

[2015-11-05 13:06] #64 closed

[2015-11-07 23:13] tautschnig commented on #7
See also my rambling on the SV-COMP mailing list just moments ago: unless #56 and #59, plus #106 are closed, it would likely remain a good idea to actually ping people. For any benchmarks submitted since the move to github this would be task that anyone could take care of; before, however, most benchmarks were committed by @dbeyer, who clearly is not to be blamed for the syntax errors in them...

[2015-11-07 23:31] tautschnig commented on #94
If https://github.com/travis-ci/travis-ci/issues/2877 got fixed, we could have separate configurations for SV-COMP (with SET_FILES being set) vs. all benchmarks.

That should address @PhilippWendler's concerns voiced on the SV-COMP mailing list.

Best,
Michael

[2015-11-08 00:08] tautschnig commented on #65
I had originally submitted these .c files with the knowledge that only .i files would actually be used for the competition. The various .i files in floats-cdfpl were generated using various values for NR and ITERATIONS. I'll attach a pull request that just expands all valid values into separate .c files.

Best,
Michael

[2015-11-08 10:11] delcypher commented on #94
@tautschnig
We can do this already if we want. If you take a look at ``.travis.yml`` in the root of the repository you will see these lines

[code]

Each line sets a build configuration (i.e. we test two different configurations) with different environment variables. Currently we build with gcc-4.8 and clang-3.7. ``CLANG_BUILD_HACK`` is only there to prevent Clang trying to build the ``regression`

[2015-11-08 10:13] delcypher commented on #56
This is done except for the benchmarks mentioned in #94. Hopefully we can get them fixed or failing that just delete them.

[2015-11-08 10:50] tautschnig commented on #94
While I agree that in medium term we should have compilable files only in the repository, that's just not doable on the spot. So I was hoping we could have multiple "Build (not) passing" indicators in README.md, one for the SV-COMP sub-set and another for all benchmarks.

[2015-11-08 16:21] delcypher opened #120 "Enable -Werror=return-type and -Werror=main-return-type"
I'd like to add `-Werror=return-type` to `COMMON_WARNINGS_AS_ERRORS` and `-Werror=main-return-type` to `CLANG_ONLY_WARNINGS_AS_ERRORS`.

Unfortunately several benchmarks trigger these warnings and so the build fails when treated as errors.

[2015-11-08 16:22] delcypher commented on #94
I see to my knowledge TravisCI cannot do this right now.

[2015-11-08 16:37] delcypher opened #121 "Incorrect pre-processing of source files leads to incompatible C library redeclarations"
I've been investigating an issue that Clang has been warning about all
over the place (-Wincompatible-library-redeclaration) and I'd like to
draw attention to it because it implies that people who have been
preprocessing benchmarks have been a bit careless (or I have incorrect
knowledge of which architecture a benchmark is intended for).

Here's an example (with -Werror=incompatible-library-redecl

[2015-11-08 16:39] delcypher commented on #121
The simplest (and best) fix for this is to remove the ``*.i`` (preprocessed files) files completely and have the build system just build the ``*.c`` source files.

The purported reasons for having preprocessed files is that

* It makes the benchmarks completely standalone (i.e. no header file
dependencies)
* It prevents differences in the benchmarks appearing which could
result from having differe

[2015-11-08 16:48] delcypher opened #122 "Pre-processed files should be removed"
The pre-processed files are causing lots of problems

* It's really easy to make an architecture mistake when pre-processing
a source file (i.e. what I reported on in my first e-mail in this
thread). See #121
* It is a huge waste of space. We are effectively doubling (at least)
the size of the repository by having these pre-processed files under
source control
* It doubles the maintenance effort w

[2015-11-08 17:07] dbeyer commented on #122
The .c files can in principle be removed; they have no meaning for SV-COMP.
We agreed to keep them for documentation.
According to the rules, and as discussed many times, SV-COMP is based on pre-processed files.

[2015-11-08 17:07] #122 closed

[2015-11-08 17:10] dbeyer commented on #121
For each verification task, it is specified whether it is meant for 32 bit or for 64 bit.
If you find verification tasks that were incorrectly preprocessed, please fix those.
Removing the preprocessed files is not an option.

[2015-11-08 17:32] #65 closed

[2015-11-08 18:33] tautschnig commented on #122
I do not consider it a good idea to close this bug without permitting further discussion. First of all, mixed messages are being sent here: @PhilippWendler says the repository hosts much more than just SV-COMP files; @dbeyer is now suggesting the contrary. Second, our community does have a major weakness in providing traceability from the original benchmark source whatever ends up being the final

[2015-11-08 19:15] dbeyer commented on #122
Please be more factual and to the point:  My comment was clearly referring to SV-COMP, while Philipp was saying that the repository contains more than just SV-COMP verification tasks.  There is no contradiction at all.

Please open a new and different issue about improving traceability.  I would be much in favor of discussing this further.  The idea to increase traceability is very good.

The issu

[2015-11-08 19:24] dbeyer opened #123 "Increase Traceability and Reduce Maintenance Effort for Verification Tasks"
- How to generate the .i files automatically from the .c files?
- How to remember architecture dependencies?
- How to better reflect what the intentions of a verification tasks are and were it comes from?

[2015-11-08 19:41] delcypher commented on #59
@dbeyer This issue shouldn't be closed as ``WARNINGS_AS_ERRORS`` is still set to ``0`` in the current build system due to problematic benchmarks. Enabling ``WARNINGS_AS_ERRORS``  is going to be very difficult because many benchmarks trigger warnings.

[2015-11-08 20:04] dbeyer commented on #59
Sorry, I must have closed this issue incidentally by closing another one (#118).

[2015-11-08 22:55] tautschnig commented on #123
At a much larger scale, Linux distributions have solved these problems properly, so it's not that rocket science would be required. I had myself made attempts in the benchmarking toolkit (http://www.cprover.org/software/benchmarks/), and also benchexec has a notion of configuration files to permit reproducible results. I am happy to discuss this here in detail, or else leave it for a future in-per

[2015-11-09 08:55] delcypher commented on #123
The build system already knows what the target is (x86_64-unknown-linux-gnu or i386-unknown-linux-gnu) so that most logical thing to do is to teach the build system to build the ``*.i`` files from the ``*.c`` files. The changes needed to the build system to do this are pretty trivial and actually vastly simplifies the current implementation.

A reproducible environment is also required if you want

[2016-04-24 21:07] delcypher opened #140 "Remerge #139 ("preproc")"
It looks like #139 which was recently merged has been reverted which is a bit of a pain. If there was something wrong with the PR it should have not been merged.

Anyway I'd like to find out what you want ( @dbeyer  ) changed so the code can be remerged as a new PR.

After speaking to @PhilippWendler I'm happy to re-license the SVCB code under Apache 2.0 but I want to know:

Are there any other ch

[2016-04-25 05:40] dbeyer commented on #140
The problem with the pull request that I accidentally merged (sorry again!)
was that it mixes too many different things.
Please create separate pull requests, one for each concern.

For example, you made changes to the continuous integration.
That should be explained and documented by one pull request.

Then you contributed verification tasks.  Those should be contributed separately,
with a descri

[2016-04-25 08:40] delcypher commented on #140
@dbeyer

was that it mixes too many different things.
Please create separate pull requests, one for each concern.

This doesn't really make sense because most of these things are intertwined with each other. I can't have separate PRs in parallel because they would be interdependent.

I grant you that the TravisCI changes could be broken down further. However

* I wanted testing for the new SVCB in

[2016-04-25 08:47] delcypher commented on #140
A few ideas for a replacement name for the "SVCB" infrastructure:

* SVCBS - SV-COMP Benchmark Support (python module name ``svcbs``)
* SVCOMP-BENCHMARK-SUPPORT - " (python module name ``svcomp_benchmark_support``)
* TSIFNAS - The Support infrastructure formerly known as SVCB (not a serious suggestion ;) )

[2016-04-25 08:49] delcypher commented on #140
@zvonimir Seeing as you some interest you may wish to give your opinion here.

[2016-04-25 09:05] PhilippWendler commented on #140
Why are all these names specific for SV-COMP? As far as I see it, this repository is a benchmark suite for software verification, and SV-COMP is just one of its users. There are even tasks in this repository that are not part of SV-COMP and never will be.

[2016-04-25 10:43] PhilippWendler commented on #140
Regarding the actual proposal, I think it is way too early to merge it. There are a lot of open questions about what do we actually *want*, and these need to be discussed in the community. *Afterwards* we should talk about a design, and then an implementation could be proposed and eventually merged.

A prototype like you presented can be helpful for such discussions, so thank you for that, but we

[2016-04-25 15:33] delcypher commented on #140
@sfsiegel you may be interested in this.

[2016-04-25 17:01] sfsiegel commented on #140
I really think we should go ahead and do the merge.
People can look at it, play with it, and see what they think.
All of Phillipp's questions are reasonable, but also Dan and I have given many of them a lot of thought (with input from others) and we think we have come up with a solution that addresses them.
So I would like to see the basic system up and running with a few examples before making mo

[2016-04-25 17:10] PhilippWendler commented on #56
So as the remainder of this ticket is a duplicate of #94 I suggest to close this ticket here.

[2016-04-25 17:21] PhilippWendler commented on #55
I am closing this because `-include decls.h` is gone and so the main problem does not exist anymore. Separate issues should be created for other problems if they still exist.

[2016-04-25 17:21] #55 closed

[2016-04-25 17:23] PhilippWendler commented on #42
It appears this is fixed and the issue should be closed?

[2016-04-25 19:40] delcypher commented on #42
@PhilippWendler I thinks so. We can always repopen if it is still a problem

[2016-04-25 19:40] #42 closed

[2016-04-25 19:57] delcypher commented on #140
Because the benchmark specification format is tied to and driven by SV-COMP.  You may say that the benchmark suite is meant just for software verification but in its current state it is really tied to SV-COMP (preprocessed files, ``.prp`` and ``.set`` files are all things dictated by SV-COMP)

[2016-04-25 20:00] delcypher commented on #140
@PhilippWendler

Merging doesn't necessarily mean that the design and implementation is finalised. My intention was that the contributed code would we iterated on once merged.

[2016-04-25 20:02] delcypher commented on #140
@PhilippWendler

...

These are good questions to ask. I have thoughts about some of them but these should be discussed on the mailing list. Notably though the list has been pretty silent about this so far as I solicited for comments on some of these quite a while ago.

[2016-04-25 21:37] delcypher commented on #140
I've decided I'm not going to waste my time trying to merge this again.

Development will proceed at https://github.com/delcypher/svcomp-build-mockup and discussion can happen its issue tracker or on the sv-comp mailing list.

[2016-04-25 21:37] #140 closed

[2016-04-26 08:39] PhilippWendler commented on #120
I think that `-Werror=main-return-type` is not really worth it. We do not have any practical benefit of forbidding `void main();` declarations.

[2016-04-26 11:46] PhilippWendler commented on #106
This is done.

[2016-04-26 11:46] #106 closed

[2016-04-26 11:46] #56 closed

[2016-04-26 12:32] PhilippWendler commented on #59
I think it would be helpful to turn on `WARNINGS_AS_ERRORS` by default and turn it off for now only in those directories where it is necessary. This would serve as documentation about the current state, ensure that newly added tasks get added without warnings, and maybe motivate some people to remove the warnings from the tasks they submitted. At least we can then identify and ping the people more

[2016-04-26 12:34] PhilippWendler commented on #121
Which directories contain the incorrectly preprocessed files that you have found? Is it only heap-manipulation?

[2016-04-26 13:28] delcypher commented on #121
@PhilippWendler I'm afraid this is too long ago for me to remember. Using a recent clang with ``-Werror=incompatible-library-redeclaration`` will probably allow you to pick up which directories have at least some of the problems.

[2016-04-27 12:18] PhilippWendler commented on #121
I did this, the list of affected directories is this:

[code]

The full list of files is in [incompatible-library-redeclaration.txt](https://github.com/sosy-lab/sv-benchmarks/files/238563/incompatible-library-redeclaration.txt).

Maybe this is also the cause for some of the undefined behavior reported in https://github.com/runtimeverification/evaluation/tree/master/svcomp-benchmark

In some files,

[2016-04-27 13:15] delcypher commented on #121
Oh wow. It's more serious than I thought. I would consider this yet another reason to avoid preprocessed source files or at the very least avoid letting humans do the preprocessing.

As this effects so many benchmarks I would recommend this is discussion is moved to the mailing list as this potentially affects many benchmarks.

[2016-06-30 15:48] ottseb opened #143 "Not all tasks from the termination set are preprocessed"
The following files contain #include statements:

termination-crafted/LexIndexValue-Array_true-termination.c
termination-crafted/SyntaxSupportPointer01_true-termination.c
termination-crafted/4BitCounterPointer_true-termination.c
termination-crafted/LexIndexValue-Pointer_true-termination.c
termination-crafted-lit/cstrcmp_true-termination.c
termination-crafted-lit/cstrncmp_true-termination.c
termina

[2016-10-12 09:01] PhilippWendler commented on #59
@delcypher I think if we want to get process on this we need to have strict checks as default and only loosen them specifically for some directories where this is (still) needed. This way we can always look at the exceptions and see where work is still necessary. I hope that this would improve working on fixing the benchmarks.

Currently nobody knows what kind of warnings need to be taken care of

[2016-10-12 10:07] delcypher commented on #59
@PhilippWendler

The build system already supports enabling/disabling warnings on a per directory basis. Here is what you need to do.

1. Merge #149 to make debugging easier for yourself
2. Change `WARNINGS_AS_ERRORS ?= 0` in `Makefile.config` to `WARNINGS_AS_ERRORS ?= 1`.
3. For directories where you need to disable `WARNINGS_AS_ERRORS` you can add this line

[code]

to the `Makefile` for that di

[2016-10-12 11:24] PhilippWendler commented on #59
Can we disable individual warnings/errors per directory?

How can I do what you suggest without breaking the Travis build? Is it possible to make `SUPPRESS_WARNINGS` and `WARNINGS_AS_ERRORS` compatible? Should we simply redirect warnings to a file or `/dev/null` on Travis? Or pipe them through `head` to see at least some of them?

[2016-10-23 03:06] inkytonik commented on #89
Does anyone have any comment on this one? In the last SV_COMP two tools said that this program was incorrect (ours was one) but many tools said it was correct. It would be good to either get an explanation for why it's ok or get it reclassified to the false side for the next SV-COMP.

[2016-10-23 03:08] inkytonik commented on #79
Any comment on this one?

[2016-10-23 10:46] PhilippWendler commented on #89
I suggest contacting the original benchmark authors as indicated in the Readme of this directory and pointing them to these issues.

[2016-10-23 11:03] PhilippWendler opened #164 "Should pull requests add new benchmarks to categories?"
When a pull request is made with new benchmarks, should the pull request also add these benchmarks to some category?

Currently this is handled inconsistently.

If new benchmarks are added to an existing directory, the existing file patterns in the category files also often match the new files, so they get implicitly added to the category.

For pull requests that add a new directory, some of them

[2016-10-23 11:11] PhilippWendler opened #165 "Define and check license requirements"
We should discuss what licenses are acceptable for benchmarks, i.e., what kind of rights to we need to be granted in the license.

I would list at least the following requirements:
- use the files
- change the files (e.g., preprocessing, when we find a bug, or change some `__VERIFIER_*` specifics)
- redistribute, both original and changed
- do all of this commercially (we don't want to prevent aut

[2016-10-23 23:46] inkytonik commented on #89
Ah, ok. I had assumed that once contributed, this repository would be the best place to discuss changes. I will try to dig up an email address for the authors...

[2016-10-23 23:50] inkytonik commented on #89
I've emailed the ESBMC project who contributed the c/loops category so hopefully someone from there will comment soon.

[2016-10-23 23:53] inkytonik commented on #79
I've mailed the ESBMC project who contributed the benchmark to get their feedback.

[2016-10-24 04:31] PhilippWendler commented on #89
I agree that changes to the benchmarks should be discussed here, but the original authors are the ones that can best answer your questions and might not have yet noticed your issues here, so one might need to tell them.

[2016-10-24 10:30] mutilin commented on #120
I also do not see any practical benefit

[2016-10-24 13:34] mikhailramalho commented on #89
Hi all, team ESBMC here.

I agree with Anthony, we should focus on fixing the benchmarks here. Contacting the authors is good for guidance but that's ultimately not necessary.

About the benchmark, I can't see why it should fail. Do you have a witness or a counterexample that shows the error? That will make the discussion easier.

[2016-10-24 20:34] inkytonik commented on #89
Thanks for your response. I was thinking that x = {1, 0, ...} and k = 0 causes the __VERIFIER_assert(0) to be called. But maybe what I'm missing is that x is initialised to zero values, so this case can never happen. Is that what was intended by the benchmark?

[2016-10-24 20:49] mikhailramalho commented on #89
Yep, the arrays are global and should be zero initialized.

[2016-10-24 22:44] inkytonik commented on #89
Right, my rusty C skills coming to the fore. Thanks for the clarification and sorry for bugging you with a trivial issue.

[2016-10-24 22:44] #89 closed

[2016-10-25 08:10] delcypher commented on #120
The benefit in principle would be trying to discourage people from using implementation defined signatures for `main()`. The C standard allows implementation defined signatures but unless there is a good reason for doing this why not just use one of the signatures actually defined by the C standard?

http://stackoverflow.com/questions/9356510/int-main-vs-void-main-in-c

[2016-10-25 18:39] PhilippWendler opened #167 "Document requirements for benchmark submission"
The following list of things is my check list for assessing pull request with new benchmarks.
Each of these items should probably be mentioned in the [documentation](https://github.com/sosy-lab/sv-benchmarks/blob/master/README.md#how-to-submit-verification-tasks-to-this-public-repository).
- [x] license present and acceptable (cf.  #165)
- [x] readme present
- [ ] architecture (32 bit vs. 64 bit)

[2016-10-28 18:42] PhilippWendler opened #170 "Categories with inconsistent architectures"
The category `HeapReach` is a 32-bit category, but it contains benchmarks from the directory `ldv-regression`, which are claimed to be 64 bit.

The reverse is true for the 64-bit category `Termination`, which recently got added the 32-bit files in `product-lines` (db70dcd).

[2016-10-29 15:03] dbeyer commented on #170
Two solutions seem obvious:
(a) Split the category into two sub-categories (a sub-category can have own parameters);
      this has implications on the (weighted) scoring (which might perhaps even be desired)
(b) Pre-process the other files from HeapReach for 32 bit;
      this has the advantage to keep the category structure smaller

What do you think?

Action items:
for (a), I would take care of

[2016-10-29 15:13] dbeyer commented on #165
Requirements added to [description](https://github.com/sosy-lab/sv-benchmarks/blob/master/README.md#license).

[2016-10-29 15:28] dbeyer commented on #167
Great idea!  Thanks.
Done: [checklist](https://github.com/sosy-lab/sv-benchmarks/blob/master/README.md#checklist-for-assessing-new-verification-tasks)

[2016-10-29 15:30] dbeyer commented on #164
Yes, the pull request needs to add the program to an existing sub-category or
establish a new one.
Added to [requirements](https://github.com/sosy-lab/sv-benchmarks/blob/master/README.md#category)
Thanks!

[2016-10-29 15:31] dbeyer commented on #143
Could you please pre-process and adjust the .set file?

[2016-10-29 15:45] dbeyer commented on #167
Question: What is the trick for the markdown to show click boxes?

[2016-10-29 15:48] kfriedberger commented on #167
- either "add task list" from the buttons above the editor.
- or type "- [ ]"

[2016-10-29 17:52] #164 closed

[2016-10-31 06:20] PhilippWendler opened #172 "Merge some subcategories of "Integers and Control Flow"?"
From the description of the subcategories `ControlFlow` and `Loops`, it is not clear why these two categories are separate. After all, at least the programs in `ssh-simplified` and `locks` also contain a crucial loop.

So maybe we should either merge the two subcategories or improve their description, because in #160 it is not really clear where to put the new files. @cheshire you have worked a lo

[2016-10-31 06:32] PhilippWendler commented on #170
I would prefer a solution that does not change the weighting. The weighting should be used for conceptual score adjustments IMO (like cases where we have thousands of similar files), it should not be influenced by purely technical issues.

For (b), a new pre-processing might not be enough, the original authors would need to answer this.

[2016-10-31 06:38] PhilippWendler opened #173 "Unused files in ldv-regression"
The directory `ldv-regression` contains files `test[01..30]*.c` that are not matched by any of the patterns in the category definitions, thus they are unused. It seems this is the case for at least 3 years. What was the intention for these files? Should we include them?

[2016-10-31 08:12] PhilippWendler opened #174 "Problem with ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--media--video--videobuf-vmalloc.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c"
4 years ago in 8344f7e there was a report that the file `ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--media--video--videobuf-vmalloc.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c` might contain a counterexample:
[code]

What should we do with this? @dbeyer who sent this problem report?

[2016-10-31 08:43] dbeyer commented on #174
Aws Albarghouthi on Oct. 17, 2012, via the (previous) e-mail list.
Subject was "[SV-COMP: 59] DeviceDrivers64 issues"

On 2016-10-31 09:12 AM, Philipp Wendler wrote:

[2016-10-31 09:23] cheshire commented on #172
@PhilippWendler hey, I would be a very strong -1 on merging "Loops" with other sub-categories.

Due to various reasons, "Loops" is the only group of benchmarks in the repository which requires complex  numerical invariants, and can not be solved with enumerative techniques.
Thus for tools which focus on such invariants (all traditional abstract interpretation techniques, including Frama-C, Astree,

[2016-10-31 09:26] PhilippWendler commented on #172
@cheshire Thanks. Could you please have a look into the new files in `loop-industry-pattern` whether they match what you expect from this category?

[2016-10-31 12:38] mutilin commented on #173
Yes, we should include them. These benchmarks were contributed by Mikhail Mandrykin for testing pointer arithmetic. I think they were removed accidentally togher with CIL files also having extension *.c

[2016-10-31 12:51] mutilin commented on #170
It looks like benchmarks in directory `ldv-regression` were preprocessed for 32 bit architecture.
For example, in `recursive_list.c_false-unreach-call.i` there is a structure
[code]
which has size of 8 bytes, thus 4 bytes for `int` and 4 bytes for pointer `void*`

So the benchmarks in directory `ldv-regression` are OK for the category `HeapReach`
`return malloc(8U);`

[2016-10-31 12:53] mutilin commented on #173
I think that *.cil.c files were remeved as far as we we have the originals *.i files but not preprocessed with CIL

[2016-10-31 13:04] #173 closed

[2016-10-31 14:07] PhilippWendler commented on #143
@ottseb does not have good internet access currently, probably somebody else has to do it.

[2016-11-01 10:21] PhilippWendler commented on #170
Now we only need a solution for the 32-bit benchmarks in `Termination`.

[2016-11-01 11:11] PhilippWendler opened #184 "Fix BusyBox benchmarks to make them usable"
The files in the `busybox-1.22.0` directory should be brought into a shape that makes it possible to use them in some category.

Unfortunately, I do not know what exactly needs to be done.
@mdangl, if I remember correctly you once looked at them? Can you repeat your findings here, please?

[2016-11-01 11:14] PhilippWendler opened #185 "Many files in float-benchs have no known verdict"
It seems they were submitted by Antoine Mine (cf. 54069e2), maybe we should contact him.

[2016-11-01 11:21] PhilippWendler opened #186 "Some files in termination-memory-alloca not included in Termination category"
1514524 from #19 added some files to the `termination-memory-alloca` directory, but these files were never added to some category so they are not used. @letonchanh, was the intention to add them to the Termination category?

In any case, it might be better to move these files to a separate directory, because the readme in this directory does not fit these files (it claims a different contributor).

[2016-11-01 18:40] mdangl commented on #184
Sure. Off the top of my head, I remember the following issues:

1. The tasks usually expect command-line parameters and were prepared such that instead, these parameters are nondeterministically generated. However, in this preparation step, there are uninitialized local variables, causing undefined behavior. This is easy to fix.
2. Also in the part where the artificial command-line parameters are

[2016-11-01 18:48] leostrakosch opened #187 "Explicit null-pointer access in memsafety-ext/tree_dsw_true-valid-memsafety.c"
In task [`memsafety-ext/tree_dsw_true-valid-memsafety.c` , line 69](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/memsafety-ext/tree_dsw_true-valid-memsafety.c#L69), one can find the following statement:
`((struct TreeNode*)NULL)->left = NULL;`

To me, this seems like an undefined null-pointer access.
Can anyone help me make sense of the meaning of this statement?

The surrounding code i

[2016-11-02 09:41] mdangl commented on #184
Now, let me try to analyse some calls to ``__VERIFIER_error`` in these tasks:
In several tasks, in the beginning of the main function there is the following assertion:

[code]

Since ``optind`` seems to always be 0 at that point, this is basically a complex way of saying the array of command-line arguments ``argv`` must not be ``NULL``.
Since we explicitly initialize the command-line arguments bef

[2016-11-02 09:48] mdangl commented on #184
Another thing I just thought about: Some tasks seem to (reasonably) expect argc to be at least 1, because as far as I know, there is always at least the name of the executable in the array of command-line parameters in C. So ``__VERIFIER_assume(argc>=0);`` should probably be ``__VERIFIER_assume(argc>=1);`` in all of these tasks.

[2016-11-03 07:45] PhilippWendler commented on #184
@tautschnig?

[2016-11-03 08:31] mutilin commented on #94
As far as I understood it is fixed

[2016-11-03 08:33] mutilin commented on #84
Fixed

[2016-11-03 08:49] mutilin commented on #174
I think it is better to remove the benchmark

[2016-11-03 09:07] PhilippWendler commented on #84
More precisely, fixed in be1e71f4f53eef2207772ed95f06192b5d779acf

[2016-11-03 09:07] #84 closed

[2016-11-03 10:30] cheshire commented on #172
@PhilippWendler I would say "yes" for this competition.
In general, I don't currently know how to verify `aiob_*` files, maybe with a fixed array length the easiest thing is just unwinding.

[2016-11-03 10:44] PhilippWendler commented on #172
So only the suggestion to merge `Simple` and `ControlFlow` remains. @dbeyer?

[2016-11-03 10:46] cheshire commented on #172
@PhilippWendler seems a good idea to me. I never understood how and why the files in `Simple` are simple. Maybe later we would like to create some true "simple" category for newcomers.

[2016-11-03 10:55] PhilippWendler commented on #94
I don't know. In the last relevant commit to this directory (edc4741d77b4564c90c41825d4aedd8a5142f48d), @delcypher claimed that the problem persists.

[2016-11-03 10:56] PhilippWendler commented on #172
@cheshire "simple" means simple to parse, no complicated C features, not simple to verify.

[2016-11-03 11:09] #174 closed

[2016-11-03 11:55] cheshire commented on #172
And programs currently in "simple" are anything but.

[2016-11-03 13:38] delcypher commented on #94
@mutilin @PhilippWendler No this is still broken

Try

[code]

I get output like this

[code]

The only reason that TravisCI doesn't currently fail is because I put in a hack to prevent the `regression` directory being traversed when building with clang.

You can see this at

https://github.com/sosy-lab/sv-benchmarks/blob/dfe81a39cb0594c0870b011907bee9ec167ba09e/c/Makefile#L70

[2016-11-03 16:38] mutilin commented on #94
fixed in #189

[2016-11-03 19:17] dbeyer commented on #184
What means "and add them to some category"?  They are a subcategory of category "SoftwareSystems" (just like what we started with last year).

On 2016-11-03 08:45 AM, Philipp Wendler wrote:

[2016-11-03 19:46] dbeyer commented on #172
Those with interesting array things to analyze should be moved to the category on arrays.

On 2016-11-03 11:30 AM, George Karpenkov wrote:

[2016-11-03 21:14] Guoanshisb opened #191 "Invalid memory access in DeviceDriversLinux64"
Hi guys,

I found several problematic benchmarks that contain invalid memory access in DeviceDriversLinux64 category. For each benchmark, I will briefly describe the problem and its witness file can be found in a github repo (https://github.com/Guoanshisb/BenchmarksWithInvalidDerefs).

[ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--media--dvb--dvb-usb--dvb-us

[2016-11-04 15:51] PhilippWendler commented on #184
The task [dirname_true-unreach-call](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/dirname_true-unreach-call.c) does not have a call to `__VERIFIER_error`.

[2016-11-04 16:40] #94 closed

[2016-11-06 22:10] mdangl opened #193 "Uninitialized variables in floats-esbmc-regression"
@mikhailramalho
The \*nondet\* files contain uninitialized variables.
Instead, they should use e.g. __VERIFIER_nondet_float() or __VERIFIER_nondet_double().

[2016-11-07 07:38] PhilippWendler opened #194 "Improve compilation checks"
It would be good to improve the compilation checks that are executed for all benchmarks:
- [ ] Read architecture of files from official `Category.cfg` instead of `Makefile` to avoid the need to specify it twice.
- [ ] New files and directories should be picked up automatically, without need to explicitly list them in another file.
- [ ] Do not abort on first error, but show all errors.
- [ ] Enabl

[2016-11-07 08:28] mikhailramalho commented on #193
Sorry about that.

Pull request #195 fixes the issue.

[2016-11-07 09:06] #193 closed

[2016-11-07 16:17] delcypher commented on #194
@PhilippWendler

The `Category.cfg` files did not exist when the build system was written. If they did I may have tried using them. I don't consider the current build system to be particularly good however everything you list is probably possible.

## Repository meta-data organisation

However I feel compelled to point out I'm not happy with the `Category.cfg` file (or any of the other files that

[2016-11-07 20:13] PhilippWendler commented on #194
@delcypher Many thanks for your response!

This is probably a topic for a different issue, I just want to give a single comment:

The build system is the least important consumer of these metadata. Other people that want to use these tasks for benchmarking are the ones for who we should make it as easy as possible.
Verifiers that want to verify a task are *no* direct consumers at all, they won't s

[2016-11-07 20:45] dbeyer commented on #194
@PhilippWendler Thanks for the detailed answers and explanations, which fully match my intentions.

@delcypher When I introduced the new structure with the .prp and .cfg files, I had two goals in mind:
- keep it as simple as possible for users of the repository of verification tasks
- focus on the current set of requirements

I do not work according to Waterfall process model, more like Scrum.
The

[2016-11-08 08:57] mutilin commented on #191
All benchmarks in ldv-consumption directory are using parameters var_groupN which are not initialized. Why  only this 3 drivers are causing problems?

[2016-11-09 10:13] kfriedberger commented on #143
There are more files that need preprocessing (and updating the set-file afterwards):
termination-recursive-malloc/*.c

[2016-11-09 10:53] cgcgbcbc opened #199 "question on array_ptr_partial_init_true-unreach-call"
This file is marked as true, but according to the [standard](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf) `If the space cannot be allocated, a null pointer is returned.` (section 7.22.3).
[code]

[2016-11-09 11:17] PhilippWendler commented on #199
The [SV-Comp rules](http://sv-comp.sosy-lab.org/2017/rules.php#programs) specify that `malloc` is assumed to never return `null`.

[2016-11-09 23:58] Guoanshisb commented on #191
Hi @mutilin,

Based on my observation, it is because dereferencing some uninitialized function pointers that are reachable from these parameters results in calling functions that lead to assertion failure (let's call them buggy functions). In some benchmarks, buggy functions do not match the signature of these uninitialized function pointers while others do as those that I pointed out in my previo

[2016-11-10 08:42] kfriedberger opened #201 "counterexample for array-industry-pattern/check_removal_from_set_after_insertion_true-unreach-call.i"
The file `array-industry-pattern/check_removal_from_set_after_insertion_true-unreach-call.i` contains a bug.
The error can be reached with the following assignments: `SIZE=2; values={0,0}; element=0;`.
Error found with CPAchecker :-)

Suggestion: rename the file (.c and .i file)

[2016-11-10 09:02] kfriedberger commented on #201
@anushrijana #160 :
Could you have a look at the mentioned task and confirm the renaming?
Or do you want to provide a fixed source file?

[2016-11-10 11:58] anushrijana commented on #201
please change the file name.

[2016-11-10 11:59] kfriedberger commented on #201
renaming done.

[2016-11-10 11:59] #201 closed

[2016-11-11 21:12] zvonimir commented on #121
Hi all. Are there any plans for this to be fixed?
We are experiencing these issues in the memory safety category. We could create a patch that will fix just the benchmarks we are observing problems with, but that is clearly not the best solution. Having said that, if SVCOMP-wide solution is not feasible at this point, then we will work on submitting targeted fixes.

[2016-11-13 20:33] zvonimir commented on #191
@mutilin It could as well be that other benchmarks contain similar problems. It is hard to say why SMACK is not discovering these problems in other benchmarks. Maybe they are in the parts of the code that is irrelevant for a particular property being checked. Maybe SMACK times out on other benchmarks that have this problem. We can certainly not guarantee that SMACK can find all such problems.

Hav

[2016-11-14 06:05] #59 closed

[2016-11-14 06:23] PhilippWendler commented on #120
`-Werror=return-type` is already implicitly enabled by `-Wall -Werror`.

There seems to be no practical benefit of `-Werror=main-return-type` (as in "solving problems that people have"), so I am closing this issue until there are further arguments.

[2016-11-14 06:23] #120 closed

[2016-11-14 07:37] PhilippWendler commented on #121
@zvonimir Unfortunately, only very few people seem to care about this because there have been few contributions towards this, and the people that work on this have only limited man power. So if you want to get this fixed, please help and encourage others to help.

Since e2a1165 the build system shows which benchmarks potentially have problems with incorrect pre-processing because clang issues a wa

[2016-11-14 08:37] PhilippWendler commented on #121
I created proposed fixes for the directories that I know: `bitvector-regression` (#208), `loops` (#206), `ntdrivers` and `ssh` (#205), and `product-lines` (#204). In all these cases there was a better solution than doing a new pre-processing: I fixed manually-written declarations manually, and replaced a few preprocessed files with their non-preprocessed sources.

In `ntdrivers`, there are actuall

[2016-11-14 10:13] PhilippWendler commented on #143
@Heizmann the files in `termination-crafted-lit` and `termination-crafted` are from you?

The files in `termination-recursive-malloc` are from @furgee.

[2016-11-14 10:18] PhilippWendler commented on #7
While the mentioned issues have been fixed, there are still several open problems, where we might need to contact the original submitters.

Lists of open issues are
- the [issues on GitHub](https://github.com/sosy-lab/sv-benchmarks/issues?q=is:issue+is:open+label:"issue+with+benchmark")
- the [known problems in `check.py`](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/check.py#L29)
- the

[2016-11-14 15:07] #199 closed

[2016-11-15 09:34] delcypher opened #209 "Some ntdrivers-simplified have tautological comparisions"
[code]

[2016-11-15 09:42] delcypher opened #210 "seq-pthread benchmarks have misleading indentation"
[code]

[2016-11-15 09:50] delcypher opened #211 "loop-industry contains declaration that apparently doesn't declare anything"
gcc 6.2.1 emits these warnings

[code]

Here's a snippet of the offending code

[code]

Note `nozomi5nozomi5_4290_M` is just a type and in the `__pthread_mutex_s` struct it is used but no member name is given so I don't think anything is declared.

[2016-11-15 10:29] delcypher opened #213 "Repository metadata redesign should be considered"
This is reposting of a comment I made in #194 to make it a separate issue.

I'm not happy with the Category.cfg file (or any of the other files that describe the verification tasks for that matter). When organising benchmarks we have a choice, have a single file describe everything about a benchmark (which is what I went for when I made the [sv-comp mock up](https://github.com/delcypher/svcomp-bui

[2016-11-15 10:50] delcypher commented on #194
@PhilippWendler

Verifiers that want to verify a task are no direct consumers at all, they won't see these files anyway but will be only passed the pieces they need to know (e.g., architecture and property but not expected verdict obviously).

I've create #213 for this. But I don't agree with "Verifiers that want to verify a task are no direct consumers at all". If you want the benchmark suite to

[2016-11-21 09:13] PhilippWendler opened #225 "Add -Wno-builtin-requires-header globally?"
For some directories, Clang complains about `declaration of built-in function '%0' requires inclusion of the header ....h`. It seems this is not something we can avoid as long as we have preprocessed benchmarks. Thus I suggest to add `-Wno-builtin-requires-header` to `DEFAULT_CLANG_WARNINGS` in `Makefile.config` to disable this warning globally.

@delcypher Did I understand this situation correctl

[2016-11-21 10:08] mutilin commented on #191
See #226 for example N1

[2016-11-21 10:56] AndrianovPavel commented on #191
@Guoanshisb In the benchmark ldv-linux-3.16-rc1/205_9a_array_safes_linux-3.16-rc1.tar.xz-205_9a-drivers--net--usb--rtl8150.ko-entry_point_true-unreach-call.cil.out.c (the fourth one) `rtl8150_probe` could not be called before  `rtl8150_driver_init`, which correctly allocates memory for `rtl8150_driver_group1`

[2016-11-21 19:53] mchalupa opened #230 "Benchmarks depending on undefined functions in DeviceDriversLinux64"
Hi,

in those benchmarks there are calls to functions (or dereference of an external variable in one case) that are not defined and then a decision is made based on the return value (I linked exact lines):

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-4.2-rc1/linux-4.2-rc1.tar.xz-32_7a-drivers--net--usb--cdc_subset.ko-entry_point_true-unreach-call.cil.out.c#L6096

https://gith

[2016-11-21 20:06] mchalupa commented on #187
IMO this is OK as long as the (pred != root) condition is unsatisfiable, that is, if that statement can not be executed. If it is the case, then there's no undefined null-pointer access, right?

[2016-11-22 05:42] PhilippWendler commented on #230
It is my understanding that extern functions should just be treated as returning a nondeterministic value. If their precise semantics is not important for the safety of the benchmark, we should just leave them as they are IMHO.

[2016-11-22 14:11] delcypher commented on #225
@PhilippWendler What particular built-in is '%0'? Can you point me to an example?

[2016-11-22 14:59] PhilippWendler commented on #225
`%0` from the clang documentation is a place holder for various functions that clang prints in this place. With `make CC=clang-3.8 CLANG_WARNINGS=` in `busybox-1.22.0` you see for example

[code]

[2016-11-22 15:31] delcypher commented on #225
@PhilippWendler Thanks for providing an example. I guess suppressing the error is the only thing that can be done if preprocessed source files are used. You could use `-Wno-error=builtin-requires-header` to the error back into a warning though so the warning still appears but have it not break the build.

[2016-11-22 16:04] #225 closed

[2016-11-22 20:35] mchalupa commented on #230
That is the problem - when we treat the undefined functions as returning non-deterministic value (which is what we do), we get different results than when we just ignore them. That is why I investigated these benchmarks and filed this issue.

[2016-11-22 20:38] mchalupa commented on #209
Are tautological comparisons a problem? (except that they flood the output when compiling with warnings)

[2016-11-22 21:00] mchalupa opened #232 "Incorrect labeling of two ldv-regression benchmarks"
Hi,

as far as I can say these two benchmarks are incorrectly labeled:
[code]
I put the reasons as comments to the sources:

[code]

If you want a real experience, then change the first two lines to this:
[code]
compile & run & see :)

For the other benchmark:
[code]

Can somebody, please, confirm this?

Thanks,
Marek

[2016-11-22 23:18] zvonimir commented on #184
What are we doing with busy box in the end?
We are still observing numerous problems. The problem that I attempted to fix in pull request #204 still persists.

[2016-11-23 10:07] PhilippWendler commented on #230
What do you mean by "just ignore them"? What is the difference to assume a nondet return value?

[2016-11-23 10:10] PhilippWendler commented on #209
Such warnings can show potential problems with the benchmarks (e.g., if there is some `x >= 0` in the code and we change `x` to be `unsigned` because of overflows), but IMHO for old code like this here we can probably ignore them. At least I wouldn't know whether there is something to fix here, and the people that have created these benchmarks are no longer around. And the warnings here do not see

[2016-11-23 10:15] PhilippWendler commented on #232
@mutilin maybe? Or @AndrianovPavel?

[2016-11-23 11:23] mchalupa commented on #230
Ignore was not the right word - we put there some concrete value (like 0). Since the benchmark should not depend on the returned value of undefined function, the value put there should not make any difference, but it turns out that it does in some cases.

[2016-11-23 12:37] mutilin commented on #232
See #233

[2016-11-23 12:40] mutilin commented on #230
that is not true for LDV benchmarks

[2016-11-23 13:28] #232 closed

[2016-11-26 18:30] tautschnig commented on #44
This benchmark is almost the same as c/bitvector-loops/verisec_sendmail__tTflag_arr_one_loop_false-unreach-call.c, if it weren't for the declaration of "i" as `unsigned`. Both of which exist in verisec (cf. https://github.com/cirosantilli/frama-c/tree/439bddd91e0686429a585ec3ae28200b60a31e8b/tests/verisec/suite/programs/apps/sendmail/CVE-2001-0653/tTflag).

As it is, it could either be used to rul

[2016-11-26 18:34] tautschnig commented on #72
@dbeyer According to `git log --follow` those have been submitted by Sagar Chaki. Would you be able to chase this up?

[2016-11-26 19:04] tautschnig commented on #121
@PhilippWendler could we please document (in the README file in the long run, but as first step just in here) what the system is we should be preprocessing on, and what the exact command to use is? At present, the README just says use "cpp -P or something similar". I'd be very happy to help, but frankly I don't know what system to use so as to avoid massive changes, or having to review massive cha

[2016-11-26 19:09] #77 closed

[2016-11-26 19:15] tautschnig commented on #123
So #121 is all about this, and there are discussions on the mailing list. I think we have a vast collection of technical solutions proposed. @PhilippWendler @dbeyer It's now a question of what can be implemented within the constraints of the competition run-time system, or for what there is willingness to implement it.

[2016-11-26 19:19] tautschnig commented on #143
@jhensel Could you please create a pull request?

[2016-11-26 19:22] tautschnig commented on #165
@PhilippWendler What is the procedure here? I would be happy to contribute the information for the missing float-* (BSD license), but I don't know how to take action.

[2016-11-26 19:22] #79 closed

[2016-11-26 19:23] tautschnig commented on #167
@PhilippWendler Shouldn't this issue be closed with 08354b9?

[2016-11-26 19:24] PhilippWendler commented on #165
@tautschnig Just add a PR with a LICENSE.txt in the respective directories.

[2016-11-26 19:25] PhilippWendler commented on #167
I think it would be good to add an explanation to the documentation for each of the points, such that submitters can actually fulfill the requirements. Now it is more a checklist only for people that already know what each point means.

[2016-11-26 19:27] tautschnig commented on #170
@PhilippWendler Is this now just a matter of appropriately preprocessing files? There is some discussion in #205.

[2016-11-26 19:31] tautschnig commented on #184
Apologies for joining the party late. So busybox is just off-the-shelf software and the properties that had been included were those that 1) CBMC could auto-generate and 2) were expressible in C. If anyone has better infrastructure for adding properties to code I'd be very happy to see that applied here.

[2016-11-26 19:34] tautschnig commented on #185
@dbeyer Would you mind getting in touch with Antoine? Otherwise I'd opt for marking all of them either true or false (whichever people think is the better starting point), until proven otherwise.

[2016-11-26 19:36] tautschnig commented on #186
With an unknown license state and @letonchanh not stepping up the safest thing to do would be to revert 1514524, and then possibly re-open #19.

[2016-11-26 19:39] tautschnig commented on #187
@leostrakosch Do you have a counterexample that would cause `pred != root`? If so, the benchmark should be renamed to false-valid-memsafety. If there is no such counterexample, the issue should be closed.

[2016-11-26 19:39] PhilippWendler commented on #186
Probably contacting @letonchanh via mail would be a good idea.

[2016-11-26 19:41] tautschnig commented on #191
@Guoanshisb With @AndrianovPavel's further comment, are all issues covered by either a pull request or that final comment? If so, this issue should be closed.

[2016-11-26 19:42] PhilippWendler commented on #170
No, the preprocessing has nothing to do with this. These files are marked as 32-bit, and pre-processing them on a 64-bit system would not guarantee to create valid 64-bit benchmarks.

So if we want to keep these benchmarks in the `Termination` category, I think we need either a sub-category `Termination64` or a way to have subsets of a category with differing architectures.

[2016-11-26 19:52] tautschnig commented on #209
Looking at ntdrivers/cdaudio_false-unreach-call.i.cil.c, which ought to be the more complete version of that benchmark, there is nothing to suggest that `status == status` even remotely makes sense.
[code]
Has become
[code]
That is, somehow all the branching conditions have been inverted. The closest match of `status == status` would be `DeviceObject->Flags & 16384UL`. Maybe code in "Simple" just

[2016-11-26 19:57] PhilippWendler commented on #121
Currently there are no such requirements, except that no line markers are generated and that the architecture matches. In practice almost all benchmarks have been preprocessed with GCC and its standard library so far. I'm not in the position to impose any requirements, but I would suggest to use `gcc -P -E -m<arch>` on a recent Ubuntu LTS.

I am afraid there is no way to avoid generating massive c

[2016-11-26 19:58] tautschnig commented on #210
@mikhailramalho That benchmark appears to have been submitted by Omar; is there any original source to it? Indeed the code:
[code]
looks like it might be missing a pair of { } as presumably `q->head++` was the original `else` block.

[2016-11-26 20:04] tautschnig commented on #211
@PhilippWendler has fixed this in 3052c4f24.

[2016-11-26 20:04] #211 closed

[2016-11-26 20:06] tautschnig commented on #230
@mutilin Why can't we use __VERIFIER_nondet_* in place of those functions? We have been fighting over various undefined behaviours in numerous benchmarks, so we should really not have any such undefined functions left.

[2016-11-26 20:12] jhensel commented on #143
@tautschnig My pull request has already been merged.

[2016-11-26 20:13] PhilippWendler commented on #230
Replacing lots of functions in benchmarks would be a considerable effort when preparing benchmarks. @mutilin and this colleagues would like to have verifiers that they can apply to Linux kernel source as easily and with as least modifications as possible (cf. Evgeny's mails on the list). And I agree that a verifier that cannot handle undefined functions in a graceful manner seems not really helpfu

[2016-11-26 20:27] mchalupa commented on #230
I agree that verifiers should be able to handle such function, but we should state it somewhere (or is it somewhere and I missed it?). However, in some benchmarks there are also things like:

[code]

where `__kmalloc()` is undefined and the code uses `kmalloc` for memory allocation. I suppose that in these cases the verifier should assume that kmalloc allocated memory and not that kmalloc can retu

[2016-11-26 20:41] mikhailramalho commented on #210
Indeed it looks wrong. It was definitely preprocessed by cseq (not sure which variant).

@trucnguyenlam care to join the thread? Do you guys have the original source?

[2016-11-26 21:57] tautschnig commented on #7
I've tried to do at least the administrative changes in #239. I believe that all the remaining ones of `check.py` are already being tracked as issues, except for termination benchmarks marked "unknown-termination".

[2016-11-26 22:10] tautschnig commented on #186
Just a warning about my own PR: #239 would add those benchmarks to Termination. But then I can of course remove the specific commit doing so.

[2016-11-26 22:18] tautschnig commented on #170
If we could get hold of the original product-lines files, before Cil corrupted them, we could safely use them both in 32 and 64-bit configurations. Those were contributed by Alex von Rhein, FWIW.

If we cannot do this, we need to remove them from Termination as product-lines makes specific assumptions about bit width of struct members.

[2016-11-26 22:23] tautschnig commented on #143
This has been fixed in 34647df1c.

[2016-11-26 22:23] #143 closed

[2016-11-27 00:44] tautschnig commented on #165
ce25410 of #239 adds license files for floats-cbmc-regression, floats-cdfpl, pthread-wmm (and busybox, but that wasn't essential).

[2016-11-27 00:56] tautschnig commented on #230
It might be good to at least capture the assumption "invoking a function where no definition is provided yields a non-deterministic value, but does not cause any other side effects." Furthermore I'm worried about all cases where a pointer is returned, or a struct containing pointers, and those pointers are later dereferenced in some form. The reason I'm wondering is that witness checkers might hav

[2016-11-27 02:12] tautschnig commented on #184
The main problem is that the "interesting" properties on these benchmarks would be all about checking string accesses/array bounds. And those properties are a lot harder to express in C...

[2016-11-27 08:05] PhilippWendler commented on #170
First, it is not guaranteed that the original files are architecture-independent (probably they are, but not guaranteed). Second, these programs were generated by weaving several original parts together with a tool chain that AFAIK directly includes CIL, so there never were original C files (just files in a language that is an aspect-oriented extension of C).

Would be sad if we need to remove the

[2016-11-27 08:07] PhilippWendler commented on #170
Btw, you can download the original product-lines sources here: http://www.infosun.fim.uni-passau.de/spl/FAV/_static/download/ICSE13/Productline_features_C.zip

[2016-11-27 08:15] PhilippWendler commented on #230
Documenting this is always good.

For witness validation, I would not expect many problems. These are `unreach-call` benchmarks, so verifiers should ignore all memsafety problems and just continue (and for example, CPAchecker does so).

Although now that I am thinking about it, there is a general problem with witness validation in CPAchecker and nondet pointers, but this could also occur with the

[2016-11-27 10:35] mdangl commented on #184
To sum up my interpretation of this discussion, so that a decision can be made for SVCOMP'17:

A verification task consists of two things: a system and a specification.
Here in "BusyBox", we have an interesting system, so the first hurdle is taken.
However, we do not have a sensible specification to check, so that "BusyBox" right now does not qualify as a set of verification tasks.

Coming up with

[2016-11-27 15:52] tautschnig commented on #184
I do completely agree with @mdangl's summary. Thus: Close #204. I would suggest tagging this issue "SVCOMP'18". @dbeyer I'm not sure what the mechanics of removing a full category are.

[2016-11-27 16:16] tautschnig commented on #170
Thanks a lot for the pointer to the original sources. Arguably the tool has done a lot of work, and while Cil could be configured so as not to modify all struct accesses, we aren't really in a position to make those tweaks I assume.

I have created #242 to add that additional category. Maybe I'm doing something completely wrong, but then at least there is an actionable item at hand.

[2016-11-27 16:28] tautschnig commented on #165
Those license fixes have now been moved into #243.

[2016-11-27 16:47] #209 closed

[2016-11-27 17:54] tautschnig commented on #186
These preprocessed files are now provided by #257.

[2016-11-27 17:55] tautschnig commented on #7
The single PR #239 has now been replaced by individual ones in #243..#260.

[2016-11-27 21:35] dbeyer opened #261 "New category for undefined behavior?"
Currently, we have this structure for SV-COMP 2017:
https://sv-comp.sosy-lab.org/2017/categories.svg
The main categories Arrays, BitVectors, and HeapDataStructures
contain each a sub-category for memsafety or overflows,
which in turn represent undefined behavior (invalid free, invalid deref, and invalid overflows).

Would it be better to concentrate undefined behavior in an own property class or c

[2016-11-27 21:41] dbeyer commented on #172
I think this needs to be done:

But I need to think more about this.

[2016-11-27 21:47] tautschnig opened #262 "termination-crafted/Nyala-2lex_false-valid-deref.c is misclassified"
This benchmark does not even contain any dereferencing operator (or arrays with index access), and is thus trivially true-valid-deref.

See the discussion in https://github.com/sosy-lab/sv-benchmarks/commit/85a695e6869688a0146e89b921f2a28a79c7024d.

[2016-11-27 21:50] tautschnig commented on #261
We could generalise memory leaks to "resource leaks", which is a class of practically relevant problems. (And then, finally, the Infer team might want to join.)

[2016-11-27 22:18] dbeyer commented on #184
I am not in favor of removing those nice programs from the competition.
When I created the .prp file to this category I think I added an incomplete
or inappropriate set of properties, because @tautschnig did not really
mean to check (only) for calls to the error function.
I added the usual properties with 7fa930c.
Could you please tell me which of the properties are not appropriate?

[2016-11-27 22:39] dbeyer commented on #261
+1

On 2016-11-27 10:50 PM, Michael Tautschnig wrote:

[2016-11-27 22:53] zvonimir commented on #261
Just to clarify, you are not suggesting that we add additional properties to check (such as undefined behaviors that are currently not specified/caught as SV-COMP properties), but rather only to restructure the benchmarks/categories. Is that right?

[2016-11-27 22:56] tautschnig commented on #172
@dbeyer While thinking about the merge of "Simple" and "ControlFlow" you may want to consider that Simple.set actually includes the non-simplified ntdrivers/* files while ControlFlow.set has ntdrivers-simplified (and the same for ssh).
I'm not entirely sure that is as intended.

[2016-11-27 23:11] tautschnig commented on #184
@dbeyer I suppose in addition to 152bf013 we also need to label each of the files? We could mark them _true-no-overflow_true-valid-memsafety until proven otherwise?

[2016-11-27 23:17] dbeyer commented on #261
That is right.
But we should have new properties in mind (for demo category or next year),
such as _no-undef-vars or so, in order to more thoroughly check for undefined behavior.
Even if we do not have a category of this in SV-COMP, it would be good for the
definedness checkers to provide a defined playground to them in the repository.

[2016-11-27 23:19] zvonimir commented on #261
Absolutely! That would be super valuable for a demo category and next year as well!

[2016-11-27 23:21] dbeyer commented on #184
Yes, I agree.

On 2016-11-28 12:11 AM, Michael Tautschnig wrote:

[2016-11-27 23:54] dbeyer commented on #184
I changed the property file (commit 3ed8408) to include only the three MemSafety properties,
because I am not sure if everybody would understand combined specifications.

[2016-11-28 00:06] tautschnig commented on #184
In #265 I'm claiming that this issue would be fixed (by merging that PR). I can amend 0aac33a if people don't think that's the case (or we can manually re-open this issue).

[2016-11-28 00:08] tautschnig commented on #261
Are we on a path to ending the never-ending category debate?

[2016-11-28 00:09] dbeyer commented on #262
But then the file name is wrong and should be fixed first.
Perhaps to include _false-no-undef-var or such.

Seems to depend on issue #261.

[2016-11-28 00:20] tautschnig commented on #262
Yes, a proper fix depends on #261. For the moment, however, changing the file name to Nyala-2lex_true-valid-deref.c would at least ensure that verifiers don't produce spurious errors.

[2016-11-28 00:29] dbeyer commented on #262
Jein.  The purpose of this file is to find undefined behavior (the undefined variables).
It needs a label that marks it as verification task that legally contains undefined behavior.
But it makes only sense to keep it if we introduce a property for it that it violates (for demo category),
otherwise the file should be deleted.

[2016-11-28 00:41] dbeyer commented on #184
The remaining question is if we need another sub-category for unreach-call
(I assume not, because that was the conclusion of @mdangl 's analysis)
and if we need another sub-category for no-overflow
(I assume yes, because we wanted to have overflow checks for all programs).

Should we open a new issue on that and close this one, or continue the discussion here?

I would like to hear the opinion of

[2016-11-28 03:16] zvonimir commented on #184
I cannot follow this discussion, there is too many things going on. So I also cannot offer any kind of informed opinions. BusyBox in its current state is pretty messed up, and I have no idea how adding more properties to check will make it more usable. Having overflow checks for all programs will be a demo category I guess. The main thing I am against is making radical changes to categories/proper

[2016-11-28 05:59] PhilippWendler commented on #172
@tautschnig Yes, "Simple" as in the category "Simple" does not mean "simple" like in regular English, but refers to the memory model "Simple". "simplified", however, can be interpreted like in regular English. But you are right that this is confusing, so I think one more argument to merge the categories. :-)

[2016-11-28 07:48] mdangl commented on #184
1) I think all calls to __VERIFIER_error() should be removed from the tasks, because we agreed that right now, it does not make much sense to check the unreach-call property anyway and having these calls only serves to confuse, as witnesses by the initial discussion.
2) Checking other properties, such as no-overflow and valid-memsafety is a good idea in general. However, I fear that the quality of

[2016-11-28 08:07] dbeyer commented on #184
I am in favor of "define a course of action for handling the potentially large amount of issues that may arise:"

If we use only those tasks that the majority of people works on, i.e., we include in SV-COMP what we like most,
that would not be a good thing.

The benchmarks were submitted, it is real code, so we cannot reject them (for the second time).

Re the procedure of tagging them with TRUE f

[2016-11-28 08:36] tautschnig commented on #184
I am happy with either course of action as I am not in a position to fight strongly for having those benchmarks included, given my late contribution. Yet if we go with the set up established in the last few hours then any bugs found (which, as Dirk says, should come with a reliable result) would actually be contributions towards improving the busybox project.

[2016-11-28 08:39] tautschnig commented on #172
If that only referred to the *memory model* Simple, then that reason for keeping it in a separate category seems to have vanished?

[2016-11-28 12:35] dbeyer opened #267 "Extend Category MemSafety"
Actually, this proposal by @tautschnig to extend MemSafety to more programs was forgotten,
but should be done for sure.

[2016-11-28 15:06] dbeyer commented on #170
Most of this issue is now fixed by PR #242.
Thanks @tautschnig.

[2016-11-28 15:14] mutilin commented on #230
For definition of external functions we are thinking about introducing a new function
`void* ram_alloc(void) `
which will have a semantics of allocating so called Recursively Allocated Memory (RAM) .
Please have look at the proposal and give feedback comments at
https://docs.google.com/document/d/1T2j3asG6wl1FM28JXGTmrri8nbnDMdPUVtCB0ZMBK4Q/edit#

[2016-11-28 16:06] zvonimir commented on #184
I share the same concerns as @mdangl. Discussing labels of benchmarks after the competition seems like a bad idea. I suggest we run them as a demo category, and we leverage the outcome of this demo run to properly label them for next year.
@dbeyer : In the past, we observed benchmarks labeled as true for which SMACK generates an error witnesses that gets happily verified by CPAChecker. We submitte

[2016-11-28 16:25] PhilippWendler commented on #172
Implemented by c643f40c

[2016-11-28 16:25] #172 closed

[2016-11-28 16:37] dbeyer commented on #184
@zvonimir This is a misunderstanding: I did not suggest to rely on the verdict of CPAchecker's validator.
I suggested to look at the error path  that the witness describes.

Last year, when you found bugs that were not accepted as bugs by the jury,
I think that was due to the Simple memory model, wasn't it?
(Or it was after the freezing.)
And as far as I remember that was even after the final runs

[2016-11-28 16:41] dbeyer commented on #184
In my opinion, this issue should be closed and a new one should be opened as soon as a concrete problem is found.

[2016-11-28 16:45] PhilippWendler opened #268 "New sub-categories of Termination give heavily differing weights to verification tasks"
The category `Termination` has gained several sub-categories. These sub-categories have heavily differing number of verification tasks (between 1 and 658), meaning that with the current scoring scheme there is a task that is 658x times as important as others.

The numbers of files in the sub-categories are as follows:

Termination-Concurrency: 1
Termination-ControlFlow: 21
Termination-Loops: 106
T

[2016-11-28 16:48] zvonimir commented on #184
@dbeyer : Above, you asked 3 people for opinions about these benchmarks, myself included. 2/3 people (myself and @mdangl) said that we should not include these benchmarks this year, and yet you still go ahead and include them. I will not waste my time giving my opinions in the future. Feel free to proceed as you wish.

[2016-11-28 16:51] PhilippWendler opened #269 "check.py does not find some problems on Travis, only locally"
Since several commits, there are some categories with inconsistent architecture.
On my machine, `check.py` outputs the following for commit 92e99ed:
[code]

However, on Travis the script does not output these error messages for the same commit ([Travis log](https://travis-ci.org/sosy-lab/sv-benchmarks/jobs/179487969)).

I have no idea where this differing behavior could come from. I manually check

[2016-11-28 17:03] dbeyer commented on #184
@zvonimir Sorry for the misunderstanding:

@mdangl said "I agree that we should use this system, because it represents real-world software."
and that a course of action should be set.  The course of action is to fix the labels until Friday.

@zvonimir said "Discussing labels of benchmarks after the competition seems like a bad idea"
and I agree. The labels are not yet frozen. (Why should they?)

W

[2016-11-28 17:11] zvonimir commented on #184
Got it, all is good. Let's proceed. Thanks!

[2016-11-28 17:57] dbeyer commented on #184
Thanks.  I just sent mail to the mailing list to remind people that category removal is no option here.

[2016-11-28 17:57] #184 closed

[2016-11-28 19:52] dbeyer opened #270 "Category Organization for SV-COMP 2017"
There are still open implicit benchmark submissions that we have to handle,
i.e., stow into the category hierarchy.
In the community meeting, we discussed and agreed on:

Michael Tautschnig and I had implemented this yesterday and today.

The "all categories" should be interepreted as "as many categories as possible".
Compare with issue #268 by @PhilippWendler

Overflows is pretty straight forward

[2016-11-28 20:12] delcypher commented on #269
@PhilippWendler In your log Travis is using Ubuntu 12.04 with presumably some old version of python (probably 2.7.3). Try running it in a Docker container (`docker run --rm -ti ubuntu:12.04`) or a VM and seeing what happens. The difference in behaviour might be due to the old Python version.

[2016-11-28 20:37] #269 closed

[2016-11-28 20:38] PhilippWendler commented on #269
Thanks for the idea. After staring some more time at the code I finally found the problem.

[2016-11-28 23:13] tautschnig commented on #267
This might actually the way to fully address #230: if there are benchmarks that dereference invalid pointers *because* an undefined function is being used then a fix to those benchmarks might be required. Else it's likely good enough to keep them as they are.

[2016-11-28 23:46] zvonimir commented on #267
Is there a good reason why we are not extending memory safety to everything this year? Why wait until next year? Given that lots of other things are being changed this year, we can as well extend this category to all benchmarks since I do not see anything special about this extension (as compared to others).

[2016-11-29 03:51] zvonimir opened #273 "HeapMemSafety benchmark that makes no sense: termination-crafted/Nyala-2lex_false-valid-deref.c"
First of all, it is accessing uninitialized local variables.
Second, and more important, I have no idea why was this added into the memory safety category. What kind of memory safety property is being exercised by this benchmark?

[2016-11-29 04:08] zvonimir opened #274 "Potentially wrong HeapMemSafetyBenchmark: termination-crafted/SyntaxSupportPointer01_false-valid-deref.c"
Here is the whole thing:
[code]
I guess I might be dumb :), but how is there an invalid dereference here?
There is clearly a missing free statement, but I don't see an invalid dereference. Please help. Thanks!
Oh, and isn't reading from an uninitialized memory location (`*p` in this case) undefined behavior?

[2016-11-29 05:50] PhilippWendler commented on #273
Duplicate of #262 as far as I understand.

[2016-11-29 05:50] #273 closed

[2016-11-29 05:56] PhilippWendler commented on #274
This was a benchmark that contained undefined behavior and was fixed by @leostrakosch in d752fef. The original file was kept with the intention to use it as a verification task for finding undefined behavior and re-labeled as `_false-valid-deref` (similarly to what was done with several other files, including the one mentioned in #262).

I am not sure whether the `valid-deref` property covers this

[2016-11-29 06:15] dbeyer commented on #267
Would that become a main category then again, as in my picture in issue #270 ?
(Similar to Overflows and Reachability in that picture.)

There was a complaint last year that verification tasks with different properties
(HeapReach + HeapMemSafety and ArraysReach + ArraysMemSafety)
were put together in one category.

Factoring out the MemSafety again would solve this, and makes it extendible as well

[2016-11-29 06:15] PhilippWendler commented on #187
I think this was submitted by @ondrik, maybe he knows something?

[2016-11-29 06:16] dbeyer commented on #270
The current proposal is for classifying by properties on the top level, and
classifying by data structures and "theory needed" on the second level.

[2016-11-29 06:21] dbeyer commented on #268
@Heizmann Is the proposal then the have the following:
Termination-Main: 658
Termination-ProductLines: 597
Termination-Other: ... (union of all others)

Split Termination-Main?

[2016-11-29 07:16] tautschnig commented on #274
This benchmark does not have any undefined behaviour: reading the contents of memory allocated by malloc (with the SV-COMP guarantee that the call did not return a null pointer) yields an indeterminate value. Reading such a value only has undefined behaviour when the object has automatic storage duration.

Really, this benchmark was ok all the time, adjustments were never necessary (and on all cur

[2016-11-29 07:29] tautschnig commented on #267
I'm not sure whether #270 or this one is the right place to state what I believe to be the summary:

1. [Detect] Undefined Behaviour
- MemSafety
- Overflows
- [Not this year] Other Undefined Behaviour
2. Defined Behaviour
- Reachability
- Termination

[2016-11-29 07:46] dbeyer commented on #267
Yes, let's discuss the MemSafety topic here and the rest in issue #270.

[2016-11-29 07:46] dbeyer commented on #270
MemSafety is discussed in issue #267.

[2016-11-29 07:46] PhilippWendler commented on #274
Sigh, so yet another false alarm from https://runtimeverification.com/blog/?p=200

Not sure what we should do about this, maybe revert the change to this benchmark completely? Similar changes have been made to many other benchmarks (e.g., `termination-crafted/LexIndexValue-Pointer_true-termination.c`, and also in other pull requests), revert them, too?

[2016-11-29 07:58] dbeyer commented on #267
I agree.  Two comments:
- MemSafety contains definedness checks (valid-deref, valid-free) and
  absence of resource bugs (valid-memtrack).
- Somebody already noted that "Overflows" is a wrong name,
  because we are not looking for all Overflows, but only those that lead to undefined behavior.

[2016-11-29 08:02] tautschnig commented on #274
Presumably the explicit non-deterministic initialisation doesn't hurt very much. So we don't need to fully revert any changes (IMHO), but could just remove the file.

Notably, #262 is a different story, because there genuinely is undefined behaviour due to missing initialisation (but valid-deref is not the failing property).

[2016-11-29 08:07] dbeyer commented on #270
New proposal: (compare #267)

1. Safety (unreachability of calls to error function; "unreach-call")
2. Memory-Safety
3. Thread-Safety
4. Termination
5. Definedness (absence of invalid overflows, dereferences, deallocation; "no-overflow", "valid-deref", "valid-free")

[2016-11-29 08:09] tautschnig commented on #274
Left a note on the blog (https://runtimeverification.com/blog/?p=200#comment-397).

[2016-11-29 08:10] martinhruska commented on #187
This is the @ondrik 's way how to express "assertion(pred == root)". Since the assertion should hold the NULL dereference will actually never happen.

[2016-11-29 08:12] dbeyer commented on #270
Not sure if invalid dereferences, deallocations should be under "Definedness" or under "Memory-Safety".

[2016-11-29 08:15] tautschnig commented on #267
Oh, I completely failed to adhere to my own proposal of adding "ResourceLeaks" (which is probably part of Defined Behaviour). valid-memtrack should actually become part of that one.

Overflows might be changed to IntegerOverflows?

[2016-11-29 08:18] tautschnig commented on #267
(Deleted my prior post to move it to #270).

[2016-11-29 08:26] tautschnig commented on #270
A couple of notes:

- I think that Safety and Thread-Safety should be merged.
- I had completely failed to adhere to my own proposal of adding "Resource-Leaks". valid-memtrack should actually become part of that one.
- Memory-Safety should, IMHO, be part of Definedness.

[2016-11-29 08:41] PhilippWendler commented on #270
`Safety` seems to be a too general name. It looks like its is a super-category of `Thread-Safety` and `Memory-Safety`, and actually the issues in `Definedness` are also safety properties.

I am not sure I like `Thread-Safety`, to me this name looks more like an implicit property of finding races etc., not like checking a given specification for a concurrent program.

I think we should keep `Memory

[2016-11-29 08:42] PhilippWendler commented on #187
Thanks for the explanation. Another false positive of https://runtimeverification.com/blog/?p=200

[2016-11-29 08:42] #187 closed

[2016-11-29 08:47] PhilippWendler opened #276 "Files with known overflows outside of Bitvector category"
This year several tasks with unsigned overflows have been added to some categories, e.g., in #234.

In previous years, such tasks have been moved to the BitVectorsReach category and other categories have been kept mostly free of overflows.

Should this be done here as well? Otherwise, what is the reason for having a specific BitVectors category?

If we want to move the files, how do we organize th

[2016-11-29 09:20] dbeyer commented on #270
"Safety" -> "Reach-Safety" ?
"Thread-Safety" -> ?  (I liked it to emphasize that top-level is all about properties.)

[2016-11-29 09:27] kfriedberger commented on #270
Currently `Thread-Safety` only consists of the reachability property.
I would vote for including this category into `Reachability`,
together with all other categories related to reachability properties.

[2016-11-29 09:45] tautschnig commented on #270
In my opinion, the question we should be asking ourselves is: to whom do categories matter? Is it the tool developers (theories of reasoning are a key aspect, as it is right now), our wider community (liveness (Termination) vs safety/reachability (all other categories)), or users (absence of classes of bugs proved).

As @PhilippWendler said, the choice of properties, which presently is tied to cat

[2016-11-29 10:15] dbeyer commented on #270
The categories also guide people that look for evaluation data.
I.e., if you implement a verification algorithm and you are looking for evaluation benchmarks,
the categories should help you find material.

[2016-11-29 10:21] dbeyer commented on #270
Taking the Friday deadline into consideration,
how about a compromise that is not as radical as to split MemSafety for SV-COMP 2017,
i.e., along the lines of what @PhilippWendler said.
The Forester and Predator people should comment, @ondrik.

[2016-11-29 10:33] tautschnig commented on #270
@dbeyer re evaluation data: yes, that is certainly also a frequent use case, and I would consider that part of my "tool developers" use case sketched above.  (Yet the directory structure might be sufficient in this context.)

Let's see what Forester/Predator folks think.

[2016-11-29 10:35] PhilippWendler opened #277 "Fix inconsistencies between .c and .i files"
The following tasks have inconsistences between the .i file and their original source in the .c file, as determined by `goto-diff`. Probably at some point of the files got changed but not the other. To view the difference, run `compare.sh -v <category>.set`.

- [x] array-memsafety/cstrlen_unsafe_false-valid-deref.i
- [x] array-examples/standard_copyInitSum_true-unreach-call_ground.i
- [x] array-ex

[2016-11-29 10:35] tautschnig opened #278 "Fix tasks where preprocessed file does not match original source"
With #272 merged, we have reported by goto-diff/compare.sh:
- [ ] array-memsafety/cstrlen_unsafe_false-valid-deref.i
- [ ] array-examples/standard_copyInitSum_true-unreach-call_ground.i
- [ ] array-examples/standard_seq_init_true-unreach-call_ground.i
- [ ] bitvector/byte_add_1_true-unreach-call.i
- [ ] bitvector/byte_add_false-unreach-call.i
- [ ] bitvector/gcd_1_true-unreach-call.i
- [ ] bitvect

[2016-11-29 10:38] tautschnig commented on #278
Duplicate of #277 that @PhilippWendler file the same minute.

[2016-11-29 10:38] #278 closed

[2016-11-29 12:02] mutilin commented on #230
https://github.com/sosy-lab/sv-benchmarks/issues/267#issuecomment-263425130

I can say in advance that LDV benchmarks are memory unsafe

[2016-11-29 12:59] martinhruska commented on #270
Hi all,
I comment on behalf of Forester and Predator teams. Since both of our tools are shape analysers we would like to compete with other tools doing shape analysis. That is currently possible in the "Heap Data Structures" category (consisting HeapReach and HeapMemSafety). It would not be possible in the proposed category organization because the mentioned subcategories would be separated to the

[2016-11-29 14:08] tautschnig commented on #270
I believe we must not affect participation in any way, definitively not at this stage. All that could possibly change is the way results are presented.

That said: @martinhruska Shouldn't a lot depend on what exactly you can/cannot opt out of? If we had a set-up where it was possible to opt out of everything except for {heap-* folders}x{Memory-Safety,Resource-Leaks} we should be back to the curren

[2016-11-29 15:04] zvonimir opened #280 "Undefined behaviors in ArrayMemSafety benchmarks"
I am referring to benchmarks under array-examples in the ArrayMemSafety category.

For example, this one: array-examples/sanfoundry_24_false-valid-deref.i
This benchmark is now in the ArrayMemSafety category. Local variable `num` is not initialized. The same goes for `array`. Finally, the benchmark also contains a call to `__VERIFIER_error` and it is in a memory safety category. I have no idea how

[2016-11-29 15:14] zvonimir opened #281 "Defining __VERIFIER_nondet_int in heap-manipulation/tree_true-unreach-call.i"
This benchmark contains the following piece of code:
[code]
This should be fixed somehow to avoid defining `__VERIFIER_nondet_int`. Again, I am not sure exactly what the authors was trying to achieve here.

[2016-11-29 15:18] tautschnig commented on #280
Those problems have been made apparent by 8c869563743.

[2016-11-29 15:19] zvonimir opened #282 "Undefined behavior in loop-acceleration/array_false-unreach-call3_true-termination.i"
I think that local array `A` should be initialized somehow.

[2016-11-29 15:23] tautschnig commented on #280
(Which just enabled files added in ccf91f260bf3.)

[2016-11-29 15:30] martinhruska commented on #270
Opting out from everything with the exception of "{heap-* folders}x{Memory-Safety,Resource-Leaks}" may be a way for us. On the other hand, it is not only about prizes but also about a presentation of the results to people outside SV-COMP community. If we wanted to present e.g. Predator as a state-of-the-art shape analyzer, would we have to say something like "Make this view over the SV-COMP result

[2016-11-29 15:48] tautschnig commented on #281
This benchmark had been introduced in 5190fa1d439f2. I can't seem to see any reason why we couldn't just fix it by removing the body. (No other part of the code uses magic numbers.)

[2016-11-29 15:52] tautschnig commented on #282
Back in 2014 no one worried about initialisation of locals. While the fix is to add a loop doing the initialisation, the question is what to do with the existing benchmarks - for several of those we had false-valid-deref variants added, which causes other trouble as witnesses by the issues we are discussing concurrently.

[2016-11-29 17:09] mchalupa commented on #280
Uninitialized variables are not undefined behavior AFAIK (if I ignore that there's been some effort of getting rid of them). Regarding the calls to `__VERIFIER_error` -- these should be just ignored, since they do not represent an error in memsafety category. As far as I can see the benchmark is labelled correctly. When `num` is greater or equal to 100000 (reading from uninitialized variable retur

[2016-11-29 17:14] zvonimir commented on #280
Reading from an uninitialized local variable *is* undefined behavior in C. Here is a good read on this topic: http://blog.llvm.org/2011/05/what-every-c-programmer-should-know.html

[2016-11-29 17:16] mchalupa commented on #281
I agree, it looks like the authors forgot to remove it (in some other benchmark the body is commented out)

[2016-11-29 17:37] mchalupa commented on #280
Sorry, my bad. I remembered only this part from the standard:

and forgot about this part in the enumeration of undefined behavior:

indeterminate

[2016-11-29 17:44] mchalupa commented on #282
I think that a better fix than initializing the memory in a loop would be to add a function like `__VERIFIER_nondet_memory(ptr, size)` or similar. But that needs to wait for some other time, I guess :)

[2016-11-29 18:51] mchalupa commented on #274
I was just about to write a comment with exactly the same contents.

While it is good to get rid of undefined behaviour, I do not believe that every undefined behaviour can be hidden in valid-deref:

For example this task: https://github.com/sosy-lab/sv-benchmarks/blob/678cf3c0b23060081c0b5d9e96c0260421693b19/c/reducercommutativity/avg05_false-valid-deref.c from #275 should be introduced with fals

[2016-11-29 20:24] PhilippWendler commented on #280
This program is the original version of a program in which some undefined behavior was fixed. The original program was kept with a new label as a benchmark for finding this undefined behavior.

If the new label `_false-valid-deref` is not correct, then the file should be given a different label as soon as we know how to label files with undefined behavior. @dbeyer? The addition to MemSafety should

[2016-11-29 23:42] zvonimir commented on #282
Given that this benchmark is in the loops category, I guess it would make sense to initialize the array `A` to fix this problem. Existing benchmark can be copied into the future category for catching undefined behaviors (other than memory safety and overflow).
Could someone please do this? I can easily fix this benchmark, but I am not sure where exactly to copy the current version.

[2016-11-29 23:43] Heizmann commented on #268
TLDR: I propose the following.
Let us split Termination-Main into the following two sub-categories.
- ``Termination-Main-ControlFlow``, which contains ``termination-crafted``, ``termination-crafted-lit``, ``termination-numeric``, and ``termination-restricted-15``
- ``Termination-Main-Heap``, which contains ``termination-15``, ``termination-libowfat``, ``termination-memory-alloca``, and ``terminati

[2016-11-30 00:07] tautschnig commented on #282
Timezone-wise: would you mind putting together a PR that just fixes the benchmark so that Europe can fight over the renaming story in the morning? (I'd like to call it a day as well...)

[2016-11-30 02:39] Heizmann commented on #261
I presume you changed [the SVG](https://sv-comp.sosy-lab.org/2017/categories.svg) in the current file, the main categories are *Reachability*, *Memory Safety*, *Overflows*, *Concurrency*, *Termination*, and *Software Systems*.

I think, we should not (neither now nor in the future) have a property "undefined behaviour". There are many kinds of undefined behaviour we might want to have a property f

[2016-11-30 03:48] zvonimir commented on #276
I support moving such benchmarks into the BitVectorsReach category, as you suggested.
I could be wrong, but I think you could leave those files in their original folders, but just update set files.

[2016-11-30 07:34] PhilippWendler commented on #282
Copies of benchmarks like this should simply be put into the same directory, to show that the same license applies to them and that they are in principle from the same source. Cf. #176 which does the same for `array_true-unreach-call3_true-termination.c`.

[2016-11-30 09:26] mchalupa commented on #280
Provided the `num` variable is initialized with `__VERIFIER_nondet_int`, there's still the possible out-of-bound access into array when num >= 100000. So the false-valid-deref labeling would be correct IMHO. Looking at the original (true-unreach) source - there has been fixed only the initialization, not the out-of-bound access (https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-example

[2016-11-30 09:45] tautschnig commented on #282
@PhilippWendler I don't think finding a directory for the copy is a problem, but rather the particular file name as we don't even have a property for this problem (uninitialized locals) yet.

[2016-11-30 10:20] tautschnig commented on #280
@mchalupa If the labelling is incorrect we surely should have a PR, irrespective of who the original author is...

[2016-11-30 15:52] Druidos opened #286 "Termination verdicts are wrong if integer overflows"
At least following benchmarks are terminated after integer overflow:

https://sv-comp.sosy-lab.org/2016/sv-benchmarks/c/termination-crafted/2Nested_false-termination.c
https://sv-comp.sosy-lab.org/2016/sv-benchmarks/c/termination-restricted-15/Even_false-termination.c
https://sv-comp.sosy-lab.org/2016/sv-benchmarks/c/termination-restricted-15/DoubleNeg_false-termination.c
https://sv-comp.sosy-lab.

[2016-11-30 17:55] zvonimir commented on #280
Ok, let me add more details here since it seems that some problems are being missed:
1. In array-examples/sanfoundry_24_false-valid-deref.i both `num` and `array` are missing initialization.
2. In array-examples/standard_find_false-valid-deref_ground.i both `e` and `a` are missing initialization.
3. In array-examples/standard_sentinel_false-valid-deref.i, all of `a`, `marker`, and `pos` are missin

[2016-11-30 19:31] tautschnig commented on #280
Those benchmarks were added to memory-safety categories as their labelling suggested this would be the right thing to do.

[2016-11-30 19:55] zvonimir commented on #280
Sure. But I actually studied their source code, and I am fairly convinced that most of them I referenced above do not have any memory safety issues. So at the very least their labels should be changed to `true`.

[2016-11-30 19:59] mchalupa commented on #280
I think you could find even more: Probably most (if not all) of the false-valid-deref benchmarks introduced in commit 678cf3c0b230 contain "only" use of uninitialized variables, no invalid pointer dereference.

[2016-11-30 20:12] zvonimir commented on #280
For what it's worth, SMACK does not find a memory safety bug in this one that is currently in the ArrayMemSafety category: reducercommutativity/avg60_false-valid-deref.i

[2016-12-01 04:09] Guoanshisb commented on #191
Hi @mutilin @AndrianovPavel ,

Sorry for the late reply.

SMACK still reports bugs for these benchmarks. For example, in N1, `var_group_4` is calloced, so `__cil_tmp23` at line 8285 is equal to the return value of `calloc` + 1600. ` __cil_tmp24` at line 8286 is the deference of `__cil_tmp23` which equals to 0 (calloced memory). `__cil_tmp26` at line 8288 will be 360, which is not uninitialized. `_

[2016-12-01 05:52] PhilippWendler commented on #280
I suggest to add a PR that removes the files for which you claim the labels are incorrect from the `.set` files (and add an appropriate blacklist item with a comment in `check.py`).

[2016-12-01 07:50] tautschnig commented on #280
The quick hack would be reverting my commits 8c86956 (PR #258) and 28fefa9 (PR #252). Needless to say that I am not in favour of doing so. "We'll fix it later" is a very short-sighted strategy.

[2016-12-01 07:58] PhilippWendler commented on #280
These files cannot be fixed now because they are supposed to be in a category for undefined behavior that is not yet defined.

[2016-12-01 08:41] tautschnig commented on #280
So we will have to define such a category now. (Really, that should have happened well before ccf91f2, i.e., before 28th October.)

[2016-12-01 18:19] mchalupa commented on #280
Actually, in the commit ccf91f2 the files contain invalid dereference, because there can be an out-of-bound access into an array.

I gathered the files for which we know there is some undefined behaviour, but no invalid pointer dereference, although they are marked as false-valid-deref (I went throught the issues and commits, also checked all the files, but maybe there's some flaw, so please corre

[2016-12-02 00:03] Guoanshisb commented on #191
@AndrianovPavel With respect to the fourth benchmark, `rtl8150_driver_group1` got the return value of `ldv_zalloc`, which can return a NULL pointer.

[2016-12-02 03:54] zvonimir opened #288 "Issue with ldv-memsafety-bitfields/test-bitfields-3_true-valid-memsafety.i"
This benchmark relies on (bit)fields of structures being packed, which is in fact not required by the standard that allows for padding. Hence, the presumed alignment between fields of structures `A` and `B` that is required for this benchmark to work might not hold (according to the standard). One potential solution would be to introduce `__attribute__((packed))`, but I don't think that attribute

[2016-12-02 05:45] PhilippWendler commented on #288
Does maybe GNU C guarantee packing? Then it would be fine.

Otherwise, GNU C probably recognizes `__attribute__((packed))`, right? So we can use this attribute.

[2016-12-02 06:01] zvonimir commented on #288
My understanding is that packing is not guaranteed in GNU C. Both gcc and clang should recognize the `__attribute__((packed))` attribute, that is correct I believe.

[2016-12-02 07:59] jhensel commented on #286
Strictly speaking, signed integer overflows lead to undefined behavior according to the C standard. Most of the verification tasks of the Termination category have been constructed having unbounded integer semantics in mind, which is why in past years, we always assumed that overflows are not possible in the Termination category. There are many more examples which would need to be adapted if we as

[2016-12-02 10:47] PhilippWendler commented on #288
Can you add a PR that adds the attribute?

[2016-12-02 11:39] #282 closed

[2016-12-02 13:55] mikhailramalho commented on #288
@zvonimir, is this the only way to fix the benchmark?

We do have several benchmarks that use `__attribute__((packed))` (grep shows 272), but I would rather not add more non-standard code to the repository.

[2016-12-02 14:02] mikhailramalho commented on #286
That's something I (personally) would like to see 'fixed' on the
termination category. ESBMC never competed on the termination category
because of the overflows everywhere.

2016-12-02 7:59 GMT+00:00 jhensel <notifications@github.com>:

--

Mikhail Ramalho.

[2016-12-02 15:26] zvonimir commented on #288
I am not an expert in low-level C programming. What I found out online is that C standard does not enforce packing, and that there is no standard way to enforce it. The only way to enforce it based on what I learned is to use `__attribute__((packed))`. So I don't know of a different way to fix these benchmarks while preserving their intended purpose, which is to test for proper handling of bit-fie

[2016-12-02 15:31] PhilippWendler commented on #288
SV-Comp is fine with having GNU C specific code in the benchmarks, there is no requirement on ANSI C. So from this perspective `__attribute__((packed))` would be fine. I also assume that `__attribute__((packed))` is practically used in real world applications, so it might be even a good idea to encourage verifiers to support it?

Ping @mutilin because these are LDV benchmarks.

[2016-12-02 15:51] jhensel commented on #286
Generally, I agree that in the long run, we should adapt all examples. However, the existing verification tasks cannot be trivially adapted (e.g., replacing signed integers by unsigned integers changes the termination behavior for many programs). Also, speaking for AProVE, a decision in favor of bitvector semantics comes a little late, so we would probably not be able to make the necessary changes

[2016-12-02 15:56] mikhailramalho commented on #286
Yes, I agree @jhensel, I would like to see them fixed but that's something for the future editions of the competition. Sorry if it sounded like I want it fixed for sv-comp'17.

Maybe we should tag this issue sv-comp'18?

[2016-12-02 16:32] mutilin commented on #288
These benchmarks were especially prepared to demonstrate the usage of packed structures.
I add the author @Druidos to discussion

[2016-12-02 16:34] jhensel commented on #286
Yes, this sounds reasonable. We (the AProVE team) will engage in adapting the current set of tasks and in finding new ones that might be more interesting when switching to bitvector semantics.

[2016-12-02 17:10] zvonimir commented on #274
What is the status of this one? I think there was some discussion for these benchmarks to be moved somewhere else. Yes?

[2016-12-02 17:40] PhilippWendler commented on #274
This case is different, the original bug fix was for a false alarm, so the new `_false-valid-deref` file has no problem at all. Either we remove just the latter, or revert the change to the original file, too.

[2016-12-02 19:08] #281 closed

[2016-12-03 16:40] zvonimir commented on #288
Well, if these benchmarks are about *packed* structures, then `__attribute__((packed))` should be used. If you are ok with my proposition, I can create a pull request that adds `__attribute__((packed))` to all of the structures in these benchmarks. Please let me know ASAP.

[2016-12-03 16:49] mikhailramalho commented on #288
Well, if the program was designed to use the packed attribute, it should be
fixed.

2016-12-03 16:40 GMT+00:00 Zvonimir <notifications@github.com>:

--

Mikhail Ramalho.

[2016-12-04 21:18] zvonimir opened #297 "Mislabeled (buggy) LDV benchmarks"
Here is the list of LDV benchmarks that almost certainly access unallocated memory, which can overwrite anything, which ultimately typically leads to a bug being reported:
[code]

Now that we removed the simple memory model requirement, we should address all these issues somehow. How should we go about this?

The simple answer is: we should just fix the benchmarks. However, finding violating memor

[2016-12-05 08:17] mutilin commented on #297
Each year we have the same problem with undefined behavour in LDV benchmarks.
As I remember @dbeyer said (27.09.2015)

The benchmarks do not contain violation of reachability of function __VERIFIER_error().
Hence we could not change the labels of these benchmarks to false.

Earlier you proposed

I think that removal of Simple memory model is the rigth step, but not the solution for the problem. I

[2016-12-05 08:36] AndrianovPavel commented on #191
@Guoanshisb Could you check the [fix](https://github.com/mutilin/sv-benchmarks/commit/856ba8e6a24d61563e76f2fdb5f6362df1019d05) of the fourth issue?

[2016-12-05 15:10] trucnguyenlam opened #299 "__VERIFIER_atomic_begin and __VERIFIER_atomic_end are not in the same within the same control-flow block"
@MontyCarter Hi, I have noticed that on commit c3397a1cda7eba351452a48fd4b46dbead665e43, pull request #138 you have fixed the problem of depreciated __VERIFIER_atomic functions.
However, there are some calls to __VERIFIER_atomic_end() which are not occurred in the same control block of __VERIFIER_atomic_begin().
Could you please check these files?

For more details, they are benchmarks:
c/pthread-

[2016-12-05 23:56] zvonimir commented on #297
I don't understand your comment. These benchmarks *do* contain paths that lead to `__VERIFIER_error`.
Here is a simple example illustrating this problem:
[code]
Does this benchmark contain a path leading to __VERIFIER_error?
In my opinion it does since y can alias x. Majority of the issues we encounter in LDV benchmarks follow this same pattern.

[2016-12-05 23:58] zvonimir commented on #288
I created a simple pull request the fixes this (see above). I hope that someone can approve it soon. Thx!

[2016-12-05 23:59] zvonimir commented on #280
Are we going to fix this somehow? These files should be removed from the memory safety category, which should be an easy fix.

[2016-12-06 00:00] zvonimir commented on #274
Any news on this one? It should be an easy fix.

[2016-12-06 03:45] leostrakosch commented on #280
Just to avoid some confusion: Except for `reducercommutativity/avg60_false-valid-deref.c` ,
all false-valid-deref files in `reducercommutativity` have already been deleted in commit 4a095bf .

[2016-12-06 08:41] #288 closed

[2016-12-06 10:36] Druidos commented on #288
__attribute__((packed)) removes padding for alignment requirements, but doesn't affect bit-field's packing. According to ISO/IEC 9899:201x 6.7.2.1 11 bit-field that immediately follows another bit-field in a structure shall be packed (regardless of packed attribute)

[2016-12-06 10:37] mutilin commented on #297
1. In the first comment you reported that benchmarks contain access unallocated memory, but this does not imply that the benchmarks contain path to  __VERIFIER_error. So for starting investigation we need the paths leading to ERRORs.
2. The simple example do contain error path.
3. The benchmarks are the same as last year and you said that

why do you report these issues so late?

[2016-12-06 10:43] Druidos commented on #288
Fix alignment and possible issue with bit order by pull request #300

[2016-12-06 14:00] martinhruska opened #301 "Invalid tasks in HeapMemSafety"
Hi all,

@tautschnig and @dbeyer have currently added the following tasks
[code]
to the HeapMemSafety category. However, I don't see any invalid pointer dereference in these tasks. E.g. there is even no pointer manipulation in the task "termination-crafted/Nyala-2lex_false-valid-deref.c" at all. It looks that the tasks have been added to the repository by @leostrakosch.

I suppose that these tasks

[2016-12-06 14:20] leostrakosch commented on #301
Yes, that's the case.
At the time of #183 and related PRs I kept almost all original files, adding property `false-valid-deref` because no better fitting label existed at that time.
They were not added to any category though and just kept in case we want to use them later, but it was my fault for not using some placeholder-label instead.

So all `false-valid-deref` files added in PRs #183 #182 #18

[2016-12-06 14:39] martinhruska commented on #301
@leostrakosch thank you for your response. So should I prepare a pull request removing the tasks
`termination-crafted/LexIndexValue-Pointer_false-valid-deref.c
termination-crafted/SyntaxSupportPointer01_false-valid-deref.c
termination-crafted/Nyala-2lex_false-valid-deref.c
array-examples/relax_false-valid-deref.i`
from the HeapMemSafety category to fix the issue?

[2016-12-06 15:39] zvonimir commented on #297
Let me answer your questions one by one.
(1) So you would like that we submit witnesses here as well? We can for sure do that.
(2) Ok, so we agree on that, great.
(3) We keep improving SMACK. Last year SMACK was I believe timing out on most of these benchmarks, and hence it did not report these bugs. Also, this is not a lot of false bugs in my opinion given that there is thousands of benchmarks, a

[2016-12-06 16:38] mikhailramalho commented on #301
This is a duplicate of #262 and #274.

I actually changed `LexIndexValue-Pointer_false-valid-deref.c`, `SyntaxSupportPointer01_false-valid-deref.c` and `array-examples/relax_false-valid-deref.i` on pull request #296. Instead of remove those, can I suggest we revert my changes and relabel them to false-valid-free? There are also underflows on the postdecrement operations, so we might want to add th

[2016-12-06 16:58] leostrakosch commented on #301
termination-crafted/LexIndexValue-Pointer_false-valid-deref.c termination-crafted/SyntaxSupportPointer01_false-valid-deref.c termination-crafted/Nyala-2lex_false-valid-deref.c array-examples/relax_false-valid-deref.i
from the HeapMemSafety category to fix the issue?

These tasks were added only lately in b21675bc , I presume with the intent that we don't have any unclassified/unused files lying ar

[2016-12-06 17:48] mikhailramalho commented on #301
Hi @leostrakosch,

Only if it is evaluated before `(*q >= 0)`.

I checked it with clang's address sanitizer and it finds a buffer overflow. I used a slightly modified version of the program, to better localize the bug ([program](https://gist.github.com/mikhailramalho/3e612760f5d748afe5c33d799cdabd50)). As you can see, it complains about line 22, the `(*q >= 0)`.

[code]

[2016-12-06 17:53] leostrakosch commented on #301
Hey,

even better then, thank you for the clarification!

So now only the question about renaming/removing the other files remains.

[2016-12-06 20:17] Guoanshisb commented on #191
@AndrianovPavel I'm afraid your changes does not fix the issue. Please take a look at the error witness attached.
[witness.txt](https://github.com/sosy-lab/sv-benchmarks/files/634931/witness.txt)

[2016-12-06 20:40] mchalupa commented on #301
Just to fill in the list of related pull-requests and issues, there's the #280 PR. I also added there a list of files that are suffering (or suffered) from this mislabeling: https://github.com/sosy-lab/sv-benchmarks/issues/280#issuecomment-264250788

[2016-12-06 22:02] tautschnig commented on #301
So just to add my notes on this issue: I've rather blindly added them to categories according to their labels, only deciding between Heap vs. Array based on contents. I'm happy with any proposal that is different from "let's name them somehow and fix it later" as that has failed us before, as those files prove.

[2016-12-06 23:56] Guoanshisb commented on #191
@AndrianovPavel @mutilin May I ask what is your assumption on uninitialized function pointer dispatch?

[2016-12-07 04:45] Guoanshisb commented on #299
@trucnguyenlam Could you take a look at the fix?

[2016-12-07 07:52] martinhruska commented on #301
@tautschnig as you pointed in #274 there is even no undefined behavior in `termination-crafted/SyntaxSupportPointer01_false-valid-deref.c ` so removing the test case from the benchmark may be OK. @mikhailramalho explained that `termination-crafted/LexIndexValue-Pointer_false-valid-deref.c` is labeled correctly since an invalid dereference is really possible. Finally, because `termination-crafted/N

[2016-12-07 10:18] mutilin commented on #297
(1) Yes, please submit witnesses confirmed by one of the existing validators
(3) Ok, I understand, but I feel that we should find a more efficient way to cope with benchmark problems. Last minute fixes are problematic and more important that they do not solve the problem with LDV benchmarks in general

[2016-12-07 10:54] mutilin commented on #191
CPAchecker witness validator could not confirm the witness.txt in 90 sec.
Is there any confirmation from the other validators?

[2016-12-07 14:42] #299 closed

[2016-12-07 17:01] zvonimir commented on #297
(1) We probably cannot do this since our witness generator is not working properly, especially for large benchmarks. Also, if tools doing witness validation cannot find these bugs themselves, they why would I trust that they are doing witness validation properly? Anyhow, what do we do now?

(3) As you probably noticed, we submitted (and also resolved) numerous issues with SV-COMP benchmarks in the

[2016-12-07 18:02] zvonimir commented on #191
Why don't you run it without this 90 seconds time out?
This is not the competition, but rather an attempt to fix bugs in SV-COMP benchmarks, and so enforcing this time out makes no sense to me.
Also, if CPAChecker cannot find this bug in the first place, then why do you think it would be able to discharge our witness?

[2016-12-07 18:10] Guoanshisb commented on #297
@mutilin May I ask what do you want confirmed witnesses for? Does it help the debugging process other than giving confidence that the error path may be feasible?

[2016-12-07 18:56] mchalupa commented on #297
Well, if you claim that there's an error, you should have some way how to convince others that there really is the error. How do you convince people that it is a bug in the program, not in the verifier? When a program is hard to check manually, then a witness can increase the confidence that there really is the bug. Or if you know about any other way how to support the assertion that the error is

[2016-12-07 19:11] Guoanshisb commented on #297
I don't get why people keep saying "if you know other ways to do it, then do it". You do not understand my question correctly. I was simply asking if a confirmed witness can speed up the debugging process. If you just ignore unconfirmed witnesses, that would certainly speed up debugging since you do not have to do anything. Let's say you have a confirmed witness for a benchmark labeling as true, t

[2016-12-07 20:32] zvonimir commented on #297
I will excuse myself from this and related discussions. This would be 3rd year in a row that I bring up these issues with device driver benchmarks. In the past, simple memory model was a problem and it was easy to sweep them under the rug. Now it is something else. For example, for some reason witness checkers are considered to be some kind of a "golden standard", and I have absolutely no reason t

[2016-12-08 10:19] mutilin commented on #297
1. I think pull requests from you will be the best option to proceed. My colleague proposed several fixes in #191, but they do not work for SMACK and don't know why.
2. If the witness validator confirms the witness there are many chances to just change the verdict of the benchmark. Otherwise, we should investigate the reason carefully. In this case witness validator may also help to undestand wher

[2016-12-08 10:29] mutilin commented on #191
@zvonimir, of course, CPAchecker may fail as any other tool. I just try to understand what is the confedence in correctness of the witness.
@Guoanshisb, did commenting of function pointer calls help SMACK to prove true?

[2016-12-08 20:02] Guoanshisb commented on #191
@mutilin Yes, it seems so for some benchmarks. For other benchmarks that SMACK reported a false bug, commenting out function pointers does not help. We will look into them.

[2016-12-08 20:13] Guoanshisb commented on #297
@mutilin I have explained why SMACK reports a bug even with your proposed fixes in #191. For example,

Could you explain what you mean by "contradiction"?

I have attached one witness in #191. I will attach more in this issue.

[2016-12-09 00:25] Guoanshisb opened #307 "Integer Overflow in BitVectorsReach Category"
Hi guys,

I noticed some benchmark in BitVectorsReach category that may contain integer overflow. For example,

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/bitvector/jain_4_true-unreach-call.c#L20-L22

If I transform the program (see below) a little bit by assigning a concrete value to `__VERIFIER_nondet_int()` and removing the assertion, then there will run time errors warning about s

[2016-12-09 07:19] kfriedberger commented on #307
For this program you could change the type of x,y,z to `unsigned int`. Then the overflow would be defined behaviour. Maybe we can do the same for other programs. Could you create a pull request?

[2016-12-09 08:24] Guoanshisb commented on #307
@kfriedberger The idea that changes `int` to `unsigned int` came to mind, too. But honestly it is not trivial to tell if this program is true or false given there is an infinite loop and wrap up of unsigned arithmetic overflow. It seems to me the label should not change. So I would prefer to move it to the overflow category.

[2016-12-09 17:06] mutilin commented on #297
The intuition that witness validator could confirm some prefix of the path, but could not confirm the rest. The first transition after confirmed prefix is a "contradiction".

For the witness attached to #191 in debug mode of CPAchecker with timelimit 150s I found that it can reach only

[code]
It points to line 7138
`  if (tmp___3 == 0) {
`

[2016-12-09 17:20] mikhailramalho commented on #307
Yes, unfortunately, this and a number of other benchmarks contain overflow. I know that this impact several competitors but it's a bit late to go through all benchmarks and fix them all. My approach with this kind of benchmark is: if you find a overflow, fix it. See my last PR #304.

To be honest, I'm not in favor of moving benchmarks around so close to the deadline as we should have freeze the be

[2016-12-09 18:13] Guoanshisb commented on #307
@mikhailramalho Thanks for your input. You are right it is too late to move benchmarks around. So I will try to create a pull request that changes variable type from signed to unsigned.

[2016-12-09 18:44] zvonimir opened #308 "Where is invalid-deref in termination-crafted/Arrays03-ValueRestictsIndex_false-valid-deref.c?"
I just don't see an invalid dereference in this benchmark.
Where is it? Please help.

[2016-12-09 18:46] zvonimir opened #309 "Where is invalid-deref in termination-crafted/Arrays01-EquivalentConstantIndices_false-valid-deref.c?"
Again, I don't see it. Is this benchmark supposed to be here?

[2016-12-09 22:19] Guoanshisb commented on #307
@kfriedberger @mikhailramalho @PhilippWendler A pull request has been created to address this issue.

[2016-12-09 23:06] dbeyer commented on #270
So for Termination, the extension is done.
Didn't we want to extend Overflows in the same manner?

[2016-12-10 10:53] dbeyer opened #311 "PR #279 -- Review needed"

[2016-12-10 10:55] dbeyer commented on #311
@mikhailramalho @mdangl Please review PR #279 and the merge (retrospectively).
(I had to merge now because I need the fixes immediately.)

[2016-12-10 11:00] dbeyer opened #312 "PR #275 -- Really finished?"
@tautschnig @PhilippWendler  My understanding was that PR #275 is done
and so I merged.  Could you please have a last look (retrospectively).
(I had to merge now because I need the fixes immediately.)

[2016-12-10 11:29] PhilippWendler commented on #312
It was finished from my point of view, and @tautschnig had approved the PR.

[2016-12-10 11:29] #312 closed

[2016-12-10 12:33] dbeyer commented on #297
Is this issue a continuation of issue #191? Then I would like to close that one.

I merged PR #305 today, which fixed some of the above.
Can you please point me to the PRs for the others?

[2016-12-10 12:57] dbeyer commented on #297
@zvonimir Please do not compare or confuse this discussion with the discussion for the last SV-COMP edition.

For the example program that you gave above, and given the memory model Simple,
the expected verification result last year was TRUE and that is correct.
We had lengthy discussions about this and according to the jury, I correctly
interpreted the rules.
Your verifier reported an error path,

[2016-12-10 13:18] dbeyer commented on #297
@Guoanshisb To answer your question:

Definitely.  You can click on the "validate" button on the witness page that the results tables link to.
In case the validator succeeds reproducing the error path, then you will get test values,
graphs of the program, step-by-step walk through the path, path visualization as graph, ...
Much more is possible due to the witnesses being stored in an exchangeable

[2016-12-10 13:20] dbeyer commented on #297
As Zvonimir suggests, let's continue with concrete pull requests.
If nobody objects, I will close this issue.

[2016-12-11 10:38] dbeyer opened #313 "License missing in directory termination-memory-alloca-review"

[2016-12-11 10:51] dbeyer commented on #186
Continued in issue #313.

[2016-12-11 10:51] #186 closed

[2016-12-11 10:56] dbeyer commented on #313
These verification tasks were contributed by @letonchanh in pull request #19,
the files were pre-processed by @tautschnig in pull request #257,
the files were not added to a category in Termination see issue #186.

1. Need a license
2. Rename directory to termination-memory-linkedlists
3. Add to the same category as termination-memory-alloca

[2016-12-11 11:03] dbeyer commented on #307
This was addressed by pull request #310.

[2016-12-11 11:03] #307 closed

[2016-12-11 11:32] dbeyer commented on #268
@Heizmann there are two mistakes in the split suggestion above: one directory is mentioned twice (termination-restricted-15) and one is forgotten (termination-recursive-malloc).
Can you please verify if commit 9d422c9 is what you actually mean?

[2016-12-11 11:51] dbeyer commented on #268
Current situation:
Termination-Main-ControlFlow: 415
Termination-Main-Heap: 243
Termination-Other: 928
@Heizmann please review commit 5adec1e.

[2016-12-11 12:01] #268 closed

[2016-12-11 12:23] letonchanh commented on #313
Hi all,
Sorry for my late reply. I did not receive the notification from github and just know the issue from Dirk's email. I will add the license for those examples immediately.

[2016-12-11 13:00] Heizmann commented on #268
@dbeyer Sorry for the two mistakes I made. https://github.com/sosy-lab/sv-benchmarks/commit/9d422c9403fa90c829213ee3dda932a22a7e5331 is indeed what I meant.
https://github.com/sosy-lab/sv-benchmarks/commit/5adec1e05282788c1eabcbfc8c0426b4b64ab0e1 seems fine to me.

[2016-12-11 13:29] letonchanh commented on #313
Done. I've just created a pull request for this issue. Thank you.

[2016-12-11 15:33] dbeyer commented on #313
Pull request #315 solves parts (1) and (2).

[2016-12-11 15:42] dbeyer commented on #186
Issue #313 describes how this was finished.

[2016-12-11 15:44] dbeyer commented on #313
Commit 0ae3dded260217 adds these programs to Termination-Main-Heap.set.

[2016-12-11 15:47] #313 closed

[2016-12-11 15:57] dbeyer commented on #309
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 15:57] #309 closed

[2016-12-11 15:57] dbeyer commented on #308
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 15:57] #308 closed

[2016-12-11 16:03] dbeyer commented on #301
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 16:03] #301 closed

[2016-12-11 16:09] dbeyer commented on #280
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 16:09] #280 closed

[2016-12-11 16:10] dbeyer commented on #274
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 16:10] #274 closed

[2016-12-11 16:11] dbeyer commented on #262
Solved by PR #314 "Fix wrong valid-deref labels".

[2016-12-11 16:11] #262 closed

[2016-12-11 16:43] mdangl commented on #311
@dbeyer considering that I made the pull request in the first place, there is not much value in me reviewing it. Of course I think the changes are OK, I proposed them. I would like @mikhailramalho to complete his review to have a second pair of eyes on the changes. Also, he identified the issues that I tried to fix in my pull request in the first place.

[2016-12-11 18:59] mikhailramalho commented on #311
I just sent my comments, the changes seems fine by me. We should keep the merged and close this issue.

[2016-12-11 19:05] #311 closed

[2016-12-11 19:05] dbeyer commented on #311
Also cf. concluding comments in PR #279.

[2016-12-11 19:42] dbeyer commented on #270
@martinhruska You mentioned twice that it is easy to transform HeapReach tasks into
MemSafety tasks.  That would be great because it would satisfy all requirements or all parties.
I now implemented this in commit f153b39,
and you would instantiate subcategory MemSafety-LinkedLists (or what you find appropriate).

[2016-12-11 20:27] dbeyer commented on #267
Commit d16580b is towards the requested extension (using existing programs).

[2016-12-11 22:48] #267 closed

[2016-12-12 06:13] dbeyer commented on #270
Please revisit the current structure and make suggestions for improvements.
https://sv-comp.sosy-lab.org/2017/categories.svg

[2016-12-12 09:31] dbeyer commented on #270
Dear All, in particular, @tautschnig, @PhilippWendler, @martinhruska, @cheshire, @kfriedberger, @zvonimir, @Heizmann,

Thanks for all the contributions and the help to get this done, special thanks to @tautschnig and @Heizmann.

I close this issue because I think the current implementation in the repository that was created over the last two weeks is a good compromise.

Please re-open if you have

[2016-12-12 09:31] #270 closed

[2016-12-12 09:34] dbeyer commented on #185
Solved by commit 53df817873a156934d.  Thanks @tautschnig and @PhilippWendler.

[2016-12-12 09:34] #185 closed

[2016-12-12 09:49] dbeyer commented on #276
Yes, not moving, but keeping the files close to their original and README and LICENSE.

Those files were added to a new .set file:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/Overflows-Other.set

[2016-12-12 09:50] dbeyer commented on #276
@PhilippWendler, just to make sure I correctly understood:
You mean *signed* overflow, right?
("This year several tasks with unsigned overflows")

[2016-12-12 10:04] dbeyer commented on #261
Conclusion: For SV-COMP 2017, we leave the invalid derefs and invalid frees in MemSafety,
and the invalid overflows in Overflows.
Next time we reconsider adding a property for checking undefined variables and have another
category capturing this.

Compare with issue #270.

[2016-12-12 10:26] dbeyer commented on #261
The label to mark programs that have undefined behavior different from
- invalid dereference (_false-valid-deref),
- invalid deallocation (_false-valid-free), and
- invalid overflows of signed integer variables (_false-no-overflow)
is _false-defined-behavior.

[2016-12-12 11:58] tautschnig commented on #270
Dirk, Thanks a lot for the major cleanup. I'm still wondering about the Concurrency part, but we can safely discuss this in April.

[2016-12-12 12:06] dbeyer opened #318 "Should MemSafety-TerminCrafted be part of SV-COMP 2017?"
See commits e427c6ebe53 and 01c9dccdd0fdc4e580b.

I think these should be included in SV-COMP 2018, not now.

[2016-12-12 12:14] dbeyer commented on #170
The remaining problem was that 64-bit programs from termination-crafted were included
in MemSafety-Arrays. The programs sometimes did not even have an array.
Commit e427c6ebe539 moves those to another category file and commit 01c9dccdd0fdc4e580
consistently extends this directory. Commit 7aeca24b1553a7f832ee9b0f3eddfffa6f422d60 cleans up the check.py.

[2016-12-12 12:16] dbeyer commented on #170
The remaining problem is:
Should MemSafety-TerminCrafted be part of SV-COMP 2017?
This is discussed in issue #318.

[2016-12-12 12:16] #170 closed

[2016-12-12 15:11] PhilippWendler commented on #276
No, I meant unsigned overflows.

[2016-12-12 15:15] dbeyer commented on #276
@PhilippWendler: Please propose action item.

[2016-12-12 15:44] dbeyer opened #322 "Check for contradicting verdicts"
If a program is labelled with
_false-valid-deref,
_false-valid-free,
_false-no-overflow, or
_false-def-behavior,
then none of the 'true' labels should be assigned.

[2016-12-12 19:25] PhilippWendler commented on #276
Adding these files to another category is easy, but to remove them from the current category without removing them from the current category is not so easy. How about creating a subdirectory for such files?

[2016-12-12 20:24] mchalupa opened #325 "ntdrivers/kbfiltr_false-unreach-call_true-valid-memsafety.i.cil.c is not memory safe"
Hi,

I was just going through this `ntdrivers/kbfiltr_false-unreach-call_true-valid-memsafety.i.cil.c` benchmark again (#290) and found out that it is still not memory safe at all. There is a bunch of places where an invalid memory dereference can occur.

1.  here is an out-of-bound access https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/kbfiltr_false-unreach-call_true-valid-memsa

[2016-12-12 20:29] dbeyer commented on #325
Fixing would be great, and unfold, i.e., one true-valid-memsafety, and one _false for each of the cases above would be awesome.

[2016-12-12 21:31] mikhailramalho opened #327 "Duplicate benchmarks in different categories"
Both `MemSafety-Heap.set` and `MemSafety-LinkedLists.set` contain:

`list-ext-properties/*_true-valid-memsafety*.i`

Both categories check the same properties (memory safety ones). Should we keep these benchmarks in both categories?

[2016-12-12 23:05] mikhailramalho opened #330 "Wrong label for modulus_true-unreach-call_true-no-overflow.[ci]"
ESBMC finds the following counter-example:

[code]

clang confirms the overflow:

[code]

[2016-12-13 04:23] Guoanshisb opened #331 "Wrong assumption on overflow behavior of BusyBox benchmarks?"
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/basename_false-unreach-call_true-no-overflow_true-valid-memsafety.c#L362-L365

It seems there is signed integer overflow if `__VERIFER_nondet_int()` returns INT_MAX.

A simplified program to illustrate this issue.
[code]

$clang -fsanitize=undefined overflow.c && ./a.out
overflow.c:7:38: runtime error: signed integer overflow:

[2016-12-13 05:00] Guoanshisb commented on #330
@mikhailramalho Thanks for pointing it out. I roughly remember that it's me who added `__VERIFIER_assume()` to this program. If I changed `__VERIFIER_assume(s < 32);` to `__VERIFIER_assume(s < 31);`, my simple overflow checker does not give a warning. Can you double check it?

[2016-12-13 06:48] Guoanshisb opened #332 "Uninitialized local variables in bitvector/gcd*.i"
For example, https://github.com/sosy-lab/sv-benchmarks/blob/master/c/bitvector/gcd_2_true-unreach-call_true-no-overflow.i#L28-L30.

In their corresponding .c files, all local variables are initialized properly. So I guess we need to update .i files since they are used in Overflows-Other set.

[2016-12-13 07:14] mdangl commented on #331
Yes. This specific problem occurs in many BusyBox tasks and could be fixed by introducing a sensible assumption over the size of argc, although as far as I know, the C standard requires no such limit.

Even then, of course, we would probably still run into potential overflows, because developers of real-world software usually don't really care about overflows in unrealistic scenarios (such as an I

[2016-12-13 07:51] dbeyer commented on #331
@Guoanshisb and @mdangl Can you simply add something like if (variable > 10) { exit(1); }

[2016-12-13 08:36] mchalupa opened #333 "Memory leaks in benchmarks labeled true-valid-memsafety"
Hi,

This benchmark leaks all the allocated memory (there is not even a call to free), therefore can not be true-valid-memsafety.

For easy access: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/list-properties/alternating_list_true-unreach-call_true-valid-memsafety.c

[2016-12-13 09:19] mchalupa commented on #333
I guess these benchmarks suffer from the same problem:
[code]

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/list-properties/list_flag_true-unreach-call_true-valid-memsafety.c
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/heap-manipulation/dancing_true-unreach-call_true-valid-memsafety.c
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/list-properties/splice_true-unreach

[2016-12-13 09:42] PhilippWendler commented on #333
I remember that some years ago there was a discussion whether allocated memory at program exit (i.e., where the program keeps a pointer to the memory until end of `main`) counts as a leak or not, but I do not remember the outcome of this. Anyone else?

[2016-12-13 09:42] mikhailramalho commented on #330
Just double checked, assuming s < 31 fixes the issue.

[2016-12-13 09:47] mdangl commented on #333
@PhilippWendler  I think (but am not sure) that the outcome was that the situation you describe is not a memory leak.

[2016-12-13 09:55] mchalupa commented on #325
Exactly the same issues (and some more), can be found in this benchark: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/diskperf_true-unreach-call_true-valid-memsafety.i.cil.c. I tried to fix them, but I haven't succeeded. And I'm not sure if I'm not changing the semantics of the benchmark in the first place. I guess the memory bugs in ntdriver benchmarks should be fixed the same

[2016-12-13 10:02] mchalupa commented on #333
OK, then it should be mentioned in the rules, because the valid-memtrack reads this:

[2016-12-13 10:36] xvitovs1 commented on #333
There is also a memory leak in this benchmark: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/forester-heap/sll-simple-white-blue_true-unreach-call_true-valid-memsafety.c

A blue node is created on line [63](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/forester-heap/sll-simple-white-blue_true-unreach-call_true-valid-memsafety.c#L63), but we lose track of it on line [65](https:/

[2016-12-13 10:47] mchalupa opened #335 "Invalid dereference in heap-manipulation/tree_true-unreach-call_true-valid-memsafety.c"
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/heap-manipulation/tree_true-unreach-call_true-valid-memsafety.c

On the line 57 there is a dereference of variable `node`, but this variable can be NULL in the case that the loop above (starting at line 42) did not do any iteration. Simplified code:
[code]

I guess a simple check for NULL could fix it? (anybody who know more about this benchm

[2016-12-13 14:23] mikhailramalho opened #336 "Score schema for the SoftwareSystems category"
Hi all,

I'm running some tests now and just saw the distribution for the SoftwareSystems category:

Systems_BusyBox_MemSafety: 52 benchmarks
Systems_BusyBox_Overflows: 52 benchmarks
Systems_DeviceDriversLinux64_ReachSafety: 2796 benchmarks

Given our meta category score calculation, this is pretty uneven. For comparison:
[code]

Please, can someone review my calculation and check if it's correct?

[2016-12-13 15:12] dbeyer commented on #336
The weighting schema in SV-COMP is designed to equally weight sub-categories.

This means, verifying the property MemSafety is as important as verifying Overflows or ReachSafety.
In other words, a verifier that can only do MemSafety is not worse than a verifier that can only do ReachSafety.
Sounds reasonable to me.

The other argument was:  Few verification tasks of one kind should not weight less

[2016-12-13 15:42] mchalupa commented on #333
I hope this is the last bunch:

[code]

All these benchmarks allocate a region in `request_region` function and then do not deallocate it anywhere (even on an "error" path), because `release_region` does not contain a  call to `free` (although it is called on any path). I guess these could be easily fixed, since `request_region` is called only once.

[2016-12-13 16:30] mikhailramalho opened #337 "Possible mislabeled benchmarks"
We believe that the following benchmarks are mislabeled and leak memory:

[code]

Can someone else check them? I tried with both ESBMC and CBMC, both the tools report memory leaks for all benchmarks.

EDIT: removed `list-properties/alternating_list_true-unreach-call_true-valid-memsafety.i` (fixed by PR #334) and `ntdrivers/cdaudio_true-unreach-call_true-valid-memsafety.i.cil.c` (discussion continu

[2016-12-13 16:37] mikhailramalho commented on #337
Looks like this issue has some overlap with #333.

[2016-12-13 16:42] mikhailramalho commented on #333
Hi @mchalupa, I just created an issue (#337) about some of the benchmarks you mentioned. Are you planning on fixing all that you mentioned? I was thinking about only renaming them.

[2016-12-13 16:54] zvonimir commented on #337
Dumb question. In which category are these benchmarks?
I don't see it listed here:
https://sv-comp.sosy-lab.org/2017/benchmarks.php
Are we still not done with finalizing all the categories?

[2016-12-13 16:56] mchalupa commented on #333
I do not mind if they are only renamed. The important thing is that they have correct labelling.

[2016-12-13 16:57] mchalupa commented on #337
Actually I believe that `ntdrivers/cdaudio_true-unreach-call_true-valid-memsafety.i.cil.c` contains more memory safety bugs, see #325.

[2016-12-13 17:03] mikhailramalho commented on #337
@zvonimir, these are in MemSafety-LinkedLists:
[code]
But you're right, MemSafety-LinkedLists isn't on the website. We do, however, have a .set file on the repository, so I'm not sure.

@dbeyer, is MemSafety-LinkedLists and MemSafety-terminCrafted part of the SV-Comp'17?

@mchalupa, thank you, I'll have a look.

[2016-12-13 17:07] zvonimir commented on #337
Yep, I understand where the confusion is coming from. We base our runs on the website.
@dbeyer : has the website been finalized?

[2016-12-13 17:26] dbeyer commented on #337
To organize heap-based programs as a sub-category of meta category MemSafety was suggested two weeks ago in issue #270 by @martinhruska. It was considered the best solution to satisfy all needs.
This https://sv-comp.sosy-lab.org/2017/categories.svg should be final.
I just updated the web page as well.

[2016-12-13 17:56] zvonimir commented on #337
Thanks @dbeyer . Could you place announce on the mailing list that https://sv-comp.sosy-lab.org/2017/benchmarks.php is frozen/finalized as of now?
That way we can focus on cleaning up the benchmarks and not worry about additional stuff being added a day or two later. Thanks!

[2016-12-13 18:12] mikhailramalho commented on #333
Alright.

You do have some PRs under review. As soon as they're merged, I'll rename the remaining programs to false-valid-memtrack.

[2016-12-13 18:59] dbeyer commented on #330
Claimed to be fixed by PR #338.
@mikhailramalho can you please review and if OK close this issue?

[2016-12-13 18:59] dbeyer commented on #332
Claimed to be fixed by PR #338.

[2016-12-13 18:59] #332 closed

[2016-12-13 19:03] mikhailramalho commented on #330
@dbeyer, PR #338 fixes the issue.

I'm closing the ticket.

[2016-12-13 19:03] #330 closed

[2016-12-13 19:41] dbeyer commented on #327
Fixed by pull request #339.

[2016-12-13 19:41] #327 closed

[2016-12-13 20:18] mchalupa commented on #333
I guess you have a green. The #334 was merged and there's no other PR atm. I haven't created the pull-request for the ddv-mchzwd benchmarks yet, so if you want to rename them, feel free to do it.

[2016-12-13 20:56] versokova commented on #337
You can not automatically claim false unreach benchmark at true memsafety benchmarks, e.g.:
`list-ext-properties/list-ext_flag_false-unreach-call_true-valid-memsafety.c`
where p->n = 0; --> later in code: NULL dereference, missing free memory etc.

There is already a 'TRUE' tast case for memsafety (for many `*false_unreach*` test cases)
`list-ext-properties/list-ext_flag_1_true-valid-memsafety.c`

[2016-12-13 22:13] mikhailramalho commented on #337
@versokova, I didn't quite follow what you said. Could you please clarify?

I have not claimed false reach at the benchmarks, I claimed that they contain memory leak: both ESBMC and CBMC found the bugs and @mchalupa at issue #333 found the same result.

Are saying that we should use the true-reach version of the benchmarks for memory verification? When checking for property violation (at the compe

[2016-12-13 22:15] mikhailramalho commented on #333
No problem, I'll send the PR tomorrow.

[2016-12-13 22:16] mikhailramalho commented on #325
Any progress on this?

We just found some property violation in the following benchmarks:
[code]

[2016-12-13 22:37] versokova commented on #337
You set all of *{true,false}-unreach* test cases **automatically** at *true-memsafety* without check - **before** evaluation phase. You hope, someone (mchalupa) fix it on the last moment.
From `ddv-mchzwd`,` heap-manipulation`,` forester-heap`,` list-properties`... result is false-deref, false-memtreck - I don't know it is false alarm or not. As I said: missing free memory, NULL dereference, (dele

[2016-12-13 23:04] zvonimir commented on #325
We find bugs in all of these
[code]
I am having trouble keeping track of all pull requests and all issues, but benchmarks above are likely mislabeled.

[2016-12-13 23:53] mikhailramalho commented on #337
@versokova, check the discussions at issue #270 and commit d16580b. They were relabeled for the new categories, without any check.

But, to be honest, I'm really trying to understand your complains. The benchmarks were confirmed to contain bug by different parties (also check issue #325), are you suggesting that we leave them wrong? For what purpose? I'll not stand idle when I know that there are

[2016-12-14 00:03] Guoanshisb commented on #337
@mikhailramalho Thanks for pointing these benchmarks out. Our (SMACK) preliminary runs agree with your list except for two benchmarks.

`list-properties/alternating_list_true-unreach-call_true-valid-memsafety.i`: we reported true for this one. Do you think it would be convenient for you to share the error trace so that we can debug it?

`ntdrivers/cdaudio_true-unreach-call_true-valid-memsafety.i.c

[2016-12-14 00:15] mikhailramalho commented on #337
Hi @Guoanshisb,

Actually, `list-properties/alternating_list_true-unreach-call_true-valid-memsafety.i` was just fixed by commit 83e657d (I believe it was PR #334).

I'm removing them from the list on this issue. May I suggest we continue the discussion about the ntdrivers benchmarks at issue #325? The ticket has much more information about the benchmarks there.

[2016-12-14 00:27] Guoanshisb commented on #335
@mchalupa Thanks for pointing it out. I think it's me who introduced this bug by fixing another bug (see https://github.com/sosy-lab/sv-benchmarks/commit/2dc48109b799f1e99b3165bbcb0daeb13ba98288#diff-a27449f51d7a5eca958acfff3072913f).

Could you review the pull request (#340) I just created?

[2016-12-14 07:39] zmanchun opened #341 "Undefined behavior in new benchmark of the Concurrency category"
A number of programs from the folder pthread-driver-races declares an enumeration type (i.e., "enum migrate_mode") without the list of enumerators, which is against the constrain from the C standards:

6.7.2.3 Tags
Constraints
...
3 A type specifier of the form
enum identifier
without an enumerator list shall only appear after the type it specifies is complete.

A proposed fix is to add a dummy li

[2016-12-14 08:38] mchalupa commented on #335
@Guoanshisb Late review: it looks fine :)

[2016-12-14 10:32] mutilin commented on #336
I agree with @mikhailramalho. I think that the problem is not in scoring schema, but in subcategory arrangements. I think that tools checking memsafety, overflows and reachability are not the competitors on the software market, but complement each other. Thus, I think they should be evaluated separatelly.
I suggest to move
a) Systems_BusyBox_MemSafety -> 2. MemorySafety
b) Systems_BusyBox_Overflow

[2016-12-14 11:06] versokova commented on #337
I want to fix or remove mislabeled test cases from SV-COMP'17. `False-{memtrack,deref}` porobably means memleaks, or multiple memleaks + deref. That is not just one error.

There is another test cases (not mentioned in another issues):

**false-valid-memtrack**
[code]
**false-valid-deref**
[code]

[2016-12-14 11:31] dbeyer commented on #336
You forgot:
c)  Systems_DeviceDrivers_ReachSafety -> 1. ReachSafety

Yes, this would be consequent, i.e., have only properties as top-level classification.

But:
The purpose of the software-systems category was to put an emphasis on *real* software,
i.e., apply verifiers to industrial code. This includes checking several properties.
Or do you consider MemorySafety and Overflows less important for

[2016-12-14 11:43] #335 closed

[2016-12-14 11:45] dbeyer commented on #341
Addressed in proposed pull request #342.

[2016-12-14 11:45] #341 closed

[2016-12-14 11:49] dbeyer commented on #337
@versokova Could you please make a pull request for correctly labelling them
as _false-valid-deref and _false-valid-memtrack, respectively?

... and ideally, create a fixed copy of them with label _true-valid-memsafety.

[2016-12-14 11:54] versokova commented on #337
@dbeyer OK

[2016-12-14 12:13] mutilin commented on #336
Of course, MemorySafety and Overflows are equally important for industrial software (frequently MemSafety errors are a basis for vulnerabilities).
In perspective I would like to see three categories: Systems_MemSafety, Systems_Overflows, Systems_ReachSafety.
For now, I think that Systems_BusyBox_MemSafety and Systems_BusyBox_Overflows need more benchmarks to become the separate categories.

[2016-12-14 17:02] mikhailramalho commented on #337
From your list, @versokova, we were able to find memory leak in the following:

forester-heap/dll-rb-sentinel_false-unreach-call_true-valid-memsafety.i  	false(memtrack)
forester-heap/dll-simple-white-blue_false-unreach-call_true-valid-memsafety.i  	false(memtrack)
forester-heap/sll-simple-white-blue_false-unreach-call_true-valid-memsafety.i  	false(memtrack)
list-properties/list_false-unreach-cal

[2016-12-14 17:23] mikhailramalho commented on #337
We also found memory leaks in:

[code]

Can anyone confirm it, so I create a PR? @Guoanshisb?

[2016-12-14 18:08] Guoanshisb commented on #337
@mikhailramalho Yes, SMACK returns `false(memtrack)` for all the benchmarks in this list.

[2016-12-14 18:31] versokova commented on #337
I check all test cases from forester-heap. Now I check `ddv-machzwd` and `list-properties`.

[2016-12-14 18:43] Guoanshisb commented on #337
Hey guys,

SMACK found invalid memory deference in,

MemorySafety-LinkedLists
[code]

MemorySafety-Other
[code]

Can anyone confirm them? I really appreciate it.

[2016-12-14 19:08] mikhailramalho commented on #337
Hi,

We found invalid memory dereference in all of them, @Guoanshisb. I didn't report because I was checking if they were false positives from our tool. Could you create a PR to rename the benchmarks? Not the ntdrivers though, they seem to have more than one property violation, so I'll suggest to remove them from this year's competition.

I'll create a PR to rename the ones with memory leak.

[2016-12-14 19:11] mikhailramalho commented on #325
Should we remove them from this year's competition? @dbeyer suggested:

_Non-fixable programs are to be moved to a directory <original>-todo._

I believe these qualify to be removed.

[2016-12-14 19:13] zvonimir commented on #325
Wait, why shouldn't we just change the labels?
It is not like we have to fix them so that they don't contain bugs. We just have to update their labels. No?

[2016-12-14 19:22] Guoanshisb commented on #337
Hi @mikhailramalho,

Thanks for confirming them. I will create a pull request to rename them. I am a little confused about what names should I use for them. For example, `heap-manipulation/sll_to_dll_rev_false-unreach-call_true-valid-memsafety.i`, should I keep the `false-unreach-call` part?

[2016-12-14 19:24] mikhailramalho commented on #325
I was actually taking under consideration that two tools (we and @versokova) reported memory leak in `ntdrivers/cdaudio_false-unreach-call_true-valid-memsafety.i.cil.c`, which @mchalupa reported another memory violation (deref).

My assumption is that all benchmarks in this category have at least two memory violations (leak and deref), that's why I suggested remove them.

[2016-12-14 19:27] mikhailramalho commented on #337
Yep. The benchmark is also part of the ReachSafety-Heap category.

[2016-12-14 19:30] zvonimir commented on #325
Ah, got it. Sure, in that case I don't think it is feasible we fix them before the deadline. These are I think very tricky to fix. So I am fine if we remove them.

[2016-12-14 21:20] jhensel opened #348 "__VERIFIER_assume(expression) in Termination Category"
With the rules saying

"__VERIFIER_assume(expression): A verification tool can assume that a function call __VERIFIER_assume(expression) has the following meaning: If 'expression' is evaluated to '0', then the function loops forever, otherwise the function returns (no side effects). The verification tool can assume the following implementation:
void __VERIFIER_assume(int expression) { if (!express

[2016-12-14 22:10] zvonimir commented on #336
Wait, I am lost here. Are few busy box benchmarks going to be worth the same as thousands of device driver benchmarks? Is that what will happen if categories remain the way they are now?

[2016-12-14 22:15] tautschnig commented on #348
I do agree with what @jhensel says, but I'm wondering whether a very simple fix would do the trick:
[code]

[2016-12-14 22:22] dbeyer commented on #336
@mutilin: Yes, I agree.  But nobody added those more programs.
@zvonimir: What is it worth if you check error reachability for thousands of programs but do not find the security vulnerability in one MemorySafety program?
We have this effect in every category: in categories with few tasks, the single verification task counts more. The goal being to have sub-categories with the same value.

[2016-12-14 22:27] versokova commented on #337
@dbeyer I fix rest of mislabeled test cases in #346. At #325 can I rename `*{true,false}-unreach-call_true-valid-memsafety.i.cil.c` to `{true,false}-unreach-call.i.cil.c` for SV-COMP'17?

[2016-12-14 22:43] zvonimir commented on #336
In this category this is crazy pronounced.
Rechability error can easily be a security vulnerability (depending on what the assertion encodes), so that is a flawed argument for how "important" categories are.
I just think it makes no sense to weight categories where one category contains 50 benchmarks and the other one 5000 benchmarks. There is no way that 1 busy box benchmarks is worth 100 device

[2016-12-14 22:59] zvonimir commented on #336
Anyhow, enough said. Given that we decided to freeze the categories, maybe we should not make any changes at this point.

[2016-12-15 00:31] Guoanshisb commented on #337
@mikhailramalho Please take a look at the pull request (#349) that I created. I didn't add `forester-heap/sll-01_false-unreach-call_true-valid-memsafety.i` because I found that there is an invalid deference in the error trace of the reachability assertion failure. So I need to think about more about possible fix.

[2016-12-15 01:16] peterschrammel commented on #348
I fully agree that this definition does not make any sense for the termination benchmarks. We can follow @tautschnig's suggestion.

[2016-12-15 06:18] Guoanshisb opened #351 "Incorrect declaration in c/ntdrivers/kbfiltr_false-unreach-call_true-valid-memsafety.i.cil.c"
In commit https://github.com/sosy-lab/sv-benchmarks/commit/787e7015c07cf8672c2d0b716ddeed3c480cebc1, a declaration of `__VERIFIER_nondet_ulong` was added but with `long` as return type. Shouldn't it be `unsigned long`?

[2016-12-15 06:51] jhensel commented on #348
Fixed in #352.

[2016-12-15 08:44] mchalupa commented on #351
Hi, yes, sorry, my fault. It should be `unsigned long`

[2016-12-15 12:04] versokova commented on #337
@Guoanshisb Where is invalide dereference in test case: `heap-manipulation/sll_to_dll_rev_false-unreach-call_false-valid-deref.c` at #349 ?
It is possible that you have  a false alarm in your tool.

[2016-12-15 14:51] mchalupa commented on #331
PR #359 looks great, however, as @mdangl said:

this won't solve all the issues. For example, in some of those benchmarks (one example is below) there can be a problem with `read` and `write` functions. Those are undefined, so a verifier can suppose that they can return an arbitrary non-deterministic value (in reality, `read` and `write` always return a value that is less or equal the `count` para

[2016-12-15 16:20] mchalupa commented on #337
I think there are still memory leaks in these benchmarks:
[code]
the reason is still the same - memory is allocated, but there's not a single call to free. Can somebody confirm, please?

[2016-12-15 16:49] versokova commented on #337
@mchalupa, I think, all four are true memsafety. Pleas, do you send a trace to fail?

[2016-12-15 16:53] mikhailramalho commented on #337
We found memory leak on the following now:
[code]

For this one, we found invalid memory access AND memory leak:
[code]

I can't confirm the `ddv_*` benchmarks because we're crashing on those benchmarks.

[2016-12-15 17:02] versokova commented on #337
fix at #360:
list-ext-properties/list-ext_false-unreach-call_false-valid-deref.i
list-ext-properties/list-ext_flag_false-unreach-call_false-valid-deref.i

I agree with:
list-properties/alternating_list_false-unreach-call_true-valid-memsafety.i -> false-valid-memtrack
heap-manipulation/tree_false-unreach-call_true-valid-memsafety.i -> false-valid-deref

@mikhailramalho, where are the errors?
list-e

[2016-12-15 17:05] mikhailramalho commented on #337
@versokova, both:
[code]
allocate memory but never free them.

[2016-12-15 17:09] versokova commented on #337
@mikhailramalho: it is fixed 6 hours ago

[2016-12-15 17:20] mchalupa commented on #337
Oh, yes, the leaks would be on error paths, I just missed that the program won't get to allocating the memory because it violates the assertion before and exits. Sorry for the false alarm (the second time today... I should stop doing anything right now :)

[2016-12-15 17:24] dbeyer commented on #325
Is the conclusion that these should be fixed later?  So I added milestone SV-COMP 2018.

[2016-12-15 17:30] mikhailramalho commented on #337
@versokova, the current version on master still contain the error:

[list-ext-properties/simple-ext_false-unreach-call_true-valid-memsafety.i](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/list-ext-properties/simple-ext_false-unreach-call_true-valid-memsafety.i)
[list-properties/list_search_false-unreach-call_true-valid-memsafety.i](https://github.com/sosy-lab/sv-benchmarks/blob/master/c

[2016-12-15 17:40] versokova commented on #337
@mikhailramalho, interesting... In my last run: I have renamed list-properties/list_search_false-unreach-call_true-valid-memsafety.i --> list-properties/list_search_false-unreach-call_false-valid-memtrack.i
and 2nd file, is not false alarm (where is error)? I will check it manually tommorow.

[2016-12-15 19:26] mikhailramalho commented on #337
You probably didn't push the change.

Both leak memory, a quick CTRL+F shows that they only define free, but never use it.

[2016-12-15 20:15] sfsiegel opened #365 "pthreads-driver-races benchmarks assume pthread_t = int"
In the recently added concurrency benchmark
char_generic_nvram_nvram_llseek_nvram_unlocked_ioctl_true-unreach-call.i
the code below occurs.

[code]
The code assumes that pthread_t has been defined as int.  (See the statement lock->init = 1.)  The code may depend on further assumptions about the Pthreads implementation.

This is not in the POSIX Standard.  The POSIX Standard treats pthread_t as an

[2016-12-15 20:30] Guoanshisb commented on #337
@versokova You are probably right. We had the incorrect assumption on `__VERIFIER_error()` that it did not exit the program. @mikhailramalho Could you double check this example:`heap-manipulation/sll_to_dll_rev_false-unreach-call_false-valid-deref.c`? SMACK does not report an invalid deference after the model of `__VERIFIER_error()` is fixed.

[2016-12-15 20:59] zmanchun commented on #365
I'm wondering if the header mutex.h in pthreads-driver-races/model/linux could be modified so that it doesn't rely on the assumption that pthread_t is int.

Here is the code excerpt from mutex.h:

struct mutex
{
  int init;
  **int locked;**
};

#define DEFINE_MUTEX(x) struct mutex x = { MUTEX_INITIALIZED, MUTEX_UNLOCKED }

void mutex_init(struct mutex *lock)
{
  **lock->locked = MUTEX_UNLOCKED;**

[2016-12-15 21:24] Guoanshisb commented on #331
@mdangl My experiment agrees with @mchalupa's great observation.

By the way, can I assume that these benchmarks are memory safe? Otherwise what will be definition for one path that contain both signed integer overflow and memory safety violation.

[2016-12-16 00:22] tautschnig commented on #365
Aren't we here in a situation that an actual implementation of various pthread(-like) functions is being provided? Maybe that should just not be happening? I.e., we should never see anything like mutex_lock being defined (any use of it should just be a call to pthread_mutex_lock).

[2016-12-16 00:24] sfsiegel commented on #365
But it's not a pthread function.  As you say, the pthread function is called pthread_mutex_lock.  This is a different function.  Given the name of the header file, I assume it is a linux function.

[2016-12-16 00:24] zvonimir commented on #365
These are Linux device drivers and hence they use `mutex_lock`. Sure, maybe @sfsiegel or @zmanchun could provide a pull request that replaces those with the appropriate pthreads functions? That would be great!

[2016-12-16 00:29] tautschnig commented on #331
May I suggest to have/open different issues for the items being discussed? The limitations imposed via #359 should weed out completely uninteresting overflows. Any remaining overflows would constitute genuine bugs and should be reported by tools. (Of course the developers might have assumed that no one ever passes this many arguments, but that's not a sound assumption.)

For `read` and `write`, th

[2016-12-16 08:59] mchalupa commented on #331
Sounds reasonable.

Aren't read and write in POSIX? (they are declared in unistd.h)

[2016-12-16 11:59] tautschnig commented on #331
I am sorry, yes, they are POSIX indeed. I suppose a dummy implementation should thus be provided.

[2016-12-16 12:09] mikhailramalho commented on #337
@Guoanshisb, we're still finding a invalid memory access in ``.

The path is the one defined by the following changes:
[code]

You can compile and run that (just replace verifier_error by abort), here's the gdb backtrace:
[code]

[2016-12-16 20:49] zvonimir commented on #331
Could you clarify what you mean by "dummy implementation"?
Would that be an implementation that avoids the mentioned overflows?
Also, are tools supposed to provide it, or because this is POSIX it should be provided in the benchmarks?
Your help would be appreciated.

[2016-12-16 21:25] zmanchun commented on #365
After further examining the code, I realize that `mutex` (and `spin_lock_t` as well) doesn't need to have field `locked` declared as `pthread_t`. All usages of that field are just checking if it is equal to `0`. I do see that there is commented assertions that checking if `locked` equals to the thread ID. However, since those assertions are all commented out. I think I could safely keep `locked` a

[2016-12-16 21:40] tautschnig commented on #331
I was thinking of including implementations of `read` and `write` in the benchmarks:
[code]
and
[code]

[2016-12-16 22:21] zvonimir commented on #365
That sounds good to me. I could regenerate all the `.i` files if you update `mutex.h`. Having said that, I think that in that case the fix that I think you already pushed to `.i` files earlier would be overwritten. So I guess you should just edit both `.c` and `.i` files.

[2016-12-16 22:23] Guoanshisb commented on #333
Hey guys,

I would like some confirmation here. Is benchmark `heap-manipulation/tree_false-unreach-call_true-valid-memsafety.i` also mislabeled? The root node is not freed.

[2016-12-16 22:41] tautschnig commented on #365
Looks all good to me - thanks for raising the issue and proposing a fix!

[2016-12-16 22:51] zmanchun commented on #365
@zvonimir I found that the enumeration type declaration is in fact from model/linux/fs.h.
I have fixed it in my pull request (# 371) as well, so when you regenerated the *.i files, the fix of the previous problem will also be reflected.

[2016-12-17 11:00] #348 closed

[2016-12-17 11:09] mikhailramalho commented on #333
@Guoanshisb, we found both memory leak and null dereference on the program, so @versokova removes the program from verification on PR #366 (it's not merged yet though).

[2016-12-17 12:58] dbeyer commented on #333
@mikhailramalho, @mchalupa, @xvitovs1, @martinhruska:
In comparison with pull request #367 you are not re-labeling programs but fixing them by
introducing deallocation operations, correct?
Please confirm, such that we do not make mistakes here that make the repository deviate from our own definitions.

[2016-12-17 13:19] tautschnig commented on #333
@dbeyer Do note that #334 also introduced an additional file labelled false-valid-memsafety (that's an invalid verdict name, but it won't be picked up a benchmark anyway), and a task false-valid-memtrack (which does amount to re-labeling).

[2016-12-17 13:47] dbeyer commented on #333
@tautschnig: Uff. I made a mistake asking @mchalupa to add the originals as _false cases.
They should not be added as _false-valid memtrack.

[2016-12-17 15:46] mikhailramalho commented on #333
I created the new PR #372 that fixes the memory leaks, instead of renaming them like PR #367.

@tautschnig, @dbeyer, the benchmark was renamed to the correct label in PR #356.

[2016-12-17 18:21] Guoanshisb commented on #333
@mchalupa I think that benchmark is a good example of memory leak if we fix other memory safety issues.  Would you mind that I create a pull request that fixes invalid deference?

[2016-12-17 18:26] versokova commented on #333
@mikhailramalho @dbeyer PR #372: How can be fixing our problem of misunderstanding the memory leak? Like this:
[code]

[2016-12-17 22:07] dbeyer commented on #318
So it should not be part of SV-COMP 2017.

[2016-12-17 22:07] #318 closed

[2016-12-17 22:11] dbeyer opened #375 "New MemTrack Property and _false tasks to be re-added"
This is to keep track of the changes that are necessary to have some _false tasks
if the new definition of memory leak gets added to the rules.

[2016-12-17 22:25] dbeyer commented on #333
@versokova I do not understand what you want to achieve.

[2016-12-17 22:33] versokova commented on #333
@dbeyer: call abort() ==> memory leak. Version of program is false-unreach, that means, there exists run with calling abort() ==> memory leak... for SV-COMP'17 and solution A (from mailing list): it is possible interpretation as memory leak

[2016-12-18 01:15] zmanchun opened #376 "functions from non-standard library without definition used in benchmarks in pthread-driver-races"
Hi, please correct me if I am wrong, is it the rule of SVCOMP that all functions from non-standard library should be defined?

A bunch of benchmarks from pthread-driver-races are using non-standard functions like `access_ok`, `alloc_chrdev_region`, without providing the definition of the function. I don't know how to implement such functions in standard C functions.

civl verify -svcomp17 -timeout

[2016-12-18 01:50] zvonimir commented on #376
I am not aware of such a rule. I am pretty sure that a bunch of functions in device drivers for example are missing definitions.

[2016-12-18 07:53] dbeyer commented on #333
@versokova: According to yesterday's discussion of the C standard, a call to exit or abort is not a memory leak, because the local pointer is not destructed and thus, still points to the memory at abort.
Only the return does the local variable destruction. (Valgrind calls it a "still reachable" case.)

You could make it an ordinary memory leak by setting a to the value of p, such that the prefix o

[2016-12-18 09:46] tautschnig commented on #376
The (not necessarily made explicit) assumption is that all functions lacking a definition 1) return a non-deterministic value and 2) do not have side effects. As @zvonimir, this situation is mostly found in the device-driver examples. See #230.

[2016-12-18 11:14] versokova commented on #333
@dbeyer OK. My misunderstanding.

[2016-12-18 13:02] letonchanh opened #377 "Wrong expected result for termination-crafted/Binary_Search_false-termination_true-valid-memsafety.c"
Hi,

I think the expected result of this test should be true-termination.

The original version is in the TPDB benchmark at

http://cl2-informatik.uibk.ac.at/mercurial.cgi/TPDB/file/54833d03619e/C/Ton_Chanh_15/Binary_Search_true-termination.c

[2016-12-18 15:57] zvonimir opened #378 "Mislabeled benchmark in pthreads: pthread-C-DAC/pthread-finding-k-matches_true-unreach-call.i"
This benchmark is clearly mislabeled and in fact quite weird.
It contains codes such as:
[code]
This can trivially fail since based on the spec, `pthread_mutex_init` can return a value that is not 0. There are other code segments such as this one.
I suggest that we label this benchmark as `false`. Btw, I am unsure what changes to make to create a correct version.

[2016-12-18 15:58] zvonimir commented on #378
@yihaoyan : you submitted this benchmark, and so maybe you could comment on this issue. Thanks.

[2016-12-18 16:01] zvonimir commented on #378
Actually, another benchmark (pthread-C-DAC/pthread-numerical-integration_true-unreach-call.i) has the exact same problems.

[2016-12-18 16:33] zvonimir commented on #378
@zmanchun : you should maybe take a look at this as well. Thx!

[2016-12-18 16:38] zvonimir commented on #378
Actually, the more I think about it, I think that these two benchmarks should be removed from the competition. They seem to be messed up in such a way that exploring interleavings is not even needed to fail them. I don't see a clear and easy fix and we are too late in the process to spend a lot of time on this.
So given what we decided on the mailing list about such benchmarks, I propose that we m

[2016-12-18 17:26] yihaoyan commented on #378
@zvonimir  How about for all the
    if(ret_count)
    {
          __VERIFIER_error();
    }

, replace __VERIFIER_error() with an prinf(error message) or just remove the if statement..

[2016-12-18 17:54] yihaoyan commented on #378
@zvonimir  all such '__VERIFIER_error();' are a printf("message") along with an exit(1) in the original file, for example:

if(ret_count){
printf("\n ERROR : Return code from pthread_mutex_init() is %d ",ret_count);
        exit(-1);
}

I am not sure changing them back would fixed this issue..

If we don't have much time working on this issue, move them to the todo folder is totally ok to me.

[2016-12-18 18:03] zvonimir commented on #378
Replacing them with
[code]
might help. So I would encourage you to create such a pull request ASAP, it cannot hurt. Note that you have to fix *.c as well as .i files.
Having said that, I don't have merge privileges and we are really running out of time. So maybe simply removing these benchmarks is the best way to go. Not sure.

[2016-12-18 18:47] Guoanshisb commented on #331
@tautschnig I noticed that there may be some memory issues in these benchmarks. For example, in benchmark `whoami-incomplete_true-unreach-call_true-no-overflow_true-valid-memsafety.i`, if I do ` grep -n applet_name`, only three lines are returned,

[code]

[2016-12-18 20:06] Guoanshisb commented on #337
@mikhailramalho With respect to `heap-manipulation/sll_to_dll_rev_false-unreach-call`, I think the error trace that you provided in your previous comment actually leads to `SIGABRT` instead of `SIGSEGV`. Maybe there is actually no invalid memory access in this example.

[2016-12-18 20:18] versokova commented on #337
@mikhailramalho: I agree with @Guoanshisb : SLL is created correctly. Then it is calling abort(), because pp1 and pp2 point to same node (check_seq_next), but list points to complete list => without invalid memory access.

[2016-12-18 20:36] dbeyer commented on #378
@zvonimir Can I close this issue?

[2016-12-18 20:45] zvonimir commented on #378
Fixed by #380

[2016-12-18 20:45] #378 closed

[2016-12-19 02:42] Heizmann opened #382 "Mislabeled psyco/psyco_net_1_true-unreach-call.c"
According to UAutomizer it is false-unreach-call. I checked the attached witness manually and the result of UAutomizer seems plausible to me.
[psyco_net_1_true-unreach-call.c-witness.graphml.txt](https://github.com/sosy-lab/sv-benchmarks/files/659935/psyco_net_1_true-unreach-call.c-witness.graphml.txt)

[2016-12-19 08:09] mchalupa commented on #333
Sorry for the late answer, I was not able to be online during the weekend. Of course I do not mind.

[2016-12-19 08:52] eunovm commented on #230
We can teach our C-backend to replace all calls to undefined functions, which base return types are simple, e.g. integers, with calls to SV-COMP well known functions. So this will be done automatically. Other users should do this themselves. Existing benchmarks should be fixed. Perhaps you will extend SV-COMP rules to avoid this but this should be decided by the whole community rather than by some

[2016-12-19 13:00] mikhailramalho commented on #337
Hi @Guoanshisb, @versokova, yes I agree. It's raising an abort instead of a segfault, my mistake.

It does feels wrong to report true-valid-memsafety when the program has a reachability error, but I guess it's on par with the current rules.

[2016-12-19 14:35] zvonimir commented on #365
Fixed by #371.

[2016-12-19 14:35] #365 closed

[2016-12-19 14:36] zvonimir commented on #351
Fixed by #353.

[2016-12-19 14:36] #351 closed

[2016-12-19 17:35] mchalupa opened #385 "Invalid dereferences in BusyBox-memsafety"
This started in #331, but I guess it deserves its own issue. To recap:

2122:  return_value_strlen$1=strlen(applet_name);
2155:    strcpy(msg, applet_name);

The `applet_name` is not the only variable with this problem. Just a line below (2088) a variable `bb_errno` is defined, which is dereferenced on line 2216 (I'm not sure whether in this particular benchmark the dereference can really occur, t

[2016-12-20 17:26] sfsiegel commented on #230
Assuming undefined functions return a nondeterministic value of the right type and don't modify anything is one reasonable interpretation, but not the only one and not my preferred solution.    In my view it is too unsafe --- what if the unknown function really does modify some global variable for example --- then your verifier might tell you your program is safe when it isn't.   You could argue t

[2016-12-21 00:33] Heizmann commented on #377
The [program](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/termination-crafted/Binary_Search_false-termination_true-valid-memsafety.c) is nonterminating for ``i=-1`` and ``j=0``.
The expression ``(i+j)/2`` is evaluated to ``0`` because C uses _rounding towards zero_ instead of _euclidean division_. If __VERIFIER_nondet_int() evaluates to a non-zero value, the function ``bsearch`` is cal

[2016-12-21 03:28] zvonimir opened #386 "Weird issue(s) in busy-box/basename_false-unreach-call_true-no-overflow_true-valid-memsafety.i"
I would need someone's help clarifying this pattern that I see in this benchmark (not sure if others have the same pattern or not since I started with this one). See: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/basename_false-unreach-call_true-no-overflow_true-valid-memsafety.i#L1248
And here it is:
[code]
It makes no sense to me to be comparing `argv` with `NULL` here s

[2016-12-21 03:31] zvonimir commented on #386
It seems that other busy box benchmarks contain this same weird pattern. In this one there is certainly a problem. I guess maybe it is fine in the other ones. My hunch is though that this pattern is maybe not what was actually intended to appear here.

[2016-12-21 03:40] zvonimir commented on #386
@tautschnig : maybe you could shed some light on this one?

[2016-12-21 07:31] kfriedberger commented on #377
@Heizmann : Thanks for the nice example.

[2016-12-21 07:31] #377 closed

[2016-12-21 09:04] mchalupa commented on #386
Yep, I ran into the very same problem in some other benchmark few days ago, but haven't got to looking into it more deeply (I think it was whoami or chroot)

[2016-12-21 12:13] peterschrammel opened #387 "Introducing verdict compatibility checks"
Following discussions in https://github.com/sosy-lab/sv-benchmarks/pull/370, we should add the following checks to check.py:
* a benchmark marked `false-no-overflow` must not have any other verdict
* a benchmark marked `false-valid*` must not have any other verdict
* a benchmark marked `false-unreach-call` must not have verdict `false-termination`

Any other rules that need to be considered?

[2016-12-21 12:21] dbeyer commented on #387
- a benchmark marked false-no-overflow must not have any other verdict
ok, because undefined behavior does not allow any other reasoning

- a benchmark marked false-valid* must not have any other verdict
tweak to
a benchmark marked false-valid* must not have any other false-valid* verdict
(a false-valid-memtrack can happily have another *-unreach-call, ... verdict)

- a benchmark marked false-unre

[2016-12-21 12:32] kfriedberger commented on #387
The function _VERIFIER_error() is defined as no-return and thus a program does end there.
However, this does not imply termination. An example would be a tasks with two distinct paths: one leading to an endless loop and another one leading to _VERIFIER_error().
if (nondet) { LOOP: goto LOOP; } else { __VERIFIER_error(); }
This is a not-terminating program with a reachable error position.

[2016-12-21 12:37] peterschrammel commented on #387
Yes, you're right, @kfriedberger, false-unreach-call does not imply termination.

[2016-12-21 12:55] kfriedberger commented on #387
- `false-no-overflow` causes undefined behaviour and thus implies any possible behaviour. This violates any other specification. It makes no sense to combine `false-no-overflow` with any other property.
- the rules state that only one `memory property` is violated in a program. Thus at most one of the tokens `false-invalid-[deref,memtrack,free]` appears in the filename.
- `false-invalid-*`, `false

[2016-12-21 13:29] Heizmann commented on #377
By the way, if you want to quickly get some termination analysis results of UAutomizer, you can use the  [Ultimate Buchi Automizer web interface](https://ultimate.informatik.uni-freiburg.de/?ui=int&tool=buechi_automizer&task=cBuchiAutomizer&sample=761218924).
Due to some bug it currently does not show you the ranking functions that were found and the output does not look very nice but it should pr

[2016-12-22 14:01] mikhailramalho commented on #386
We're having the same issues described here and on issue #385.

I tried to fix some but it just led to more bugs. At least the memory leaks were fixed.

[2016-12-23 00:45] Heizmann commented on #386
I just checked the [orginial busybox 1.22.0 sources](https://git.busybox.net/busybox/snapshot/busybox-1_22_0.tar.bz2) and this *weired pattern* is definitely not there. So I hope that the submitter of these benchmarks @tautschnig can help us out.
UAutomizer can confirm Zvonimir's bug and produces [a violation witness](https://github.com/sosy-lab/sv-benchmarks/files/670126/basename_false-unreach-ca

[2016-12-23 01:01] zvonimir commented on #386
Yes, your assessment is along the lines of what I observed as well. Maybe changing the assume would help as you suggested, I thought about that as well. I am not sure.
Parts of the source code, such as the unusual pattern I brought up, make the intentions of the benchmark author somewhat unclear. To me it seems that all code blocks of this form:
[code]
should be replaced with:
[code]
But it is ver

[2016-12-23 12:15] eunovm commented on #230
I agree with you that it would be better to do this explicit both in SV-COMP rules and by providing some option to verification tools through BencExec wrappers. The same situation is with recently discussed inline assembly code.

At least some verification tools although assume this by default, but print some warnings in their logs. Logs aren't good places since normal users don't examine them usu

[2016-12-23 12:37] eunovm commented on #230
Another corner question is calls through unknown function pointers. Although this is just one special case of common interpretation of unknown pointers, it usually matters more than operations with other types of pointers. In particular some verification tools provide a variety of options and related heuristics how to deal with them.

Also I think that it will be extremely useful both for users an

[2016-12-23 13:38] sfsiegel commented on #230
I don't see how it "closes the door" to ask a real-world developer to write a simple 1-line stub of a function.  It's not that hard.  But whatever ---- there is a reasonable case for any decision on this issue, there just needs to be a decision --- a decision for SV-COMP, not just for this example.

[2016-12-23 14:06] dbeyer commented on #230
What is the summary of the long discussion?
The interpretation of the previous years is no side effects by definition and a non-det return value.
Philipp wants to interpret those functions as having no side effects and return a non-det value.
Michael wants to replace it by __VERIFIER_nondet_int or similar.
Steve wants stub functions.

Is anybody against Steve's proposal?
Is it easy to write a scri

[2016-12-23 14:08] eunovm commented on #230
It won't be easy because of there is an unknown list of thousands of such functions when we are preparing verification tasks on the fly. So they should be processed automatically somehow.

Now I think that it will be much better not to provide any stubs or replacements with _VERIFIER_nondet*() because of actually this will just help to verification tools but don't serve the original goals of verif

[2016-12-23 14:13] eunovm commented on #230
My last reply was for Steve's last comment. It is hard for verifiers (people) to provide stubs for all unknown functions manually (and this has no much sense). This can be done automatically quite easy both for new and existing verification tasks. But I don't think that this is a perfect solution from the verifiers point of view since they need real evidences and know assumptions were made. There

[2016-12-23 14:17] eunovm commented on #230
Another option is to provide the list of assumptions globally, but this won't permit some tricky cases, e.g. when there are some particular context dependent reasonings about a call through unknown function pointer (so verifiers will need to understand that themselves.

[2016-12-23 14:18] sfsiegel commented on #230
In a real world use case, the person who wrote the stub would be the same person who is running the verification tool.   They don't need to be told that a missing function was stubbed out, because they were the ones who stubbed it out.  They are responsible for making their assumptions explicit.  It is the user's job to explicitly state their assumptions --- not the verification tool's job to make

[2016-12-23 14:22] sfsiegel commented on #230
I read above that there are "thousands of such functions".   Wow --- that is fascinating.  Where do these functions come from?   Has someone actually gone through all of them and checked that they don't modify the state?   If not, what use is the verification process?    It could say some property holds when it doesn't because this assumption was wrong.

[2016-12-23 15:09] sfsiegel commented on #230
As for the calls through unknown function pointers...

Is it correct that the only way such a function pointer could exist is because it was returned by __VERIFIER_nondet_something()?

The only good solution I can think of is to add another special kind of assumption statement that means "assume the function pointed to modifies nothing".  Or, add another function like __VERIFIER_pure_function_ptr(

[2016-12-23 22:14] mutilin commented on #230
Assuming that undefined function returns nondet value is not enough, because we can not assume that such function returns nondet pointer. We will still have undefined behaviour when it is dereferenced. See our proposal for this problem https://docs.google.com/document/d/1T2j3asG6wl1FM28JXGTmrri8nbnDMdPUVtCB0ZMBK4Q/edit#

[2016-12-24 17:21] zvonimir commented on #386
Guys, I am quite convinced that the change I proposed above helps. It by no means fixes all problems, but at least on the example where I tried to implement it, SMACK reports much deeper bugs. So it seems to be a step in the right direction. I will create a pull request implementing this change.

[2016-12-24 21:57] dbeyer commented on #386
I like the proposed change by @zvonimir.

[2016-12-24 21:57] dbeyer commented on #386
Can you make a pull request?

[2016-12-24 23:21] zvonimir commented on #386
Yes, I can do that. What confused me is that the change I proposed will create dead code (dead if branch) in at least one benchmark. That threw me off and I started doubting my change. Should I still do it?

[2016-12-26 08:41] eunovm commented on #230
As far as I remember you aren't the first who referred to such the examples and Dirk answered that the difference of software verification is that it is fully automatic rather than interactive. We feel this difference each day when we can get verification results even we have many things undefined. This surprises some people very much. Reasonable assumptions do have sense. Without them we likely s

[2016-12-26 10:48] tautschnig commented on #387
We could relieve ourselves of the discussion about "memory leaks vs abort" if we forbid `false-unreach-call` together with `true-valid-memsafety`.

[2016-12-26 10:56] mutilin commented on #230
Stephen (@sfsiegel), please see my additions for function pointers 1.a, 1.b on page 1

[2016-12-26 11:44] tautschnig commented on #386
Apologies for joining the party very late. I do know that some of these checks are trivially true, i.e., the `__VERIFIER_ERROR()` branch will not be reached. Yet I don't see how any of these _cause_ an overflow?

To provide some background on them: they were automatically generated to guard against _some_ memory safety errors (doing a full set requires considerable instrumentation) before attempti

[2016-12-26 11:50] tautschnig commented on #385
The file name actually carries information here: some of these benchmarks are known to be incomplete, i.e., missing some additional functions. @mchalupa seems to have a series of patches to model this - a pull request would be very much appreciated.

[2016-12-26 15:54] zvonimir commented on #386
Let's then remove all such checks. I think that is a great idea. I can describe how they are causing an overflow to happen in `basename`, but I would prefer if we would simply remove them instead.

[2016-12-26 16:40] tautschnig commented on #386
@zvonimir Done in #395. If you could please review and approve it, we'll surely get it merged soon.

[2016-12-26 22:48] #386 closed

[2016-12-26 22:56] dbeyer commented on #331
@Guoanshisb Could you please review #394 ?

[2016-12-28 10:55] #331 closed

[2016-12-28 12:26] versokova commented on #337
Fixed by #388

[2016-12-28 14:06] dbeyer commented on #385
@tautschnig @mchalupa Is there hope for a fix?

[2016-12-28 14:11] #382 closed

[2016-12-28 14:11] dbeyer commented on #382
@Heizmann Thanks for reporting.

[2016-12-28 14:15] dbeyer commented on #337
@mikhailramalho What is the status of this issue?  Is it solved by @versokova's commits?

[2016-12-28 14:16] dbeyer commented on #333
@mchalupa Is this addressed by @versokova' recent commits?

[2016-12-28 14:18] dbeyer commented on #387
Should be implemented together with #322.

[2016-12-28 14:21] tautschnig commented on #385
I can try to work on this, but I wouldn't be doing more than @mchalupa's two commits. Thus input from @mchalupa would be most valuable and welcome.

[2016-12-28 17:39] zvonimir opened #399 "NULL ptr dereference in basename_false-unreach-call_true-no-overflow_true-valid-memsafety.i"
In `main` variable `argc` gets assigned to 1. Hence, `argv[1]` will be 0. The if condition on line 1148 evaluates to false. However, `argv` still gets incremented by 1 on line 1210, which means that `argv` is now 0. Ultimately, the library function `strrchr` is called on line 1239 with 0 as its first argument. Since all implementations of this function that I have seen simply derefererence the fir

[2016-12-28 23:18] tautschnig commented on #399
Hasn't this been fixed in #397?

[2016-12-28 23:37] zvonimir commented on #399
I don't think so.
You have these lines that were influenced by #397:
[code]
Now, the above expression will be true when argc is greater than 3 I think. Right?
So when argc is 1 you still fall through and get a NULL ptr dereference as I described. At least I think so.

[2016-12-28 23:52] zvonimir commented on #399
Yeah, I think you are right.

[2016-12-28 23:52] #399 closed

[2016-12-29 01:20] zvonimir commented on #385
I noticed that same problem and I like the fix proposed by @mchalupa. Should we merge this?

[2016-12-29 04:15] zvonimir commented on #331
@tautschnig : I just looked at our error traces for busy box buffer overflow benchmarks. Based on what we have, I think that similar models should be provided for `safe_read` and `safe_write` functions as well.

[2016-12-29 14:00] mikhailramalho commented on #337
@dbeyer, my opinion is that we should close this issue.

Given that a lot of benchmarks were fixed already, thanks to the effort of everyone involved, we should open more focused issues to discuss any particular case still remaining.

[2016-12-29 16:27] #337 closed

[2016-12-31 13:22] tautschnig commented on #331
@zvonimir I'm not sure why we would need models for `safe_read` and `safe_write` as these are fully implemented in the benchmarks?

[2016-12-31 14:12] #385 closed

[2016-12-31 15:57] dbeyer commented on #333
@tautschnig @mchalupa This can be closed now, correct?

[2016-12-31 16:27] #333 closed

[2017-01-02 08:33] mchalupa commented on #385
@tautschnig: Sorry that I didn't create the pull-request, I was offline last 10 days. Thank you for taking that job!

[2017-01-02 14:49] mchalupa opened #412 "Using getopt in BusyBox"
Hi,

in the PR #394 @tautschnig implemented `read` and `write` functions which were undefined (they are part of POSIX) to fix some issues in BusyBox benchmarks. Some of the BusyBox benchmarks may still contain a similar problem as a result of calling `getopt` function (which is also part of POSIX). This problem pops up at least (but I guess not only) in the  _head_ benchmark (https://github.com/so

[2017-01-02 17:32] zvonimir opened #413 "Overflow in busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i"
On line
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i#L2079
integer variable `used` gets assigned a nondeterministic value, which can be `INT_MAX`. Then, on line
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i#L2099
this same variable par

[2017-01-02 17:35] zvonimir commented on #413
The benchmark chroot-incomplete_true-no-overflow_true-valid-memsafety.i has the same problem. I guess maybe all of them that invoke `bb_verror_msg` will have this issue.

[2017-01-02 17:48] zvonimir opened #414 "Memory safety bug in busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i"
On line
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i#L2083
function `strlen` is invoked on global variable `applet_name` that is NULL.
I am pretty sure that a bunch of other benchmarks in this category have the same problem.

[2017-01-02 20:29] zvonimir commented on #331
Sorry, you are right. I have no idea how I missed them. Thanks.

[2017-01-03 07:16] #277 closed

[2017-01-03 07:53] tautschnig commented on #286
@jhensel @mikhailramalho Hasn't this issue been fully addressed (except that some benchmarks are in -todo folders)?

[2017-01-03 07:57] tautschnig commented on #297
It seems nobody objected to closing (and going for actual pull requests instead) within 24 days.

[2017-01-03 07:57] #297 closed

[2017-01-03 07:59] tautschnig commented on #376
This doesn't seem to yield any actionable steps at the moment, thus closing. Please feel free to re-open if any action is desired.

[2017-01-03 07:59] #376 closed

[2017-01-03 08:05] jhensel commented on #286
Yes, I think so.

[2017-01-03 08:21] #286 closed

[2017-01-04 22:30] #412 closed

[2017-01-04 22:30] #413 closed

[2017-01-04 22:30] #414 closed

[2017-01-05 00:29] zvonimir opened #416 "Memory safety bug in busybox-1.22.0/chroot-incomplete_true-no-overflow_true-valid-memsafety.i"
On line 2294, function `strerror` returns a nondet char pointer. The pointer gets passed into `bb_verror_msg`, and `strlen` gets invoked on this nondet pointer on line 2329. This is a memory safety bug.
As a side-note, we should probably leave false versions of these benchmarks, and not just keep fixing them.

[2017-01-05 00:43] zvonimir commented on #416
It seems that `mkfifo-incomplete_true-no-overflow_true-valid-memsafety.i` has the same problem.

[2017-01-05 06:41] mchalupa commented on #416
I ran into this too, but then I realized that `strerror` is defined in `string.h`, so it should be an ansi-c standard function, right? So verifiers should model it themselves, no non-deterministic pointer should be returned.

[2017-01-05 06:51] Guoanshisb opened #419 "Untracked memory in busybox-1.22.0/chgrp-incomplete_true-no-overflow_true-valid-memsafety.i?"
In line 2323, `*p` got the return value of function `xasprintf` which is a pointer that points to an allocated space. Meanwhile, before this assignment, `*p` is a pointer that points to an allocated space (see main function). Therefore, the allocated space got untracked since the only pointer that points to it got overwritten.

[2017-01-05 07:11] tautschnig commented on #419
Could you please file a pull request changing the verdict?

[2017-01-05 08:51] Guoanshisb commented on #419
It seems that test-incomplete_false-unreach-call_true-no-overflow_true-valid-memsafety.i has similar issue. In line 3214, `argv[(signed long int)argc]` is set to NULL while it used to point to an allocated space.

[2017-01-05 08:53] Guoanshisb commented on #419
@tautschnig I'd be happy to submit a pull request. However, I think I need more feedback from other tools to confirm these issues. Let's wait one day. If they are confirmed or nobody responds, I would submit a pull request.

[2017-01-05 10:42] tautschnig commented on #419
In your pull request (I don't actually think you need to wait) it may be more appropriate to explicitly free the memory pointed to at those places. The reason for this suggestion is that the memory allocation in main() is artificial, and thus the "memory leak" does not actually correspond to one of the original busybox tools, but instead is just introduced by the particular modelling.

[2017-01-06 02:58] zvonimir opened #422 "Busy box issue: model of vasprintf causes a memory leak"
The model of vasprintf function is causing a memory leak by allocating memory that does not get freed and it becomes unreachable. I would suggest that we use a global string of a fixed size instead of invoking malloc.