[2017-01-06 06:24] tautschnig commented on #422
That should not be a modelling artefact, but instead constitutes a genuine memory leak. From the man page:
"The  functions  asprintf() and vasprintf() are analogs of sprintf(3) and vsprintf(3), except that they allocate a string large enough to hold the output including the terminating  null  byte  ('\0'),  and  return  a pointer  to  it  via  the first argument.  This pointer should be passed to

[2017-01-06 15:40] zvonimir commented on #422
Fixed in pull request #423.

[2017-01-06 15:40] #422 closed

[2017-01-06 18:10] mchalupa opened #424 "Another issues with busybox benchmarks"
* echo benchmark uses a function `stpcpy`, which is undefined and thus returns a nondet pointer. This nondet pointer can make its way to the dereference on line 2504 which is thus invalid.

* chroot uses undefined `bb_internal_getpwuid` that returns a pointer a struct passwd. This pointer is dereferenced on the line 2442

* whoami suffers from the same probelm as chroot (the dereference is on the

[2017-01-06 18:13] zvonimir commented on #424
As soon as your large pull request gets merged, we will rerun busy box and report back on the above issues.

[2017-01-06 20:13] tautschnig commented on #424
All the issues explained make perfect sense (CBMC can't fully handle the benchmarks, hence I can't provide tool-supported insight). It seems almost all will be solved by renaming to adjust the verdict. For rmdir, however, I would prefer to see `dirname` partly modelled as it guarantees not to return invalid pointers. How about the following:
[code]
}

[2017-01-06 21:13] zvonimir commented on #424
We can confirm the whoami problem. We observed echo problem as well, expect that I was dumb and provided a model for `stpcpy` in SMACK. I should really be careful to double-check whether a function is a part of the standard or not. Still looking at others, but they do seem reasonable to me.

[2017-01-06 21:25] tautschnig commented on #424
@zvonimir would you mind sharing the stpcpy model so as it include it in the benchmarks instead of assuming non-deterministic behaviour?

[2017-01-06 21:47] zvonimir commented on #424
[code]

[2017-01-07 00:06] Guoanshisb commented on #424
Our latest experiment confirms `chroot`, `echo`. We also found in `cat`, the return pointer of an undefined function `__builtin_alloca` is dereferenced.

[2017-01-07 01:00] tautschnig commented on #424
`__builtin_alloca` is used by various benchmarks (outside BusyBox, e.g., array-memsafety/*) as the actual implementation of `alloca` mentioned in the rules.

[2017-01-07 01:16] zvonimir commented on #424
Actually, cat benchmark has a different problem. On line 2411 in this benchmark, the return value of `mmap` is assigned to variable `buffer`. Currently `mmap` is not modeled and hence returns a nondet pointer. Then we go to line 2422, and then to line 2434 where `safe_read` gets invoked. Ultimately, `buffer` gets dereferenced in the `read` function, causing a memory deref violation.
So I think tha

[2017-01-07 01:20] tautschnig commented on #424
Modelling `mmap` might be done be invoking one of `malloc` or `alloca`?

[2017-01-07 01:53] zvonimir commented on #424
I don't know. That might cause a memory leak to appear.

[2017-01-07 01:54] tautschnig commented on #419
Fixed via #423.

[2017-01-07 01:54] #419 closed

[2017-01-07 02:11] tautschnig commented on #424
An adequate model might be to implement `mmap` via `malloc` and `munmap` via `free`.

[2017-01-07 02:15] zvonimir commented on #424
I guess so, but I can't really say for sure.

[2017-01-07 02:57] Heizmann opened #426 "Probably another issue with busybox benchmarks ("--"[3])"
I think there is a problem with
``busybox-1.22.0/dirname_true-no-overflow_true-valid-memsafety.i``

In line 1188 we have the expression ``((const char *)"--")[(signed long int)3]`` which seems to access invalid memory.

If I understand C correctly, the array "--" has at position 0 the character '-', at position 1 the character '-', at position 2 the *zero byte* '\0', but position 3 is not allocate

[2017-01-07 03:02] Heizmann commented on #426
@zvonimir @tautschnig What do you think? Attached is a violation witness produced by out tool.
[dirname_true-no-overflow_true-valid-memsafety.i-witness.graphml.txt](https://github.com/sosy-lab/sv-benchmarks/files/691225/dirname_true-no-overflow_true-valid-memsafety.i-witness.graphml.txt)

[2017-01-07 03:07] zvonimir commented on #426
This line is unreachable. See: https://github.com/sosy-lab/sv-benchmarks/commit/fe6ff4d40b1e85f34b1e058d235b859f66671526

[2017-01-07 03:12] Heizmann commented on #426
Oh, I overlooked that. Thanks.

[2017-01-07 03:12] #426 closed

[2017-01-07 10:02] mchalupa commented on #424
I think that modeling `mmap` by `malloc` should be fine, since the obtained memory is read/write + private + anonymous (if the numbers passed to `mmap` agree with definitions in my system's header files). Since the mapping is anonymous, the memory should be also zeroed. Since the benchmark calls also `munmap`, then if there appears a memory leak, I would suggest it is an error in the benchmark. By

[2017-01-07 11:14] mchalupa commented on #424
Ok, I found another:

* in readlink benchmark in `xmalloc_readlink` function there's possible signed overflow, since `readlink` function is undefined and can return any value. This value is stored to readsize and if it is different from -1, 1 is added to it on the line 2882. So for INT_MAX the value overflows. I guess a simple fix would be to do:
[code]
because `bufsize` is >= 80 all the time. Mor

[2017-01-07 11:47] tautschnig commented on #424
I'm trying to drag together a pull request to fix all the issues mentioned in this pull request. If anyone else is already doing so, please shout!

[2017-01-07 19:26] mchalupa opened #429 "Another issues with busybox benchmarks #2"
I'm starting a new issue, since the previous one is already addressed by a pending PR (#428)

* cal, cp dos2unix, expr, ln and tty benchmarks possibly call strdup, which is undefined. They use the returned pointer as allocated memory. I don't know about all of the benchmarks whether the strdup is really called, but at least in the dos2unix it is called on the line 3362. The value is returned to 32

[2017-01-07 20:09] tautschnig commented on #429
How about the following implementation of strdup:
[code]

[2017-01-07 20:12] tautschnig commented on #429
With regards to your commit 075fd24: would you mind placing the implementation of `getcwd` in a file busybox_sv_comp-getcwd.h and #include that from pwd? I've followed this approach in #428 to retain the separation of modelling and original code.

[2017-01-07 21:12] mchalupa commented on #429
I will do so, but I won't get to it before Monday, so if you want, feel free to reuse the code and create a PR by yourself.

[2017-01-07 22:36] zvonimir opened #430 "Potential issue with munmap model in busy box"
Here is the current model:
[code]
It might nondeterministally not free memory, which causes memory leaks in at least cat_true-no-overflow_true-valid-memsafety.i. Now, if the model is correct, than cat_true-no-overflow_true-valid-memsafety.i should be relabeled since it contains a memory leak.

[2017-01-07 22:39] zvonimir commented on #430
What do you think @tautschnig?

[2017-01-08 00:08] Guoanshisb opened #431 "Out of bound accesses in BusyBox?"
In `id`, `realloc` is called at line 2982 with the size argument being `(unsigned long int)n * sizeof(unsigned int) )`. `n` got its value from function `get_groups` at line 2978. It is possible that this function sets `n` to `0` while returns a negative value. So the dereference happening at line 2998 is invalid.

Could anyone confirm this?

[2017-01-08 08:47] tautschnig commented on #424
Closed via #428.

[2017-01-08 08:48] #424 closed

[2017-01-08 08:50] tautschnig commented on #430
You are of course right that this approach has introduced possible memory leaks. Would you suggest to make the munmap model less general, or should we rather relabel the benchmark?

[2017-01-08 15:17] zvonimir commented on #430
Given that the deadline has passed, I am of the opinion that all benchmarks with open issues should be moved into the todo folder and discussed after the competition.
Otherwise, after reading the specification for munmap, your model makes sense to me, and I think that this benchmarks should be relabeled.

[2017-01-08 15:22] zvonimir commented on #429
Given that the deadline has passed, I am of the opinion that all benchmarks with open issues should be moved into the todo folder and discussed in detail after the competition.

[2017-01-08 15:22] zvonimir commented on #431
Given that the deadline has passed, I am of the opinion that all benchmarks with open issues should be moved into the todo folder and discussed in detail after the competition.

[2017-01-09 13:59] mchalupa opened #437 "wrong definition of stpcpy in busybox/echo"
A definition of the POSIX function `stpcpy` was provided in the benchark echo in busybox in 6dc8e8f9. The definition is as follows:

[code]

`stpcpy` function is required to return pointer to the end of dest:
[code]

However, this implementation returns a pointer to the byte _after_ the terminating zero, since after the `*dest` is evaluated to zero to break from the loop, the post-increment also t

[2017-01-09 14:50] zvonimir commented on #437
How about:
[code]

[2017-01-09 14:58] mchalupa commented on #437
That should work fine as far as I can say. But maybe just `dest - 1` would be cleaner.

[2017-01-09 15:03] zvonimir commented on #437
Sure, right. Could you submit a pull request? Thanks!

[2017-01-09 15:04] mchalupa commented on #429
In chmod benchmark there on the line 2882 the argv is shifted somewhere to the allocated memory, possibly at the end (i.e. *argv == NULL), on the line 2888 it is shifted one position to the right (which may be out of bound) and this pointer is dereferenced on the line 2893, leading to invalid dereference.

[2017-01-09 15:18] mchalupa commented on #429
Very similar problem is in uuencode benchmark, where on the line 3200 the argv may be positioned to the end of argv when argc == 1 (optind is always >= 1). On the very next line there's a dereference of *(argv + 1)

[2017-01-09 15:23] zvonimir commented on #429
I suggest we move these into the todo folder as well.

[2017-01-09 15:56] mchalupa commented on #429
And once (and I guess the last one) is chown. The same pattern: on the line 2684 the argv may be set to point at the end of argv (when argc == 1 and optind == 1). On the line 2704 there's a call to `parse_chown_usergroup_or_die`. This function is undefined, so it does not abort the program when *argv == NULL and the execution gets to

[code]
where it dereferences a pointer that points out of bound

[2017-01-09 16:18] zvonimir commented on #429
@tautschnig : could you augment this pull request to move these 3 additional benchmarks into the todo folder as well?

[2017-01-09 16:31] #437 closed

[2017-01-09 22:26] zvonimir commented on #429
Ok, I created this final pull request #439 for the 3 leftover problematic benchmarks. Please take a look.
Hopefully with that we can close this issue.

[2017-01-10 11:18] mchalupa commented on #429
I found another one. I guess this one needs to wait untill the next year, but I put the comment here now, so that we won't forget about it:

In rmdir benchmarks, there on the line 2768 the call to `bb_show_usage()` should abort the program  (#404) if the `argv` variable points at the end of arguments. But since it is a no-op, the execution gets to 2802 where the `argv` is shifted out of bounds and

[2017-01-10 13:13] zvonimir commented on #429
Why wait? This is just a simple move of a file and I created a pull request for it. See pull request #440.

[2017-01-10 15:55] dbeyer commented on #429
@zvonimir  We can now close this, correct?

[2017-01-10 15:58] mchalupa commented on #429
Don't we want to keep this open? It is tagged as SV-COMP'18.

[2017-01-10 16:06] zvonimir commented on #429
As far as I can say, we addressed all of these issues by moving files into the todo folder. So from that perspective this issue has been addressed. Having said that, at some point the issues mentioned above should be studied in detail and fixed by issuing proper and more complicated patches. In that sense we would probably want to start with the notes we have in this issue.
So I am not sure if thi

[2017-01-10 16:06] dbeyer commented on #429
Zvonimir's last comment sounded as if the last issue is solved.
There was a lot of activity since the milestone was added.

[2017-01-10 16:09] zvonimir commented on #429
Maybe our comments crossed. See above.

[2017-01-10 16:11] dbeyer commented on #429
For a set of other issues/PRs, I had created issue #375, for collecting pointers to previous issues.
Either add a reference there (well, just done by this comment) or start a different new issue.
But I think the marking as "closed" is a good thing to document that the issues for SV-COMP 2017 are solved (or addressed).

[2017-01-10 16:15] mchalupa commented on #429
Sure, if there's a reference in some "meta" issue, than closing this as SV-COMP'17 issue makes sense.

[2017-01-10 16:15] #429 closed

[2017-01-12 12:28] tautschnig opened #442 "float-benchs/inv_Newton_true-unreach-call.c is false-unreach-call"
I'm not sure this is the right process as the results are being made available, but it seems the benchmark float-benchs/inv_Newton_true-unreach-call.c should have a verdict of "false." The counterexample can be confirmed using
[code]

[2017-01-12 13:07] dbeyer commented on #442
Did you feed a witness with this information into the two witness validators?
What do they report?

[2017-01-12 15:23] mchalupa commented on #442
I can confirm that using the definition of `__VERIFIER_nondet_double` function as provided by @tautschnig leads to an assertion violation after compiling (using clang) and running.

[2017-01-12 22:47] Heizmann commented on #442
Im am sorry, but UAutomizer will say "unknown" even for the best witness.
(I did not manage to finish our support for the cast from a double pointer to an int pointer.)

[2017-01-13 12:51] vmordan commented on #213
In order to introduce a new format for benchmarks description we suggest a hierarchy of YAML configuration files.
Some configuration files should describe categories of verification tasks, for example:

[code]
Inside each category each verification task should inherit base category configuration file and contain its own YAML configuration file, which is required for providing correct verdicts, for

[2017-01-14 22:07] zvonimir opened #443 "Possibly mislabeled busybox-1.22.0/chroot-incomplete_true-no-overflow_true-valid-memsafety.i"
See this line:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/chroot-incomplete_true-no-overflow_true-valid-memsafety.i#L2431

Function getenv has no body and hence can return anything.
Then right away on line 2434 shell gets dereferences, which is a memory dereference error.
Could someone please confirm this?

[2017-01-14 22:08] zvonimir commented on #443
I posted this here since it seems that @mchalupa, who helped a lot with busy box, is not a member of the jury.

[2017-01-14 22:09] zvonimir opened #444 "Possibly mislabeled busybox-1.22.0/sleep_true-no-overflow_true-valid-memsafety.i"
Ok, so in this benchmark, arg is set to *argv here:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/sleep_true-no-overflow_true-valid-memsafety.i#L2518

Then on line 2526 strspn is invoked, which sets len to 0 (since arg string is nondeterministic).

On line 2540 len is added to arg, which leaves arg unchanged. Two lines down, 1 is subtracted from arg, and then arg is derefe

[2017-01-14 22:10] zvonimir commented on #443
Note that we did not notice this earlier since SMACK would time out on our local machine on this benchmark. Dirk's machine is faster and hence SMACK gets deeper into the code, thereby finding this bug.

[2017-01-14 22:11] zvonimir commented on #444
I posted this here since it seems that @mchalupa, who helped a lot with busy box, is not a member of the jury. Note that we did not notice this earlier since SMACK would time out on our local machine on this benchmark. Dirk's machine is faster and hence SMACK gets deeper into the code, thereby finding this bug.

[2017-01-14 23:18] zvonimir commented on #443
Argh, `getenv` is defined in C99. This is a SMACK problem after all. Sorry about this.

[2017-01-14 23:18] #443 closed

[2017-01-16 12:36] mchalupa commented on #444
IMHO the @zvonimir's analysis looks correct. For example if the input argument will be "foo.bar", the execution will go as @zvonimir described and since `bb_show_usage()` is a no-op and does not abort the program on such input,  the program will perform the invalid dereference.

[2017-01-16 16:17] zvonimir commented on #444
Actually, errno is not set on invalid inputs to strtod. So aborting on
bb_show_usage would not help. This looks like an actual real bug.

On Mon, Jan 16, 2017, 5:36 AM Marek Chalupa <notifications@github.com>
wrote:

--
http://zvonimir.info
http://soarlab.org

[2017-01-16 16:45] mchalupa commented on #444
but the `pp` pointer is set and checked whether it points to the terminating zero when the errno is not set:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/sleep_true-no-overflow_true-valid-memsafety.i#L2536

[2017-01-16 17:46] zvonimir commented on #444
You are missing one thing here. `arg[0]` will be set to 0 here since `len` is 0:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0/sleep_true-no-overflow_true-valid-memsafety.i#L2529
Then `strtod` will be invoked on this string that contains just 0. Then, based on the spec of strtod, pp will point to the same location as arg, which means that *pp == 0. Then here:
https://githu

[2017-01-17 06:40] mchalupa commented on #444
You're correct, I missed the fact that `arg` is an empty string in this case.

[2017-01-19 21:45] Heizmann commented on #444
I checked Zvonimir's explanation manually. It is very plausible. I think the benchmark should be relabelled.

I also upgraded Ultimate Automizer. It is now able to process the file and hints that the code of Zvonimir's problem is reachable. However, it does not provide an definite result because the error trace contains C library functions for which we do not have a precise implementation. (I thin

[2017-01-20 09:01] dbeyer commented on #442
@tautschnig Is it possible to add a fixed version of the program, such that the intended verification task is present?

[2017-01-20 09:01] dbeyer commented on #444
@zvonimir  Is it possible to add a fixed version of the program, such that the intended verification task is present?

[2017-01-20 22:56] zvonimir commented on #444
Sure, right after CAV deadline :).

[2017-01-26 22:03] zvonimir commented on #444
Ok, so there are two sleep benchmarks: `sleep_false-valid-deref.c` and `sleep_true-no-overflow_false-valid-deref.c`
I find this weird and I am not sure which one I should be fixing. I am not even sure why we have two of them. Suggestions or help would be appreciated.

[2017-02-02 12:34] mdangl opened #445 "Duplicate files in ldv-linux-3.14"
See the following table of files with their SHA1 hash values:

| SHA1 hash value | file name |
| --- | --- |
| d7066d1675ab20c36b212d71607304218941a5eb | ldv-linux-3.14/linux-3.14__complex_emg__linux-kernel-locking-spinlock__drivers-net-wan-farsync__10_true-unreach-call.cil.c |
| d7066d1675ab20c36b212d71607304218941a5eb | ldv-linux-3.14/linux-3.14__complex_emg__linux-kernel-locking-spinlock__drive

[2017-02-02 13:22] dbeyer commented on #445
@eunovm or @vmordan or @AndrianovPavel would probalby know.

[2017-02-02 15:41] PhilippWendler commented on #445
There are more duplicate LDV tasks actually as shown by the check from 8dd6a2a9e1f215d0c56d439ae54a0d95785e25bf:

Each line lists identical files:
[code]

[2017-02-02 15:51] PhilippWendler opened #446 "Duplicated files for overflow tasks in termination-crafted"
5bd1040 from #370 has duplicated the following existing files for tasks with an overflow verdict, instead of adding the overflow verdict to the existing files.

Why has this been done? Shouldn't we eliminate the duplicate files and attach all verdicts to the same file?

Keeping duplicate files is dangerous when these files fixed/improved, as we might forgot one copy.

List of files with duplicates

[2017-02-04 15:02] PhilippWendler opened #448 "Name of PropertyOverflow.prp is inconsistent"
`PropertyOverflow.prp` contains in its name the negative result (`overflow`). All other property files have their names based on the positive result (`DefBehavior`, `MemSafety`, `Termination`, `UnreachCall`).

I suggest to rename the file to `PropertyNoOverflow.prp` and update the symlinks accordingly.

Furthermore, this raises the question if category names should also be changed.

[2017-02-04 15:03] confpub commented on #448
I agree.

[2017-02-04 15:06] dbeyer commented on #448
I agree.

[2017-02-07 08:37] mutilin commented on #445
I suggest to remove duplicates with numbers __N in the name. It was not an intension to produce it and looks like some bug climbed into preparation scripts.

[2017-02-08 00:00] Guoanshisb opened #449 "Strict aliasing violations in SVCOMP benchmarks?"
Hey guys,

I got very interested in the strict aliasing rule recently and am curious if any of SVCOMP benchmarks violates it. It seems that some benchmarks actually do. For example, in line `ntdrivers/parport_true-unreach-call.i.cil.c`, `PptBuildResourceList` is called with the third argument being `ChipAddr` of type `PUCHAR*` while the declared type of the third argument is `PULONG`. I think ther

[2017-02-08 09:14] tautschnig commented on #449
I do not think that undefined behaviour is at play here. The assumption of strict aliasing enables additional (unsound) assumptions in the alias analysis used by GCC to build SSA form. Thus the compiler will be mis-optimizing the given code.

We surely can opt to agree to make all benchmarks adhere to strict aliasing conventions, but I'd rather see the opposite to be of interest: software verifica

[2017-02-08 09:32] PhilippWendler commented on #449
I agree with @tautschnig. In particular, as far as I understand the C standard, using a char pointer to access individual bytes of some object is legal.

[2017-02-09 00:33] Guoanshisb commented on #449
@tautschnig @PhilippWendler I think my point is that there is undefined behavior in both the toy example and the benchmark. C standard says,

[code]

It seems they violated these rules. As far as I see and also pointed out by @tautschnig, strict aliasing is an assumption used by type-based analysis based on these C standard rules. So the compiler, I'm afraid, is doing the correct thing here althou

[2017-02-09 13:11] tautschnig commented on #449
In my opinion we first need to get rid of all the Cil-processed benchmarks. These are all affected by the kind of behaviour you are pointing out, as the pointers and (long) integers are being converted back and forth. We might then end up with benchmarks where the behaviour pointed out occurs in the original form of the benchmark, making it much more interesting I'd say.

[2017-02-09 22:25] Guoanshisb commented on #449
@tautschnig Interesting. Would it be possible for you to point out an example of the incorrectly processed files?

[2017-02-10 11:34] tautschnig commented on #449
I have not claimed they are incorrectly processed - they have just been processed by Cil with settings such as to rewrite various access paths into arithmetic over a mix of pointers and integers. Really what every compiler would do when translating to assembly. But obviously that loses type safety. A rather arbitrary example [is this one](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv

[2017-02-10 22:26] Guoanshisb commented on #449
@tautschnig Thanks for offering an example. This is indeed interesting.

[2017-02-13 12:03] mdangl opened #450 "__inline keyword / assumed version of C standard"
I tried to compile and execute some tasks with test vectors and ran into some problems.

In the set of product-lines tasks, there are some tasks that use the `__inline` keyword,
e.g. `__inline void __utac_acc__Specification1_spec__1(void)` in `minepump_spec1_product35_false-unreach-call_false-termination.cil.c`.

When I try to compile this task using `gcc -std=c99` and with `gcc -std=c11`, but eac

[2017-02-13 16:17] PhilippWendler commented on #450
For the product-lines tasks, the functions should be `inline static`. For other tasks like kernel files I don't know.

Should we remove the inline modifier completely? The alternative would be to simply specify `-D__inline=` when you compile the file.

[2017-02-13 16:28] mdangl commented on #450
That would be my preferred solution.

Me neither.

[2017-02-22 13:27] PhilippWendler commented on #213
@delcypher Does this match what your suggestion would be?

@dbeyer What is your opinion about how such a format should look like?

@mdangl I am not sure, is there something to think about for this format with regards to witnesses?

[2017-02-22 13:42] mdangl commented on #213
I cannot currently think of anything, but will keep it in mind.

On an unrelated note, however, I am surprised to see `memory_model: precise`.
Since we got rid of the "simple" memory model, do we need that property at all?

[2017-02-22 16:22] vmordan commented on #213
What do you think about passing yaml configuration file to `BenchExec` directly? In this case which information should contain this configuration file?

We suggest to add option in `BenchExec` to read such yaml files as output (for example, in `<include>` tag or by means of some new tag), which should contain the following required attributes:
[code]
Thus `BenchExec` can obtain correct results for

[2017-02-22 18:05] delcypher commented on #213
@PhilippWendler

Not exactly. I have been using my [sv-comp
mockup](https://github.com/delcypher/svcomp-build-mockup) in the form of
[fp-bench](https://github.com/delcypher/fp-bench) for the last few months so
this has given me some time to reflect on the pros/cons of the design decisions
I made. @vmordan 's proposal seems to be partially inspired by the work I've done.

Here are some high-level c

[2017-02-22 20:19] mutilin commented on #213
@delcypher, how correct_results are passed to BenchExec?

[2017-02-22 20:53] delcypher commented on #213
@mutilin

This isn't my concern. I was just commenting on design proposed here and comparing it to design decisions I have made when making my own benchmark specification format.

Although it's important that BenchExec be able to consume the verification tasks I don't BenchExec should force a rigid design for the benchmark specification language. Instead the design should be made as flexible (and

[2017-02-22 21:33] mutilin commented on #213
I want to have a format for `correct_results` that can be used for sosy-lab/benchexec#217
Ideally, I think it should be a subset of the design proposed here.
So I would be happy to work out the solution to be implemented in BenchExec.

[2017-02-23 13:06] PhilippWendler commented on #213
@delcypher Thanks.

It looks like together you can get a nice proposal in shape, this is really great!

A few comments from me:

Tags, compiler defines and dependencies declarations sounds like an optional feature that we can add later on if we need it, we can probably skip it now to keep things simple.

The runtime environment seems like it would always contain tool-specific information. So it sh

[2017-02-23 13:59] delcypher commented on #213
@PhilippWendler

It's up to the community. In fp-bench these are all optional field. I would say for dependencies there is already a need for this feature because of the `mpi` benchmarks.

I think I need explain this more clearly. Every userspace C program runs with a set of environment variables and command line arguments.
Runtime information is about the environment that the benchmark is intende

[2017-02-23 14:10] delcypher commented on #213
@PhilippWendler @vmordan
Something else I should note is that the SV-COMP community needs to be very careful when introducing multiple verification tasks.

It caused me a lot of trouble when I did so for fp-bench.

Consider this example.

[code]

And now let's imagine that there are two verification tasks one that is concerned with memory safety and the other that is concerned with the reachabilit

[2017-02-23 14:43] PhilippWendler commented on #213
@delcypher Thanks.

You are right about the MPI tasks, the people interested in #163 should discuss what they need (@ziqingluo, @yihaoyan).

For the runtime environment, this makes sense of course. However, given the potential problem you see, I would suggest for now to keep it out (when preparing a verification task, one can also easily add some wrapper code that sets up args and env, which is mo

[2017-02-27 16:48] vmordan commented on #213
I think this is a problem for verification tool (whether it allows to search for such intertwined property violations or not) rather than repository metadata. Currently it is suggested, that result of multi-property verification should be the same as result of verifying each property in isolation.

We have a question about the suggested format (https://github.com/delcypher/fp-bench/blob/master/svc

[2017-02-28 14:52] PhilippWendler commented on #213
I think at the beginning only `sources` and `verification tasks` would be necessary. However, these could be named differently to be more generic, e.g. `(input) files` and `expected results` or something similar.

[2017-02-28 16:35] vmordan commented on #213
We suggest the following format of mandatory tags for both SV-COMP and BenchExec:

[code]

For example:
[code]

Of course, for SV-COMP scripts only other tags can be mandatory, which will be ignored in BencExec.

Do you agree with the suggested format of mandatory tags for both SV-COMP and BenchExec?

[2017-02-28 16:41] delcypher commented on #213
@vmordan

Sure it is a problem for a verification tool. The point I was trying to make is if we have multiple properties it may be desirable to document how these should be handled by a verifier.

`sources`, `verification_tasks`, `category`, `architecture` should be mandatory.

valid-deref,
valid-free,
valid-memtrack,
no-overflow,
no-deadlock,
termination,
unreach-call(<function_name>) (for exampl

[2017-02-28 16:47] delcypher commented on #213
@PhilippWendler @vmordan
Do we want to have anything the spec to indicate whether the source file is pre-processed or not? Alternatively we could follow a convention by just looking at the extension of the source files (i.e. `*.i` means the file was pre-processed).

[2017-02-28 16:48] delcypher commented on #213
@vmordan
My questions regarding the `extends` property still need to be answered.

[2017-02-28 17:22] PhilippWendler commented on #213
@vmordan In the example, the properties `unreach-call` and `valid-deref`/`no-overflow` are expressed differently, but I do not find this in the schema? The need to handle this differently would go away if we accept `unreach-call(f)` as property name. I am not sure what makes more sense, but probably in most cases we need a single-string identifier for properties anyway?

I think @delcypher mention

[2017-03-01 10:09] vmordan commented on #213
It was assumed, that `extends` refers to one file on disk, for example:

[code]
Such files should contain general information (`architecture`, `category`, `language`, etc.), which can be reused in other YAML files.

If we keep this information out of the YAML for now, then `extends` tag is also redundant. Of course, if we add corresponding tags in YAML format, then `extends` could be useful.

Prop

[2017-03-02 11:02] vmordan commented on #213
Currently we propose the following schema for YAML file:

[code]

Potential example of YAML file:
[code]

[2017-03-03 20:27] mutilin commented on #213
Where YAML schema should be placed at the end?
Should we place it to sv-bechmarks repository, benchexec or somewhere else?

[2017-03-04 06:46] PhilippWendler commented on #213
I would tend to put it in this repository. The `check.py` script will need it for checking validity of yaml files.

[2017-03-07 09:07] kfriedberger opened #456 "unreachable loop body in file c/loops/terminator_02_true-unreach-call_true-termination.c"
Since 5c34cd745741089b7c4d0940fcaa092e2304d566 the loop body of [c/loops/terminator_02_true-unreach-call_true-termination.c](https://github.com/sosy-lab/sv-benchmarks/blob/c856da1fc81e227df30bcc0bac1430d9531fba58/c/loops/terminator_02_true-unreach-call_true-termination.c) (formerly named [loops/terminator_02_safe.c](https://github.com/sosy-lab/sv-benchmarks/blob/5c34cd745741089b7c4d0940fcaa092e230

[2017-03-07 20:02] #446 closed

[2017-05-09 20:02] PhilippWendler commented on #213
In https://github.com/sosy-lab/benchexec/pull/226#issuecomment-300243909 I have explained a few suggested changes. In addition to what is described there, we think that a possibility to include/extend other files is indeed a good idea, and we should add this as soon as we have more information than just source files and properties.

The reason for this is that we think it is better to have one yam

[2017-05-10 17:45] delcypher commented on #213
@PhilippWendler I don't have free time to do it this week due to impending paper deadlines but next week I could have a shot at changing the svcomp-build-mockup to reflect the decisions made in this PR. This would allow people to try out the proposal. Removing variants would greatly simplify the implementation :)

[2017-06-12 11:12] leostrakosch opened #461 "False negatives/wrong architecture assumed for float tasks"
The two tasks
`floats-esbmc-regression/digits_while_true-unreach-call.i` and
`floats-esbmc-regression/digits_for_true-unreach-call.i`

seem to be false negatives for 32 bit architecture.
When compiled for 64 bit architecture, they are true negatives, though.
According to the SV-COMP rules, they are supposed to be 32 bit.

My compile command is the following:
`gcc -m32 -include ../sv-benchmarks/c/f

[2017-06-27 16:32] PhilippWendler commented on #461
With `-mpc64` (64-bit rounding mode for floats), the binary produces the expected result (no error) for both `-m32` and `-m64`. I do not know yet which of these behaviors is covered by the language spec.

[2017-07-04 05:31] PhilippWendler opened #462 "Undefined behavior with function pointers in heap-manipulation/dll_of_dll*"
The `heap-manipulation/dll_of_dll*` files (e.g., [this one](https://github.com/sosy-lab/sv-benchmarks/blob/svcomp17/c/heap-manipulation/dll_of_dll_true-unreach-call_true-valid-memsafety.c#L61)) have a function `dll_create_generic` that accepts a function pointer of type `void (*insert_fnc)()`, i.e., the function pointer takes no arguments. However, when calling `insert_fnc`, an argument is passed,

[2017-07-04 09:32] PhilippWendler commented on #462
Ok, I forgot that `void (*insert_fnc)()` declares `insert_fnc` as a function pointer with an unknown number and type of parameters, not with an empty list of parameters.

I think there is something missing in the C standard for this case, because the standard only declares that calling a function via an incompatible function-pointer is undefined, but function-pointers with unspecified parameter li

[2017-08-10 13:52] leostrakosch commented on #461
This one is also true for -m64, but even false for -m32 -mpc64:
`floats-cbmc-regression/float_lib1_true-unreach-call.i`
using the above compile commands and harness file.

[2017-08-31 09:30] PhilippWendler commented on #445
I have added #464 to remove the `__N` files. However, there are 3 remaining pairs of duplicate LDV files:  https://github.com/sosy-lab/sv-benchmarks/blob/e05863010e1055a646a62995e7199183a207f8ca/c/check.py#L94-L96

Please check which of these should be removed.

[2017-08-31 10:04] mutilin commented on #445
I would rather suggest to remove subdirectory 'ldv-linux-3.4-simple'
It contains many very simple tasks.

[2017-08-31 10:17] mutilin commented on #445
Remove:
# ldv-memsafety/memleaks_test2_true-valid-memsafety.i
# ldv-memsafety/memleaks-notpreprocessed/memleaks_test2_true-valid-memsafety.c
Rename:
# ldv-memsafety/memleaks_test2_false-valid-free.i -> ldv-memsafety/memleaks_test1_false-valid-free.i
# ldv-memsafety/memleaks-notpreprocessed/memleaks_test2_false-valid-free.c -> ldv-memsafety/memleaks-notpreprocessed/memleaks_test1_false-valid-free.c

[2017-08-31 10:18] mutilin commented on #445
Remove:
ldv-memsafety/memleaks_test2_true-valid-memsafety.i
ldv-memsafety/memleaks-notpreprocessed/memleaks_test2_true-valid-memsafety.c
Rename:
ldv-memsafety/memleaks_test2_false-valid-free.i -> ldv-memsafety/memleaks_test1_false-valid-free.i
ldv-memsafety/memleaks-notpreprocessed/memleaks_test2_false-valid-free.c -> ldv-memsafety/memleaks-notpreprocessed/memleaks_test1_false-valid-free.c

[2017-08-31 10:46] PhilippWendler commented on #445
This would remove 1162 out of 2795 tasks from this category, which seems like a major change. So I would suggest that you open a new issue for discussion of this.

[2017-08-31 12:27] mutilin opened #466 "Remove subdirectory 'ldv-linux-3.4-simple'"
It contains many very simple tasks.
Discussion started at #445

[2017-08-31 12:29] mutilin commented on #445
At lease, you can remove just two duplicates here

[2017-08-31 12:41] mdangl commented on #466
In general, I am in favor of removing tasks that are basically duplicates of others, and I suspect that among the 1162 tasks in this directory, there are are a lot that do not differ significantly from each other.

However, considering the suggestion to remove a complete large directory of tasks, some questions come to mind:
1) Are all tasks in this directory trivial, or should maybe some be kept?

[2017-08-31 13:12] mutilin commented on #466
In many cases the property to check is just irrelevant, i.e. no reachable path in CFG,
We may use this criteria to clean the directory

[2017-08-31 13:12] mutilin commented on #466
In many cases the property to check is just irrelevant, i.e. no reachable path in CFG,
We may use this criteria to clean the directory

[2017-08-31 16:00] PhilippWendler commented on #444
@tautschnig Could you look at @zvonimir's question?

[2017-08-31 17:03] PhilippWendler commented on #322
Shouldn't a violation of one of these properties mean that absolutely no other additional label would be allowed, i.e., not even a combination like `_false-valid-deref` and `_false-termination`?

@kfriedberger argues in https://github.com/sosy-lab/sv-benchmarks/issues/387#issuecomment-268516464 that this should be allowed, but I think it should not, for the same reason as why we forbid a combinati

[2017-09-01 18:19] PhilippWendler commented on #466
Note that while there were tools in SV-COMP17 that could solve almost all of these tasks relatively fast, there were also a significant number of tools that could not solve many of these tasks. You can open the [result table](https://sv-comp.sosy-lab.org/2017/results/results-verified/Systems_DeviceDriversLinux64_ReachSafety.table.html), click on `Filter Rows`, insert `ldv-linux-3\.4-simple` into t

[2017-09-02 12:45] PhilippWendler commented on #191
@shaobo-he Is this fixed?

[2017-09-02 12:49] PhilippWendler commented on #450
@mdangl What is left to do for this?

[2017-09-02 14:19] PhilippWendler opened #471 "Properly define property memcleanup"
#388 and #408 have created files with `_false-valid-memcleanup` in their name. However, I could not find a definition of the property `valid-memcleanup`, neither on the [SV-COMP website](https://sv-comp.sosy-lab.org/2017/rules.php), nor in this [repository](https://github.com/sosy-lab/sv-benchmarks/blob/master/README.md#specification-properties). Such a definition needs to be added, or this proper

[2017-09-06 10:49] tautschnig commented on #442
I'll take care of this, but can't promise to get it done before Friday (8th Sept). If I don't, I won't be able to look into it before 1st October. Just as a heads-up.

[2017-09-06 10:56] tautschnig commented on #444
`sleep_false-valid-deref.c` just exists in response to this very issue (188187d1cec47555403), reflecting the comment that the original one is flawed. Its a literal copy, so what we should end up with is
1. `sleep_false-valid-deref.c` as is.
2. `sleep_true-no-overflow_true-valid-deref.c` that no longer has any memory violations.
3. Finally the original busybox code should be inspected to make sure

[2017-09-07 09:03] mdangl commented on #450
After reviewing this issue and pull request #453, it looks like this issue can be closed.

[2017-09-07 09:03] #450 closed

[2017-09-28 12:34] PhilippWendler opened #475 "Undefined behavior resulting from casting between pointers of different types"
The task `floats-cbmc-regression/float7_true-unreach-call.c`
contains the following code:
https://github.com/sosy-lab/sv-benchmarks/blob/879e141f11348e49591738d3e11793b36546a2d5/c/floats-cbmc-regression/float7_true-unreach-call.c#L4-L10

This reads a value that was originally written as an int through a float pointer, which I think is undefined behavior as was also discussed in https://github.com/

[2017-09-28 12:43] kfriedberger opened #476 "Question about a strange recursive task."
I have a question regarding the following recursive task:
[Primes_true-unreach-call_true-no-overflow_false-termination.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/recursive/Primes_true-unreach-call_true-no-overflow_false-termination.c)

The task itself might be valid (`true-unreach-call`).
The problem is that the implementation and the intention do not match.
Does someone want to co

[2017-09-28 13:53] PhilippWendler commented on #475
Similar things happening here:
https://github.com/sosy-lab/sv-benchmarks/blob/879e141f11348e49591738d3e11793b36546a2d5/c/float-benchs/inv_sqrt_Quake_true-unreach-call.c#L12-L16

[2017-09-29 04:47] inkytonik opened #477 "Undefined behaviour in loops/nec20_false-unreach-call_true-termination.i"
This program uses variable `j` without explicit initialisation. The assertion will fail or not depending on the actual value used, so the program is not conclusively incorrect.

My understanding is that for the competition `j` should be initialised, either to an explicit value to remove the undefined behaviour or to the result of `__VERIFIER_nondet_int()` to explicitly indicate the non-determinism

[2017-09-29 05:40] PhilippWendler commented on #477
I agree. The code is this:
https://github.com/sosy-lab/sv-benchmarks/blob/879e141f11348e49591738d3e11793b36546a2d5/c/loops/nec20_false-unreach-call_true-termination.c#L13-L31

If a nondeterministic initialization is added, we must also add a range guard, otherwise there can be an unsigned-int overflow.

[2017-09-29 10:16] tautschnig commented on #477
Why would this be a problem?

[2017-09-29 10:28] tautschnig commented on #475
I'd prefer to introduce unions in both cases with `p`, `i`, `xhalf` becoming members of those unions. This would then reflect the intended behaviour of those benchmarks in a well-defined fashion.

[2017-09-29 11:59] #167 closed

[2017-09-29 12:29] #322 closed

[2017-09-29 12:29] #387 closed

[2017-09-29 13:46] PhilippWendler commented on #477
Sorry, I should have said "signed-int overflow".

[2017-09-29 13:50] PhilippWendler commented on #475
For the `floats-cbmc-regression` task, there is already another one that uses a union to achieve a similar result: [float-zero-sum1_true-unreach-call.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/floats-cbmc-regression/float-zero-sum1_true-unreach-call.c). So it is not necessary to have two trivial tasks that do the same. The other task is more complex, could be worth to improve it.

[2017-09-29 13:53] PhilippWendler commented on #476
I guess you wont' get an answer here, you need to contact the original author directly. But please document what you find out, for example here.

[2017-09-29 14:06] PhilippWendler opened #480 "Tasks with expected undefined behavior and another result in several directories"
The following tasks all have expected undefined behavior (as indicated by `false-valid-deref` or `false-no-overflow`), but also a result for some other property:
https://github.com/sosy-lab/sv-benchmarks/blob/50702f8513f655c27b7338b3f363f892958f4ec6/c/check.py#L93-L115
The affected directories are
- `busybox-1.22.0`
- `forester-heap`
- `heap-manipulation`
- `list-ext-properties`
- `termination-cra

[2017-09-30 08:38] dbeyer commented on #471
Very good point.  Thanks a lot for bringing this up.
There are memory deallocation issues that do not fall under the notion of memory leak and are thus not covered by the MemSafety specification.
After interpreting the C standard and a long discussion last year, it was decided to use a new specification to cover this.

Pull request #481 adds the required description and .prp file for this specific

[2017-09-30 12:05] #471 closed

[2017-09-30 12:13] dbeyer commented on #471
Attention, the above mentioned commit 1bdca24 is NOT part of this pull request.
Commit 182dfdd is part of this pull request. (The page for the pull request shows it correctly.)

[2017-09-30 14:56] dbeyer commented on #445
@PhilippWendler @mutilin @mdangl @eunovm
If something is not yet handled by #464 then please re-open this issue.

[2017-09-30 14:56] #445 closed

[2017-10-01 07:57] #448 closed

[2017-10-04 05:18] inkytonik opened #484 "Undefined behaviour in some ldv-regression benchmarks"
The following benchmarks all seem to contain uninitialised variables that should be explicitly indicated via a `nondet` call.

    ldv-regression/test25_false-unreach-call.c
    ldv-regression/test27_false-unreach-call.c
    ldv-regression/test28_false-unreach-call.c
    ldv-regression/test29_false-unreach-call.c

I would contribute fixes but there appear to be multiple data items that could be in

[2017-10-04 09:40] kfriedberger commented on #476
additional problem: missing a -sign

This example would be perfect for students to understand code and
learn how to (not) write correct methods, write test cases, etc. :-)

PS: Leike assigned @Heizmann to take a deeper look at the task.

[2017-10-04 10:30] ondrik commented on #462
Should be resolved by pull request #483 .

[2017-10-04 14:51] #462 closed

[2017-10-06 07:40] ondrik commented on #430
Hi @zvonimir ,
could you please identify all falsely labeled benchmarks due to the `munmap` model in `/c/busybox-1.22.0-todo` so that they can be returned to the competition?

[2017-10-06 07:43] ondrik commented on #431
Is anyone able to confirm the issue raised by @shaobo-he ?

[2017-10-12 18:35] shaobo-he commented on #431
SMACK can still report this bug. If anyone is interested in debugging it, we are happy to provide the imperfect witness file.

[2017-10-12 18:46] shaobo-he commented on #475
@tautschnig @PhilippWendler Is it clear that using unions won't trigger undefined behavior? I found some references that suggest it would. For example, this one (https://adriann.github.io/undefined_behavior.html).

[2017-10-13 11:43] PhilippWendler commented on #475
@shaobo-he This page is about C++, not about C. In fact, the page explicitly mentions that the `union` trick is valid in C, linking to [this Stackoverflow post](https://stackoverflow.com/a/25672839/396730) that quotes the relevant parts of the C11 standard.

[2017-10-13 17:19] shaobo-he commented on #475
@PhilippWendler Thanks for pointing it out. I vaguely remember it's undefined but don't read the link carefully.

[2017-10-24 06:34] jhensel opened #486 "Possibly mislabeled benchmarks (termination)"
There are some benchmarks in the product-lines

(https://github.com/sosy-lab/sv-benchmarks/tree/master/c/product-lines)

that are labeled as non-terminating but our tool proves termination. These are

elevator_spec13_product23_true-unreach-call_false-termination.cil.c
elevator_spec13_product30_true-unreach-call_false-termination.cil.c
elevator_spec13_product31_true-unreach-call_false-termination.c

[2017-10-27 16:41] inkytonik opened #488 "Problems with loops/s3_false-unreach-call-run.i and other ssh-based benchmarks"
This benchmark is problematic due to uninitialised data. The `s` structure that is allocated in `main` has many fields but most of them are uninitialised and hence can be assumed to be zero.

If I compile and run the program as it stands in the benchmark suite (after adding some dummy implementations of external functions) I get a crash due to line 1110:

    if ((unsigned long )(s->ctx)->info_cal

[2017-10-28 07:59] PhilippWendler commented on #488
This task was submitted by the ESBMC project: https://github.com/sosy-lab/sv-benchmarks/commit/ddabbf90f66089f39786d410d024a222553d3bad#diff-d84947112e279cc63f5ef3960396a513. It as originally labeled as safe, but was declared unsafe by @dbeyer on behalf of  Aws Albarghouthi (https://github.com/sosy-lab/sv-benchmarks/commit/ede502dd4a5f8fbb0db780e5a1eff03525955cf4).
Probably the original source is

[2017-10-31 03:16] inkytonik commented on #488
Thanks for your response. I've looked at the counter-example above, but I can't see how it works.

First, we need to work around the fact that `s->ctx` can be NULL which crashes the program. In my tests I just commented those lines out.

Second, as far as I can see, the program enters state `12292`, then sets `s->state` to 4096 and then exits via `s->version` being zero (line 1246) without ever ge

[2017-10-31 12:15] mutilin commented on #466
Do we need many tasks for this purpose? Can tasks from the other sub-directories achieve it?

[2017-11-01 11:36] Druidos opened #490 "Memory leaks at busybox-1.22.0"
1. head_true-no-overflow_false-valid-deref.i contains memory leak.
[witness.graphml.gz](https://github.com/sosy-lab/sv-benchmarks/files/1430603/witness.graphml.gz)

__main() rewrites argv on path:
[code]
which lead to memory leak of memory allocated at main().

2. yes_true-no-overflow_true-valid-memsafety.i contains memory leak.
[witness.graphml.gz](https://github.com/sosy-lab/sv-benchmarks/files/

[2017-11-01 12:59] tautschnig commented on #490
While I agree that there is a risk of memory leaks, I'd argue that primarily these are violations of valid-free.

[2017-11-01 20:04] inkytonik commented on #488
After some investigation, it seems that some of the benchmarks in the ssh directory have a problem for essentially the same reason as the program above. I have detected the following for now:

    ssh/s3_clnt.blast.01_false-unreach-call.i.cil.c
    ssh/s3_clnt.blast.02_false-unreach-call.i.cil.c
    ssh/s3_clnt.blast.03_false-unreach-call.i.cil.c
    ssh/s3_clnt.blast.04_false-unreach-call.i.cil.c

[2017-11-02 02:31] inkytonik commented on #488
Also relevant seem to be the following benchmark and its siblings:

    bitvector/s3_clnt_1_false-unreach-call_true-no-overflow.BV.c.cil.c

but in this case `s->version` (here `s__version`) has been initialised.

[2017-11-11 18:42] tautschnig commented on #486
Closing as #459 has been merged (see https://github.com/sosy-lab/sv-benchmarks/pull/459#issuecomment-341078308).

[2017-11-11 18:42] #486 closed

[2017-11-13 10:10] mdangl commented on #475
@tautschnig Could you submit a pull request with the fixed tasks?

[2017-11-13 23:01] inkytonik commented on #477
Fixed by 65df47cf976d4e78966e46846f51761dbd65b0e2

[2017-11-13 23:01] #477 closed

[2017-11-14 14:21] mutilin commented on #484
Please, provide a fix

[2017-11-14 14:28] mutilin commented on #490
@tautschnig, as far as you self-assigned the issue I expected to see some fix

[2017-11-14 17:39] mdangl opened #501 "Task incorrectly labelled as "false-valid-memtrack""
The rules of SVCOMP currently state the following for ``G valid-memtrack``:

When I compile [``sv-benchmarks/c/list-properties/list_search_true-unreach-call_false-valid-memtrack.c``](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/list-properties/list_search_true-unreach-call_false-valid-memtrack.c) and run it in valgrind, however, valgrind reports:

[code]

As I read it, this matches ``G

[2017-11-15 02:37] inkytonik commented on #484
I'll try to find some time soon to propose fixes, but as I said up above, I'm not sure exactly what the right fix is...

[2017-11-15 07:58] PhilippWendler commented on #480
Should these tasks simply be renamed to remove the other verdict? Probably it would be better to fix them, but I can't do this.

[2017-11-15 08:06] PhilippWendler commented on #449
What is the current state of this?
@shaobo-he Do you still think that this program has undefined behavior? Can you explain precisely why and where?

Otherwise I think this issue should be closed.

[2017-11-15 08:09] PhilippWendler commented on #444
@zvonimir @tautschnig Could you provide a PR that does what @tautschnig suggested?

Currently we have still the task `sleep_true-no-overflow_true-valid-deref` with undefined behavior.

[2017-11-15 08:11] PhilippWendler commented on #442
@tautschnig Any update on this?

[2017-11-15 08:13] PhilippWendler commented on #191
@shaobo-he @mutilin @AndrianovPavel Is this fixed?

[2017-11-15 08:14] PhilippWendler commented on #476
Please post the result of your investigation here and close this issue if the question is resolved.

[2017-11-15 08:17] leostrakosch opened #504 "Undefined behavior in tasks due to division by zero"
The ESBMC team (@mikhailramalho) was able to create the attached list of tasks
that may contain a division by zero.

To my knowledge, the following four tasks are already confirmed to contain a division by zero:
`loop-industry-pattern/ofuf_1_true-unreach-call.c`
`loop-industry-pattern/ofuf_2_true-unreach-call.c`
`loop-industry-pattern/ofuf_3_true-unreach-call.c`
`loop-industry-pattern/ofuf_4_true-

[2017-11-15 08:23] kfriedberger commented on #476
Investigation showed that the code might not match the intention of the author.
The program is free of reachability bugs, but it might not terminate.
Thus the labelling in the filename is correct.

The program is a good example that a specification for reachability of some error
is not sufficient to guarantee valid functionality. Lets keep it "as is".

[2017-11-15 08:23] #476 closed

[2017-11-15 09:24] danieldietsch commented on #504
I will try to confirm the issues for all items with Ultimate Automizer and then see about fixing them.

[2017-11-15 09:47] mchalupa opened #506 "Signed-overflow in recursive category"
Hi,

these benchmarks contain signed integer overflow:

[code]
For the first two, setting `b` to 0 and `a` to INT_MIN leads to underflow on line 8 (can be check by clang sanitizer):
[code]

For the later two, setting `b` to INT_MAX and `a` s.t. the condition of line 5 is not met leads to overflow on the line 8:
[code]

I can provide a PR, but I'm not sure what should be the right fix? Constrain th

[2017-11-15 09:57] mutilin commented on #504
Could somebody point the exact places where division by zero occurs and the corresponding zero assignment?

[2017-11-15 10:03] kfriedberger commented on #506
The intention should be `unsigned int`. I will add a PR that does the following:
- keep the existing files with a new name indicating "false-no-overflow".
- add new version of each files with `unsigned int`.

[2017-11-15 10:04] mdangl commented on #501
Since there were no objections (I know that not much time has passed yet, but the deadline for freezing the benchmark set is close), I created a pull request (#501).

[2017-11-15 11:27] mikhailramalho commented on #504
Hi all,

Thank you for opening the issue.

I should've send the counterexamples for all tasks in my previous emails,
sorry about that.

The lines are:

* loop-industry-pattern/ofuf_1_true-unreach-call.c

Violated property:
  file ofuf_1_true-unreach-call.c line 283 function Id_MCDC_110
  division by zero
  Id_MCDC_136 != 0

* loop-industry-pattern/ofuf_2_true-unreach-call.c

Violated property:
  f

[2017-11-15 12:18] mutilin commented on #504
@mikhailramalho What about `ldv-*` benchmarks which appeared in the log.txt?

[2017-11-15 12:33] tautschnig commented on #442
Having done some comparison to the referenced paper and some practical experiments, I cannot seem to see an immediate fix. I have thus reached out to the authors of the SAS'06 paper to hopefully receive some guidance. (Notably, the provided counterexample is just one out of many, the code even fails for `a=20.0`.)

[2017-11-15 12:58] mikhailramalho commented on #504
Hi,

I just created a folder in Dropbox with all the counterexamples generated
by our tool.

https://www.dropbox.com/sh/q202xpwogyxafeb/AABqeLwXzE1xUrEtbxtq1H8sa?dl=0

It contains only the first and last 32kb of everything esbmc prints, but
it's enough to show all the counterexamples. The last bit of each file will
show the line number, the expression that triggered the violation and the
bound.

L

[2017-11-15 14:08] mutilin commented on #504
a call avoid_zero(y) that is implemented by body {if (!y) {abort();}} .

I like the solution. It is consistent with intention of the 'ldv-*' benchmarks

[2017-11-15 15:13] #475 closed

[2017-11-15 15:13] #484 closed

[2017-11-15 15:14] #488 closed

[2017-11-15 15:39] kratl opened #511 "Busybox: Assignment of Pointers with incompatible types"
Hi,

there are some tasks in the busybox benchmarks, which are not conforming the C11 Standard.

Those tasks contain lines like the following:

https://github.com/sosy-lab/sv-benchmarks/blob/39dc78badab09f919b2b5800657890da4031e56f/c/busybox-1.22.0/dirname_true-no-overflow_true-valid-memsafety.i#L1174

Assigning a signed char with a negative value (like -1) to an unsigned char changes the represen

[2017-11-15 15:54] tautschnig commented on #490
@mutilin Yes, I had intended to fix it, but had not yet found time for doing so. Will go ahead and work on the other issues now.

[2017-11-15 17:46] PhilippWendler commented on #456
This indeed looks like a bug and @lucasccordeiro should be asked what was the intention (I can't ping him here because he is not a member of this group).

[2017-11-15 17:50] PhilippWendler commented on #480
@dbeyer What should be do here? Will you contact the authors of these tasks and ask for fixes, or should we remove the label for the other property (the one that does not include undefined behavior)?

@tautschnig has already fixes for the busybox tasks in #513.

[2017-11-15 17:51] PhilippWendler commented on #501
Closed by #505.

[2017-11-15 17:51] #501 closed

[2017-11-15 18:26] lucasccordeiro commented on #456
@kfriedberger and @PhilippWendler: When I submitted this benchmark in 2012, this piece of code was not part of the verification task (as far as I remember, in that time we used to submit benchmarks to @dbeyer via email :-).

[code]

Looking at the git history, @cheshire has added the following assume statements:

[code]

These assume statements were later converted into if-statements by @jhensel.

[2017-11-15 18:36] PhilippWendler commented on #456
@lucasccordeiro But [the change from 2012](https://github.com/sosy-lab/sv-benchmarks/commit/5c34cd745741089b7c4d0940fcaa092e2304d566#diff-18590805e5e84ad8166edb7a527830a0) already adds the first of these two lines: https://github.com/sosy-lab/sv-benchmarks/blob/5c34cd745741089b7c4d0940fcaa092e2304d566/loops/terminator_02_safe.c#L10-L11
This already makes the loop be never executed, because `z` wou

[2017-11-15 18:39] lucasccordeiro commented on #456
@PhilippWendler: These two assume statements were not part of the verification task either.

[code]

May I submit a PR to fix that?

[2017-11-15 19:15] lucasccordeiro commented on #456
@PhilippWendler: This is the PR that fixes the issue https://github.com/sosy-lab/sv-benchmarks/pull/514.

[2017-11-15 19:24] lucasccordeiro commented on #504
I also agree with this solution. Do we have already a PR that implements this solution?

[2017-11-16 05:39] danieldietsch commented on #504
Our tool does not help with a lot of the examples from the list (either resource problems or unsupported C features).

We can confirm a division by zero for
 * ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-drivers--media--usb--gspca--gspca_topro.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c
 * ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-dri

[2017-11-16 08:49] #506 closed

[2017-11-16 08:50] mutilin commented on #504
I have not seen it, please provide, I can have a look at fixes

[2017-11-16 08:50] #461 closed

[2017-11-16 08:54] lucasccordeiro commented on #504
Ok, let's break this task into categories.

@danieldietsch: May I ask you to take care about the `ldv-*` benchmarks?
@leostrakosch: May I ask you to take care about the `loop-*` benchmarks?

I'll make a PR related to the `seq-mthreaded` benchmarks.

[2017-11-16 09:16] danieldietsch commented on #504
I can check the benchmarks our tool supports (see above), but I think there are way more ``ldv-*`` benchmarks (85 of the 120).

[2017-11-16 09:27] mutilin commented on #504
I just noticed that abort() function is not described in SV-COMP rules, so I think it is better to use   __VERIFIER_assume(y!=0)

[2017-11-16 09:32] danieldietsch commented on #504
I second that; we already had a lot of discussions about the difference between ``if(y==0) abort()`` and ``__VERIFIER_assume(y!=0)``

[2017-11-16 11:37] tautschnig commented on #504
I'd say the key difference is whether you want the benchmark to be meaningful for termination analysis?!

[2017-11-16 12:05] PhilippWendler commented on #504
Hm. If `__VERIFIER_assume` is a problem for termination, we should probably redefine the semantics of `__VERIFIER_assume` or adjust the definition of the termination property. Otherwise we would end up removing `__VERIFIER_assume` completely from all benchmarks, which doesn't make sense.

[2017-11-16 12:07] danieldietsch commented on #504
I think ``abort()`` would be a problem; ``__VERIFIER_assume()`` is fine.

[2017-11-16 12:38] tautschnig commented on #504
@danieldietsch Would you mind elaborating? To what extent is `abort()` a problem, and how is `__VERIFIER_assume()` fine with regard to termination?

@PhilippWendler I'm not sure I agree with the removal of `__VERIFIER_assume` being as bad: the more we enshrine in SV-COMP rules, the harder participation in the competition becomes (and we end up building competition candidates rather than practicall

[2017-11-16 12:50] danieldietsch commented on #504
@tautschnig Mainly because we currently do not support ``abort()`` but ``VERIFIER_assume()``, we do not have to think about it just yet.
We model ``__VERIFIER_assume()`` as ``assume``, i.e., if the assume is violated, the program execution does not exist. An ``abort()`` has a terminating program execution.
I am not yet clear as to whether there is actually a difference.

[2017-11-16 13:39] tautschnig commented on #504
In my opinion, the sole difference lies in termination. Quoting the rules:

`void __VERIFIER_assume(int expression) { if (!expression) { LOOP: goto LOOP; }; return; }`

The C standard defines `abort` (7.22.4.1 in C11):

[2017-11-16 14:05] mdangl commented on #504
I would guess that the definition of __VERIFIER_assume from the competition is a relict of times where termination was of no concern to the participants, and in my opinion, it should actually be replaced with a definition using abort().
Do submitters of verification tasks who use "__VERIFIER_assume" to restrict variable values actually every say "yes, I want to add nontermination to my task!"? I c

[2017-11-16 14:27] danieldietsch commented on #504
@mdangl @tautschnig I totally agree with Matthias and I think we labeled all the tasks according to the understanding that an assume does not cause non-termination. I am not sure if there are benchmarks that rely on either one of the assume interpretations.

[2017-11-16 14:28] lucasccordeiro commented on #504
I started adding assume statements to avoid undefined behavior in the `seq-mthreaded` benchmarks: PR https://github.com/sosy-lab/sv-benchmarks/pull/517

@danieldietsch and @leostrakosch: May I ask you to update this issue as soon as you create the respective PRs to fix the `ldv-*` and `loop-*` categories?

[2017-11-16 14:41] PhilippWendler commented on #504
Btw, there is another possible difference between `__VERIFIER_assume` and `abort`: `abort` could cause violations of `valid-memcleanup`, `__VERIFIER_assume` (if interpreted as an infinite loop) not.

@dbeyer So there should really be an official answer of the following two questions:
- Does `__VERIFIER_assume(false)` cause non-termination?
- Is `void *p = malloc(1); __VERIFIER_assume(false)` a vio

[2017-11-16 14:50] PhilippWendler commented on #504
I want to note that at least some people in the past had a understanding that is different from https://github.com/sosy-lab/sv-benchmarks/issues/504#issuecomment-344938369 and assumed that `__VERIFIER_assume` causes non-termination: #348, #352. While the tasks changed in #352 are not a problem (`__VERIFIER_assume` was removed there), it could be that people with the same understanding of `__VERIFI

[2017-11-16 15:37] tautschnig commented on #504
@PhilippWendler If the answer to both your questions is "no", what is then the semantics? If `__VERIFIER_assume(false)` would cause termination, then the answer to the second question can't be "no", because it would contradict memcleanup: "All allocated memory is deallocated before the program terminates." So it's neither non-terminating, but also not terminating?

[2017-11-16 15:43] mutilin commented on #504
@tautschnig
I would say that the nonterminating path defined by negating condition in __VERIFIER_assume is ignored for violation of any property, including nontermination property. So nontermination property is not violated, by definition of __VERIFIER_assume.

[2017-11-16 15:44] PhilippWendler commented on #504
The semantics would be something special that could only be expressed with `__VERIFIER_assume`, thus giving a reason for the existence of `__VERIFIER_assume`. You can think of defining it as "clean up all allocated memory and terminate the program", or adjusting the definition of memcleanup to exclude `__VERIFIER_assume` cases. @mutilin's wording also sounds nice. (I think the rules should be exte

[2017-11-16 15:45] danieldietsch commented on #504
@tautschnig : Exactly! Its neither terminating nor non-terminating because there is no program execution.

[2017-11-16 15:45] jhensel commented on #504
We're fine with either definition. Termination seems more intuitive to me -- I did not expect non-termination when I checked its definition in the rules. I don't think we ever contributed tasks that contain an assume.

But we should make sure to have the rules consistent with the labelling.

[2017-11-16 16:02] #444 closed

[2017-11-16 16:02] #511 closed

[2017-11-16 16:41] tautschnig commented on #504
Let me try to work out an example:
[code]
Let me try to define a program execution as a sequence of states, where a state is a program location and a mapping of memory locations to values. A program is terminating, if there exists a finite program execution. A program is non-terminating, if all program executions are infinite.

This program, under the current rules (which I see in no way ambiguous

[2017-11-16 17:08] peterschrammel commented on #504
When fixing undefined behaviour in termination benchmarks we avoided using __VERIFIER_assume exactly because its definition implies nontermination.

Yes!

[2017-11-16 17:08] danieldietsch commented on #504
@tautschnig : Why do you want to disregard the "no program execution" comment?

[2017-11-16 17:14] danieldietsch commented on #504
Perhaps the real question is: does the verdict "non-terminating" guarantee that there is one non-terminating execution or that there is no terminating execution?

[2017-11-16 17:23] jhensel commented on #504
My understanding is that the verdict means there is at least one non-terminating execution. I think there was some (inofficial?) agreement to exclude, e.g., programs that are not memory safe from the termination category because of exactly this issue.

[2017-11-16 17:25] tautschnig commented on #504
I'm a bit puzzled by some of the comments on this thread. Could we please not forget our background in formal methods? In this spirit, we'll first need to agree on what a "program execution" is, before we can talk about the set of program executions, and then establish whether it is possible for that set to be empty ("there is no program execution").

My intuition is that any program that is synta

[2017-11-16 17:33] jhensel commented on #504
@tautschnig Sure, that's not what I said. But there we had the same problem: We can neither prove termination nor non-termination.

I was just referring to Daniels comment and did/do not want to make any suggestion regarding assume.

[2017-11-16 18:15] danieldietsch commented on #504
@tautschnig But I am not forgetting this background. My intuition is just completely different.
Basically, ``__VERIFIER_*`` statements are just for modelling things we do not want to express in code, e.g., environment assumptions.
For me, they are not part of the program and should be only interpreted by the analysis tool. That we have some kind of implementation for them in C is just a relict fro

[2017-11-16 18:17] danieldietsch commented on #504
I forgot: this is just my intuition. I do not say that this is or must be the rule.

[2017-11-16 18:29] tautschnig commented on #504
In this framework, would you have a designated final state to conclude a terminating program execution? That is, what is the successor of `return 0;` in `int main() { return 0; }` as presumably this code does have a program execution?

[2017-11-16 18:45] danieldietsch commented on #504
Sure. Perhaps ignoring some intricacies of call/return lets assume we have some result variable ``res``. Then for ``return expr`` we would have ``{(s,s')| s'=s[res -> I(expr)(s)]}``, i.e., the successor state is the predecessor state where the value of ``res`` is replaced by the interpretation of ``expr`` in the predecessor state.

[2017-11-16 19:05] tautschnig commented on #504
Doesn't that imply that `assume(false)` would 1) yield a (finite) program execution, and 2) yield the same program execution as having `abort()` at that point?

[2017-11-16 19:21] danieldietsch commented on #504
No, because ``assume(false)`` does not have a successor state.

For ``abort()`` we also need to know where the next statement comes from (for me, from the control flow graph). Then we would probably require a designated sink location in the control flow graph for ``abort()`` s.t. there is no next statement. ``abort`` itself is then just an ``assume(true)``.

[2017-11-16 19:44] tautschnig commented on #504
You said:

but you also said:

To me, this seems contradictory, but maybe I'm just cherry-picking the wrong subset of your comments?

To avoid rabbit holing: what I have not yet seen is a good reason why we need `__VERIFIER_assume` at all. @PhilippWendler said it should have semantics that cannot be easily simulated using C code, but it's not clear to me why that is a desirable property at all.

[2017-11-16 20:10] danieldietsch commented on #504
``assume(false)`` cannot have a successor state, because I would say that under any interpretation, false should evaluate to false. Because there is no successor state there cannot be a program execution that contains this statement.

I would say it is good and needed because we want to abstract from the environment sometimes. We want to be able to say "we consider this function in isolation but w

[2017-11-16 20:47] tautschnig commented on #504
So why isn't "write a harness" the most appropriate way of abstracting from the environment? In such a harness, it's easy to place constraints on otherwise non-deterministic values without having to introduce extra magic.

[2017-11-16 20:58] danieldietsch commented on #504
Because, e.g., you change the behaviour w.r.t. to termination by adding either a terminating or a non-terminating program execution.

[2017-11-16 21:09] tautschnig commented on #504
You have full control over which of the cases you want by using one of `while(x>100) {}` or `if(x>100) abort();` in the harness. All without coming up with new "special" semantics that create non-existing executions.

[2017-11-17 07:10] cheshire commented on #456
@lucasccordeiro @PhilippWendler I have changed this benchmark before, as otherwise IIRC signed integer overflow was reachable.

My current position, however, that changing benchmarks is a _completely_ wrong approach, which fails to recognize the end goal entirely.
I think the only sensible way is to use benchmark as it is, and then label it accordingly.
*maybe*, and only maybe, new benchmarks coul

[2017-11-17 07:23] PhilippWendler commented on #504
This means that when you add a harness, you have to choose between either violating the termination property or (possibly) violating the memcleanup property. There is no known way with C code to avoid both, but this is precisely what I would say should be the goal of such a harness (restrict the state space with as little influence as possible on the rest of the program and properties). This is al

[2017-11-17 07:31] PhilippWendler commented on #456
@cheshire This is precisely what is happening in most of the PRs here. I do not see at all why this should be overfitting. This is precisely what would also happen in a real-world scenario: find one instance of undefined behavior, fix it, and give the fixed program to the verifier again.
Anyway, I think this is off-topic in the comments of a PR and such a discussion should be continued on the mail

[2017-11-17 08:26] tautschnig commented on #504
We are talking about a Turing-complete language, right? Speaking more concretely, you can obviously add a cleanup function and invoke that one instead of calling `abort()` directly.

[2017-11-17 08:34] danieldietsch commented on #504
Depends on what your goal is. In many cases, it is just much harder to write an actual harness than using special modelling constructs.

I would argue we need even more magic. I would like to have, e.g., quantifiers in my assume to express things about the heap. I would like things that allow me to express that a pointer is valid and points to a certain data structure.

Sure you can do most of the

[2017-11-17 08:55] mutilin commented on #504
Does `abort()` lead to violating of the memcleanup property in some cases? or any other?
Otherwise, the definition
`__VERIFIER_assume(expr) {if(!expr) abort();}`
looks fine to me.

[2017-11-17 10:11] mdangl opened #521 "Wrong label for two ldv-memsafety tasks"
This issue concerns the following four tasks:
[code]
This is basically the cross produce of two kinds of modifications to an originally unsafe (false-valid-deref) task:
1. The first modification actually has some value in increasing the difficulty of the task, is accessing a function through a function pointer in an array. I am fine with that.
2. The second modification adds a condition that is ap

[2017-11-17 10:11] mdangl commented on #521
I will create a pull request for the first solution I proposed above soon.

[2017-11-17 10:56] mutilin commented on #521
Sorry, how it leads to the bug?

[2017-11-17 11:00] mdangl commented on #521
Well, exactly like in two two tasks labeled as false-valid-deref. There is no reason why ``(id >= 256)`` should always be true in line 1474, so it does not enter the then-case and instead proceeds to perform an invalid-deref at 1476. Or am I missing something?

[2017-11-17 11:27] peterschrammel commented on #456
I agree with @cheshire that the a copy of the unchanged original benchmark should be preserved and relabelled correctly (e.g. false-def-behavior*).

[2017-11-17 11:50] PhilippWendler commented on #456
@peterschrammel There is no undefined behavior in the task. Before it was fixed in #514, this task was just a program with a lot of dead code and no interesting behavior.

@kfriedberger Please close this issue if you agree that this is fixed.

[2017-11-17 12:06] mutilin commented on #521
The author of the benchmark @Druidos is sick, so I'm trying to understand the issue.
By the comments in the benchmark I assumed that it should contain an access with index out of the array size `report_id_hash[id]` See https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/commit/?id=dc41087
But if `id` is less than `256` than it should be OK?

[2017-11-17 12:16] mdangl commented on #521
Ah, that I did not see. Then of course, this issue can be closed. Thanks for the explanation!

[2017-11-17 12:16] #521 closed

[2017-11-17 15:31] #490 closed

[2017-11-17 20:07] mchalupa opened #523 "(Another) Signed-overflow in recursive category"
Hi,

these tasks can underflow when the (only) non-det value is INT_MIN:

[code]

Sorry that I haven't noticed it earlier. I can send a PR tomorrow, but I won't make it today.

[2017-11-18 07:23] mchalupa commented on #523
Should be fixed by #524

[2017-11-18 07:23] #523 closed

[2017-11-18 19:41] mchalupa opened #526 "Undefined (mostly) POSIX functions in busybox benchmarks"
A lot of busybox benchmarks contain calls to undefined functions, mostly POSIX functions. In some benchmarks, this may not be a problem, but at least in some of them the behavior depends on these calls and that may be problematic. E.g. in the `date` benchmark, there is a call to `localtime_r` that fills a structure with values (https://github.com/sosy-lab/sv-benchmarks/blob/master/c/busybox-1.22.0

[2017-11-21 15:40] mdangl opened #534 "Bug in ldv-challenges/linux-3.14__linux-kernel-locking-spinlock__drivers-net-ethernet-ti-tlan_true-unreach-call.cil.c"
CPAchecker finds a bug in ldv-challenges/linux-3.14__linux-kernel-locking-spinlock__drivers-net-ethernet-ti-tlan_true-unreach-call.cil.c

Unfortunately, the error trace is very long, and it is not feasible to analyze it manually.
We are able to validate our own witness for this bug, but I understand if that is not convincing enough.
Maybe @Heizmann or @danieldietsch can try to validate it with Ult

[2017-11-21 17:04] MartinSpiessl opened #535 "Potential overflow in some busybox tasks"
Hi,

There are overflows in some of the busybox tasks. The problem originates from the the built-in function strerror that resolves an error id to an error string. This error string could in theory be very long, let's say of length INT_MAX-2 (neither the C standard nor GCC specify how these strings look like or what is the maximal length):
[code]
Now in some busybox tasks, the length of such a str

[2017-11-21 17:30] mdangl commented on #535
Thanks for the detailed report.

This seems to be the most sensible option and consistent with the usual way newly detected bugs are dealt with.

That depends on the specific issue, but the most likely reason is that this was simply forgotten and slipped through. Or maybe the bug was deemed to be to trivial, although this is often a tough call to make.

[2017-11-21 18:42] danieldietsch commented on #534
I am on it.

[2017-11-22 00:11] MartinSpiessl commented on #535
I updated the number of affected files in my first post, all except 4 busybox tasks are affected.

There are already two tasks that only have the label false-valid-deref. What shall be done with those?
I guess invalid dereferencing is undefined behavior, so is an overflow. Does it make sense to fork those files into one with false-valid-deref where the overflow is fixed and one with false-valid-de

[2017-11-22 00:26] MartinSpiessl commented on #535
Next question: There are also files in busybox-1.22.0-todo that contain the overflow. I could also fix them, but this would mean duplicating the files, what makes it harder to edit them later.
I could also just add the command that generates the pull request into the commit message. It currently looks like this:

    for file in $(grep -l bb_verror_msg c/busybox-1.22.0/* | grep -Pv ".*?_false-vali

[2017-11-22 08:52] PhilippWendler commented on #535
Just have one file with `_false-valid-deref` and one with `_false-no-overflow`. If possible, also add the corresponding `_true` labels.

@tautschnig Any idea?

[2017-11-22 12:19] mdangl commented on #534
@danieldietsch any luck?

Well, if at least no one disagrees (in last year's SVCOMP all tools either gave up or timed out on this task), I will create a pull request.

[2017-11-22 12:33] leostrakosch commented on #504
Hi all,
thanks @danieldietsch and @lucasccordeiro for fixing some of the tasks, especially for fixing the ones you asked me to do!

There are 82 tasks with a potential divison by zero left ([division_by_zero_left.txt](https://github.com/sosy-lab/sv-benchmarks/files/1495932/division_by_zero_left.txt)).

Was someone able to confirm or reject some of these tasks?
@dbeyer , what will happen to the tas

[2017-11-22 13:09] danieldietsch commented on #504
We fixed various things in our tool and I am just rerunning the remaining div-by-zeros -- should be finished soon.

[2017-11-22 13:10] danieldietsch commented on #534
We are still trying to get there -- there is some issue with our C translation on this example, but I think we will have a fix soon. I get back to you today.

[2017-11-22 13:23] danieldietsch commented on #504
Ok, so we can add the following results:

**proof for absence of divison by zero**
 * ``ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--regulator--max1586.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c``
 * ``ldv-linux-3.4-simple/43_1a_cilled_true-unreach-call_ok_nondet_linux-43_1a-drivers--input--misc--rotary_encoder_false-termination.ko-ldv_main0

[2017-11-22 17:16] danieldietsch commented on #534
I think we need a little bit more time -- as a relabelling PR would not take that long, maybe wait until tomorrow morning?

[2017-11-22 17:30] #535 closed

[2017-11-22 19:51] mdangl commented on #534
I will just create a PR and then you can either approve it when you are done, or if you disagree I can close it.

[2017-11-23 09:30] mchalupa commented on #504
I can confirm division by zero in `ldv-linux-4.2-rc1/linux-4.2-rc1.tar.xz-32_7a-drivers--staging--lustre--lustre--libcfs--libcfs.ko-entry_point_true-unreach-call.cil.out.c` on line 16701. As `__bitmap_weight` is not defined, assuming it can return anything, it can return 0 (line 6516). This 0 is then returned from `cpumask_weight`.

[2017-11-23 09:51] danieldietsch commented on #534
It seems we cannot find the violation because unwinding takes us too long. I am fine with closing the issue and relabeling to false-unreach.

[2017-11-23 09:55] mdangl commented on #534
@danieldietsch OK, thanks for the effort anyway!

[2017-11-23 12:11] dbeyer commented on #534
Can this issue be closed?

[2017-11-23 12:12] dbeyer commented on #504
Can this issue be closed?

[2017-11-23 12:13] dbeyer commented on #480
Can this issue be closed?

[2017-11-23 12:13] mdangl commented on #534
Yes. If at some point someone disagrees, they can reopen it or open a new one.
For the time being: Fixed by #541.

[2017-11-23 12:13] #534 closed

[2017-11-23 12:13] dbeyer commented on #456
@kfriedberger: Can this issue be closed?

[2017-11-24 08:53] tautschnig commented on #480
I'm not sure why it's me to comment on this? I have tried to do my share of the work by addressing the issue for those benchmarks that I had originally submitted. It would be nice if the submitters of benchmarks in `forester-heap` etc. did the same?

[2017-11-24 08:54] tautschnig commented on #480
Also: no, it cannot be closed AFAIK, because the other directories as listed by @PhilippWendler are still affected.

[2017-11-24 08:55] dbeyer commented on #466
I just looked at the results table that @PhilippWendler pointed to and agree: these tasks are far from being trivial. So I close this issue.

[2017-11-24 08:55] #466 closed

[2017-11-24 09:06] kfriedberger commented on #456
Yes, should be closed.

[2017-11-24 09:06] #456 closed

[2017-11-24 09:10] dbeyer commented on #480
Assigned @Heizmann and @danieldietsch for cleaning up the labels for the termination directories.

[2017-11-24 09:28] leostrakosch commented on #504
There are still unconfirmed, potential divisions by zero left.

What should we do with these tasks? We could add a precautionary __VERIFIER_assume at every such location, or ignore them until it is confirmed that a divison by zero really is possible.

[2017-11-24 09:54] dbeyer commented on #504
Yes, the latter, i.e., close the issue for now and if somebody finds a div-by-zero,
then the new label is added to the verification task.

[2017-11-24 10:09] danieldietsch commented on #504
Can we keep the issue open? Its easier to track the remaining candidates.

[2017-11-28 19:55] tautschnig opened #548 "Add a CI check that no undefined functions are present"
... other than those explicitly listed in the SV-COMP rules. As initially many benchmarks will violate this check, a blacklist needs to be maintained.

I will push for this as it is an essential condition for concrete execution of (violation) witnesses. (But then of course undefined functions actually mean undefined behaviour.) Also, I'm self-assigning this and will work on it over the next months

[2017-12-04 11:18] lucasccordeiro opened #550 "Undefined behaviour for openbsd_cmemrchr-alloca_true-valid-memsafety_true-termination"
In this benchmark `openbsd_cmemrchr-alloca_true-valid-memsafety_true-termination` from `array-memsafety`, if we replace the nondet functions:

[code]

by the concrete values:

[code]
Then run Valgrind:

[code]

We can see that there is undefined behaviour. In particular, the call to function `__bultin_alloca` fails at line 563 to allocate memory (i.e., returns null pointer), which then causes in t

[2017-12-04 11:24] mdangl commented on #550
I thought the assumption in SVCOMP is that allocations never fail, i.e., never return a null pointer:

To quote from the [rules](https://sv-comp.sosy-lab.org/2018/rules.php):

Note that the text also mentiones `alloca`.

[2017-12-04 11:30] lucasccordeiro opened #551 "Undefined behaviour for module_get_put-drivers-char-ipmi-ipmi_watchdog.ko_true-unreach-call.cil.out.i.pp.i"
@marek-trtik and I have analyzed this benchmark. Our conclusions are: each execution trace (starting in the `main` function) reaches the line 6847, where is called a function `ldv_initialize`. Two things apply here:

1. The function `ldv_initialize` is only declared `external` in the benchmark, it is not defined.
2. There is no assumption about calling undefined function in rules of SV-COMP (https

[2017-12-04 11:33] tautschnig commented on #550
Yes, @mdangl that is what the rules say. We do accept that thus this benchmark might not be discounted for this year. Yet this rule is very far away from reality when it comes to `alloca` I'm afraid, as the example shows. As the `man` page says: `Avoid alloca() with large unbounded allocations.`

[2017-12-04 13:15] lucasccordeiro opened #552 "Undefined behaviour for 43_1a_cilled_true-unreach-call_ok_nondet_linux-43_1a-drivers--power--test_power.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c"
@marek-trtik and I have investigate this issue. This benchmark `43_1a_cilled_true-unreach-call_ok_nondet_linux-43_1a-drivers--power--test_power.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c` contains an execution trace leading to an undefined behaviour related to overlap of strings passed to `strncpy` (this is a shorter version of the error trace):

1. In `main` function at line 1225

[2017-12-04 13:26] mutilin commented on #552
@lucasccordeiro do you have a witness confirmed by some of the witness checkers?
According to which specification strings passes to `strncpy` should not overlap?

[2017-12-04 13:40] lucasccordeiro commented on #552
@mutilin: The C standard says the following:

"The strncpy function copies not more than n characters
(characters that follow a null character are not copied)
from the array pointed to by s2 to the array pointed to by s1.
**If copying takes place between objects that overlap,
the behavior is undefined.** If the array pointed to by s2
is a string that is shorter than n characters, null characters
a

[2017-12-04 13:45] mutilin commented on #552
@lucasccordeiro Which version of the C standard are you referring to?

@lucasccordeiro  Which witness checker accepts the witness?

It has nothing to do with reachability of `__VERIFIER_error()`

[2017-12-04 13:56] lucasccordeiro commented on #552
@mutilin: Find below the link to the C standard draft (please refer to page 326, paragraph 7.21.2.4):

http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1256.pdf

[2017-12-04 13:56] tautschnig commented on #552
That's what C11, page 363 says.

Yes, and "true-unreach-call" has nothing to do with undefined behaviour.

[2017-12-04 14:01] mutilin commented on #552
Hence the  `__VERIFIER_error()` is not reachable

C11 it is for C++, isn't it?

it is a draft, isn't it?

@lucasccordeiro Still, what about confirming by witness checker?

[2017-12-04 14:16] lucasccordeiro commented on #552
@mutilin: C11 is also C standard. Look at the newer version: http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf (page 363 as pointed out by @tautschnig ).

If you really want the final version of the standard, you can get it from: https://www.iso.org/standard/57853.html

The witness checkers do not validate this witness. However, we have provided a concrete trace, where you can manually ins

[2017-12-04 14:20] danieldietsch commented on #552
Regarding the standard: an overview over the different places in the different versions of the standard can be found at http://en.cppreference.com/w/c/string/byte/strncpy.

It also seems that regardless of the version of the standard, copying overlapping objects is undefined.

[2017-12-04 14:35] mutilin commented on #552
@lucasccordeiro, @tautschnig, @danieldietsch thanks for the references

`strncpy` in not defined by SV-COMP rules and Linux drivers do not use `string.h` functions from the standard library. Instead they use hardware-dependent functions from `include/linux/string.h`
So the specifications defined in the C standards in are not applicable here.

Thus the trust for the witness decreases.
Item 6 in the

[2017-12-04 14:49] tautschnig commented on #552
Brilliant, the correctness of that benchmark depends on a pointer-manipulating undefined function apparently not covered by any standard or rules.

[2017-12-04 14:49] lucasccordeiro commented on #552
@mutilin: How could we write models if we do not have a standard to follow? What is the standard for the hardware-dependent functions from `include/linux/string.h`? It seems that we have a contradiction here, since we might have other verification tasks that use `strncpy` and follow the C standard, but the Linux drivers do not.

The witness checkers and verifiers developers are doing a great work

[2017-12-04 14:59] mutilin commented on #552
The correctness of all Linux driver benchmarks depend on that functions. For several years I'm trying to attract attention to this problem, but the community likes to discuss examples one-by-one without building a common solution.

[2017-12-04 15:04] danieldietsch commented on #552
A possible solution would be an implementation for this particular ``strncpy`` function (at least if we do not want to assume the semantics of the standard variant).

Btw, a quick check says that ``strncpy`` occurs in 311 files from ldv-* (also counting not preprocessed files, so the real number might be only 156).

[2017-12-04 15:07] tautschnig commented on #552
Apart from removing all the benchmarks from the competition, what would a common solution look like? I’m aware of recursively allocated memory of course, but there’s a different issue here I’d say?

[2017-12-04 15:12] marek-trtik commented on #550
I am not sure that the mentioned assumption prevents the memory-related issue in that benchmark. Here is the scenario:

  1. At line 555 `__VERIFIER_nondet_int` returns 1, i.e. the size `n` of the memory to be allocated is 1.
  2. At line 563 the `__builtin_alloca` returns the highest possible address on 32-bit platform which is `2^32-1`=`4294967295`. At that address there is allocated our byte.

[2017-12-04 15:23] mutilin commented on #552
All functions from the C standard library should be renamed as they a not conforming to the standard.
Then recursively allocated memory will help here as far as `strncpy` will be considered as undefined function, therefore it is a function without side effects.

I also like the idea mentioned by @peterschrammel https://github.com/sosy-lab/sv-benchmarks/pull/533#issuecomment-346556150 to search for

[2017-12-04 20:35] mchalupa opened #554 "Another invalid memory accesses in some ldv benchmarks"
The benchmark `ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--input--touchscreen--penmount.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c` contains multiple invalid dereferences. On this link you can find a witness for one of the errors (invalid dereference on line 2852, due to the fact that `dev_get_drvdata` is undefined): https://gist.github.com

[2017-12-04 20:42] mdangl commented on #550
@tautschnig can you point out a maximum size for allocations defined by the C standard that is exceeded here? Otherwise, I would consider the SV-COMP rule I quoted above very useful for building interesting verification tasks.
I do understand that it would make things *easier* to have nice low bounds on all values, but I see no necessity to do so here. Any bound you would introduce on the allocati

[2017-12-05 10:11] marek-trtik commented on #550
@mdangl :

Yes, exactly. So, we could either extend the benchmark by inserting `if` guard after the allocation, or by extending SV-COMP's assumptions for `malloc` function (and related) so that the address of the last byte of an allocated block does not occupy the largest address of the addressable space of given platform.

Let me note in this context that SV-COMP's assumption for `malloc` that it

[2017-12-05 12:05] dbeyer commented on #554
@mchalupa, could you please make it more concrete by creating a pull request?

[2017-12-05 12:29] mchalupa commented on #554
I don't know if in all these benchmarks modified in #556  the `input_allocate_device` was problematic, but at least in the five mentioned above, it was.

[2017-12-05 12:37] tautschnig commented on #550
@PhilippWendler Unfortunately this benchmark uses `alloca`. I would completely agree if it were about `malloc`, but for `alloca` there are no guarantees:

In my opinion, this benchmark should be changed to use `malloc` and all would be well (we could even be very clean and do error checking.)

[2017-12-05 12:45] PhilippWendler commented on #550
Just like Matthias above, I do not agree that the use of alloca changes this. If we follow the warning you have quoted, this would mean that alloca is *always* unsafe (because nobody can properly define "large"). Thus, we either have to assume that alloca is unsafe, which would mean that we need to remove all SV-COMP tasks with alloca (there are hundreds), or we have to assume that alloca is as sa

[2017-12-05 13:09] tautschnig commented on #550
As the text says, `alloca() is slightly unsafe` -- it's generally ok to use with reasonable bounds. My guess is that most benchmarks use it with a fixed size, which is totally fine. Using it with the result of `__VERIFIER_nondet_int` is not.

If you want a more precise definition of what constitutes "reasonable" bounds, just run `ulimit -s` on your system and multiply that number with 1024.

[2017-12-05 13:35] mutilin commented on #554
@mchalupa
For checking the witness you are using `-spec ~/Downloads/PropertyMemSafety.prp` which is not related to the property mentioned in benchmark `unreach-call`. So you found the violation of `valid-deref`, but not `unreach-call`.

[2017-12-05 13:48] tautschnig commented on #554
If they were `false-unreach-call` then I'd say "ok, needs to be added to #480". But claiming the call is truly unreachable in presence of undefined behaviour is much harder. Please provide a proof that, despite the undefined behaviour, it remains impossible to reach this call. At bare minimum you'll have to prove that  it is impossible to craft a stack-based buffer overflow (as such could be used

[2017-12-05 13:49] mdangl commented on #550
Yes, but it *can* also be OK to use beyond what would commonly be considered to be "reasonable" bounds, and we do not want to miss bugs that occur in those cases by arbitrarily restricting the maximum allocation size to what is available in some specific system(s).

[2017-12-05 14:00] mchalupa commented on #554
@mutilin : Yes, that is what am I reporting -- an invalid access to memory.

[2017-12-05 14:02] mutilin commented on #554
In such settings the tool which reports `false-valid-deref` should provide an exploit  which allows to call `__VERIFIER_error`

For the competition I think we should require that the state violating memsafety property terminates the path. It will allow to eliminate undefined behaviour from consideration in `unreach-call`.

[2017-12-05 14:04] tautschnig commented on #550
In line with what I said above: the use of `alloca` with a fixed size should be considered ok (it's easy to test). For any non-const size people should be using malloc, because that enables error checking (even though the SV-COMP rules do guarantee that it will succeed).

Quite frankly: we are setting a terrible example by promoting the use of `alloca` with unbounded sizes which we claim to _prove

[2017-12-05 14:39] mutilin commented on #554
@mchalupa

but the property to check is `unreach-call`

[2017-12-05 14:44] tautschnig commented on #554
If you are asking for exploits, we might just keep it simple. Just link the following against the benchmarks:

[code]

That's me making use of undefined behaviour without even resorting to memory errors.

Could you please elaborate? I don't understand what this means.

[2017-12-05 15:02] mutilin commented on #554
So use this, but do not refer to memory errors!

All paths which violate some property are aborted and can not be used as a prefix for violation of any other property.

[2017-12-05 15:14] PhilippWendler commented on #550
The original problem with the task of this issue has been addressed. The discussion about whether alloca is allowed is off-topic here in my opinion and thus this issue should be closed.

[2017-12-05 15:56] tautschnig commented on #550
I'll have to disagree with each bit here:
1. The original problem is that that task has undefined behaviour (even when the rules claim otherwise). The existence of UB has been proven. I don't think this has been addressed.
2. Yes, `alloca` being permitted or not is off-topic, but then this issue should only be closed once a new issue for discussing it has been opened.

Else it would feel like a co

[2017-12-05 16:19] mchalupa commented on #554
Memory errors are undefined behavior...

This could be a nice assumption for the multi-property category which has been discussed for some time, but so far in the rules we have that exactly one property is violated in a benchmark. Invalid dereference is undefined behavior and as such you can not assume that the program is just killed there (although it is a common case). You can not, in fact, assu

[2017-12-05 16:39] mutilin commented on #554
I do not see such requirement in the rules. You can even see examples like `list-ext_flag_false-unreach-call_false-valid-deref.c`, `list_and_tree_cnstr_false-unreach-call_false-termination.c`, `sll-queue_false-unreach-call_false-valid-memcleanup.c` ...

Well, not all memsafety properties. Even `valid-deref` which is undefined, but not always exploitable.

There is no general consensus

There are e

[2017-12-05 16:55] mutilin commented on #554
Regarding benchmarks contained in the directory `ldv-linux-3.4-simple` my position is still the same as in #466. They were prepared with very naive environment model

[2017-12-05 17:24] mchalupa commented on #554
Yes, my bad, I formulated it incorrectly, what I said holds only for MemSafety category. The rest of the sentence, however, still holds. What I meant to say is that some lables are quite incompatible, like false-valid-deref and anything else.

(btw. I also do not see a rule that says that "the state violating memsafety property terminates the path".)

OK, so fast I could find only these two links,

[2017-12-05 17:26] mchalupa commented on #554
Anyway, I think that the conversation is starting diverging from the original topic, which is that the reported benchmarks contain invalid memory accesses (whatever it means for the unreach-call label).

[2017-12-05 17:49] mdangl commented on #550
@tautschnig:
1. No, this issue (#550) is precisely what @lucasccordeiro wrote when he created it, which is:

I have answered this by quoting the SV-COMP rules, which clearly state that for the sake of the competition, the allocation functions should be assumed *not* to return `NULL`. Whether you agree with this rule or not is a matter for a different issue. Thus, issue #550 has been addressed in f

[2017-12-05 18:30] marek-trtik commented on #550
Let me note that @PhilippWendler's statement was related to `malloc`:

However, the benchmark uses `alloca` function. So, according to @tautschnig's note the memory block indeed can be allocated in the end of the addressable space and so the invalid-address will be computed.

[2017-12-05 19:46] mdangl commented on #550
@marek-trtik my interpretation of what @PhilippWendler wrote is that the same reasoning applies to alloca.

[2017-12-05 22:15] Heizmann commented on #554
I cannot understand the original witness that was posted here. It seems to end at the statement ``tmp___0 == 2`` which is clearly not related to an invalid memory dereference.

I was able to run a recent version of UAutomizer on the program. Our tool claims that the program is not ``valid-deref``, witness attached.

However after look at this more carefully, I found out that our tool complains abo

[2017-12-06 09:20] mchalupa commented on #554
The witness describes just a prefix of the error path.

[2017-12-06 09:27] marek-trtik commented on #550
The direct response of @tautschnig to the @PhilippWendler's note is that such reasoning would be incorrect.

[2017-12-06 13:29] PhilippWendler commented on #550
@marek-trtik No. @tautschnig is arguing that the use of alloca with a nondet size is in general unsafe. This is not related to the question of whether there is a problem with an overflowing pointer in this task (if we assume that alloca is in general safe).

In fact, @mdangl is correct, you can rephrase my above statement to:

Thus I am still saying that the question about alloca is to be discusse

[2017-12-06 14:35] tautschnig commented on #550
It is related: `alloca` does not provide the guarantee of truly allocating the requested amount of space.

That's BS because `alloca` is not covered by any standard and the documentation describing `alloca` makes no such claim either.

[2017-12-06 14:35] #550 closed

[2017-12-06 14:40] tautschnig opened #561 "Rules governing alloca are ambiguous and hide undefined behaviour"
There has been an extensive discussion in #550. Quoting the rules:

1. It is not clear whether this would permit invoking `free` on memory allocated using `alloca`, which is invalid practice.
2. Assuming `alloca` always returns a valid pointer is rebuked by the example provided in #550.

I would argue that the use of `alloca` should be restricted to cases where the size of the requested allocation

[2018-07-05 12:37] kfriedberger commented on #548
@tautschnig : This is a reminder. Are there any news on this topic?

[2018-07-05 14:36] kfriedberger commented on #442
@kratl
Nice explanation.
Please provide a pull request with the correct file (labelled as `true`) when using `long long` and perhaps insert a comment directly into the existing `false` file such that a new user easily finds the bug when looking at the file.

[2018-07-05 14:50] kratl commented on #442
I just tested the "false" and the "fixed true" task with gcc and clang and flagged -m32 and their behavior is still the same as in the 64bit compilation.

I cannot guarantee the behavior to be consistent on other machines, though, hence the task should be handled with some care.

[2018-07-05 19:18] kfriedberger commented on #442
Additional info for union-alignment (from C99 standard, 6.7.2.1.14):
`The size of a union is sufficient to contain the largest of its members. The value of at most one of the members can be stored in a union object at any time. A pointer to a union object, suitably converted, points to each of its members (or if a member is a bit-field, then to the unit in which it resides), and vice versa.`

Thus

[2018-07-09 00:36] zvonimir opened #571 "Floating-point rounding mode set directly due to preprocessing"
See this line for example:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/floats-cbmc-regression/float-rounding1_true-unreach-call.i#L1092

According to the specification for these functions:
"Attempts to establish the floating-point rounding direction equal to the argument round, which is expected to be one of the *floating point rounding macros*."
If you look at the original C file, thi

[2018-07-09 00:37] zvonimir commented on #571
@tautschnig : It seems that you contributed these tasks, and so maybe you could pitch in here. Thanks!

[2018-07-30 08:29] kfriedberger commented on #442
fixed with #568 .

[2018-07-30 08:29] #442 closed

[2018-08-30 09:28] PhilippWendler opened #578 "Semantics of __VERIFIER_assume"
In https://github.com/sosy-lab/sv-benchmarks/pull/539#issuecomment-346562287 it was mentioned that we should talk about the semantics of `__VERIFIER_assume`. There is a long discussion about it in #504, which I will try to summarize here, but I recommend to reread that discussion, too.

The current rules are pretty clear:

This means that most tasks with `__VERIFIER_assume` are nonterminating.

Ho

[2018-09-28 07:58] avritichauhan opened #595 "Floating point operations in pull request "New Loop Benchmarks" #581"
I have looked at the benchmarks intended to be added to the ReachSafety-Loops sub category, of the pull request. #581
https://github.com/sosy-lab/sv-benchmarks/pull/581

They contain floating-point arithmetic operations and are relevant to such tools. So far, none of the benchmarks in the loops sub category have such operations. So, do we want to keep them in the loops sub category or move them to

[2018-10-07 15:57] dbeyer commented on #595
Addressed in PR #581.

[2018-10-07 15:57] #595 closed

[2018-10-17 08:46] PhilippWendler opened #608 "Programs in termination-libowfat call nondet_int()"
All programs in the directory `c/termination-libowfat` call an extern function called `nondet_int()`. Obviously, the intended semantics is for a non-deterministic value, so this should probably be changed to `__VERIFIER_nondet_int`. However, changing this now would mean that strictly speaking the semantics of these tasks are changed after 3 years. Should we do this?

[2018-10-19 08:08] zvonimir opened #610 "Should we assume that realloc can fail to allocate memory?"
I am confused about this benchmark and would appreciate if someone could help me to clarify it: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-memsafety-realloc/array-realloc_false-valid-deref.c

First of all, it is strange that `expandArray` doesn't take a pointer to pointer as its argument. Based on how the code is written I would guess that would be the intention here. Maybe I am

[2018-10-19 10:00] kfriedberger commented on #610
1) According to the [manpage](https://linux.die.net/man/3/realloc) the signature of `realloc` should be correct. It uses the pointer `a`, just in the same way as `free(a)` does it.
2) I do also not see any invalid dereference under the assumption that `all memory allocation suceeds`. However, the current rules of SVCOMP state that only `functions malloc and alloca always return a valid pointer`, w

[2018-10-19 10:12] zvonimir commented on #610
Your point (2) is exactly what I am concerned about. If we change our model of `realloc` to allow it to fail, is that going to break (a bunch of) other benchmarks that maybe assume that `realloc` cannot fail?

[2018-10-19 10:40] kfriedberger commented on #610
A possible solution would be to add a `__VERIFIER_assume(a!=0)` for this task and rename it into a `valid` task.

[2018-10-19 10:43] dbeyer opened #613 "Thessaloniki Fix: Verification Tasks should ideally not have undefined functions."
It happens a lot in practice that one wants to verify a program that is not yet complete,
i.e., during development when some functions are not yet implemented,
or later in the development a part of a program is under investigation
without considering some other parts.

However, the community meeting at TACAS 2018 in Thessaloniki agreed that we want to try to fix such verification tasks, because id

[2018-10-19 13:07] mchalupa commented on #610
I would also expect `expandArray` to somehow pass the newest pointer to the reallocated memory back to the caller (I guess that is what Zvonimir wanted to say by passing "pointer to pointer as the argument"). Because, IMHO, this way there is possible an invalid-free error when `realloc` allocates the new memory on a different address. I think that correct code should return the latest pointer inst

[2018-10-19 13:44] kfriedberger commented on #610
Yes, now I see the invalid dereference. There is already a correct version of this task in [array-realloc_true-valid-memsafety.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-memsafety-realloc/array-realloc_true-valid-memsafety.c).

In that case we can further assume that all memory allocation returns valid memory, and the SVCOMP rule for allocation includes all variants like `rea

[2018-10-19 14:12] dbeyer commented on #608
This is part of issue #613.

[2018-10-19 15:12] danieldietsch opened #618 "Programs in ntdrivers contain undefined functions"
According to https://sv-comp.sosy-lab.org/2019/results/collect-undefined-functions.table.html , the following files in ``ntdrivers`` contain undefined functions:
 * ntdrivers/floppy_false-valid-deref.i.cil.c
 * ntdrivers/kbfiltr_false-valid-deref.i.cil.c
 * ntdrivers/cdaudio_false-unreach-call.i.cil.c
 * ntdrivers/diskperf_false-unreach-call.i.cil.c
 * ntdrivers/floppy_false-unreach-call.i.cil.c

[2018-10-19 15:32] zvonimir commented on #610
@dbeyer It was brought up above that maybe the SVCOMP rule for allocation (i.e., that malloc always returns allocated memory) should include more allocation functions and not just malloc. Where should this be discussed?
It is still unclear to me what is the assumption that benchmarks make regarding this.

[2018-10-19 15:47] #608 closed

[2018-10-19 20:30] mchalupa opened #620 "Memsafety benchmarks with undefined functions"
The following files with memsafety verdict contain undefined functions (or failed to be parsed) according to  https://sv-comp.sosy-lab.org/2019/results/collect-undefined-functions.table.html,
but I checked them and the only undefined functions were the standard functions like `printf` or `malloc` or the __VERIFIER_ functions:

[code]

These files conain these undefined functions, either user-defin

[2018-10-19 20:43] mchalupa commented on #610
I'm not sure that the "correct" version is really correct. The problem is with the `free` inside `expandArray`:

[code]

When realloc fails, then the memory is freed. But then it is freed again on line 34. See the man page of realloc:

```If  realloc()  fails,  the original block is left untouched; it is not freed or moved.```

So I think there is possible double-free error on line 34. Or am I mis

[2018-10-19 20:47] mchalupa commented on #618
I have written a patch that fixes some (but not all) problems in the first two files before I noticed this issure. it is on the following link if you are interested: https://github.com/staticafi/sv-benchmarks/commit/86af4eb412f6abe6b0379ad741b549558de7f60b

[2018-10-19 20:54] zvonimir commented on #610
Wait, shouldn't this line: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-memsafety-realloc/array-realloc_true-valid-memsafety.c#L15
be `free(*pointer)`?

[2018-10-19 21:43] mchalupa commented on #610
Yes, it should. However, then there is still the double-free if I'm not wrong. Removing that line completely should fix the problem.

[2018-10-19 21:44] kfriedberger commented on #610
I will create a PR for this.

[2018-10-20 08:39] dbeyer commented on #610
@kfriedberger: Is this issue to be closed or is there a remaining issue?

[2018-10-20 09:34] #610 closed

[2018-10-20 11:05] mchalupa commented on #620
Actually, the only benchmarks from _Memsafety_ that have undefined functions are the ntdrivers one. The rest of the benchmarks are from _SoftwareSystems_ category. For busybox, we already have this issue: https://github.com/sosy-lab/sv-benchmarks/issues/526

[2018-10-20 11:19] zvonimir commented on #610
Wait, my original problem described in the first post in this issue was not addressed in the end.
Where is invalid dereference in this file:
https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-memsafety-realloc/array-realloc_false-valid-deref.c
I guess maybe I am missing something, but I still don't see it.

[2018-10-20 12:16] kfriedberger commented on #610
I would assume that realloc always suceeds and the double-free (in line 32: `free(a)`) is the problem here. Thus we might want to rename the task into `false-invalid-free`.

[2018-10-20 12:38] zvonimir commented on #610
I support renaming the task into `false-invalid-free`. That makes sense to me.

[2018-10-22 12:40] animeshbchowdhury opened #628 "Issue with Array-multidimensional benchmark"
Hi All,

The following benchmark seem to be false benchmarks, labelled as true.

URL :- https://github.com/sosy-lab/sv-benchmarks/blob/master/c/array-multidimensional/transpose-u_true-unreach-call.i

Here, 2D array C is initialized as transpose of array A. However, at the end it is checked whether entries of A are equals to C's or not.

[2018-10-22 12:42] animeshbchowdhury commented on #628
@VerifierIntegerAssignment Please comment.

[2018-10-22 12:47] VerifierIntegerAssignment commented on #628
__VERIFIER_assert(C[j][i] == A[i][j])

[2018-10-22 12:48] animeshbchowdhury commented on #628
__VERIFIER_assert(C[j][i] == A[i][j]) ?

[2018-10-22 12:51] #628 closed

[2018-10-22 16:15] danieldietsch commented on #618
Thank you @mchalupa -- I added your changes in https://github.com/ultimate-pa/sv-benchmarks/commit/4f3c20a640e0afe97ad787bf73a006b8f1c8be4e and will include them in the pull request.

[2018-10-23 11:16] mchalupa commented on #618
@danieldietsch : should I continue fixing the files with memsafety verdict? (I'm asking because I do not want to interfere with your commits).

[2018-10-23 11:55] danieldietsch commented on #618
There is only floppy_true-unreach-call_true-valid-memsafety.i.cil.c that has a memsafety verdict, right?
As far as I can see there are the functions `KeGetCurrentThread`, `KeSetPriorityThread`, `KfAcquireSpinLock` and `MmProbeAndLockPages` that need fixing.

If you fix them I will integrate it into the others and I can put them at the end of my queue.

[2018-10-23 12:41] dbeyer opened #633 "Memcleanup"
# Memcleanup

- In preparation of SV-COMP 2017, a bunch of programs were identified that are not leaking memory, i.e., they are `valid-memtrack`, but are keeping some allocated memory until the program ends. Property `memcleanup` was created for having verifiers detect this.

- The property `valid-memcleanup` cannot be a sub-property of `valid-memsafety` because the agreement is that at most one s

[2018-10-23 13:12] zvonimir opened #635 "Confused about list-ext3-properties/sll_shallow_copy_false-valid-memtrack.i"
Here is the whole benchmarks:
[code]
First of all, this line is weird and I am not sure if this was really the intention here:
[code]
Second, I think that the second free is invalid since it is freeing memory that was never allocated. No?

[2018-10-23 13:38] danieldietsch commented on #618
Nice, thank you. I integrated your changes in our branch at https://github.com/ultimate-pa/sv-benchmarks/commits/fix-618.

[2018-10-23 13:59] dbeyer commented on #633
@zvonimir, Could you please review pull request #634?

[2018-10-23 14:06] dbeyer commented on #635
Since the intention is `false-valid-memtrack`, I believe `*s = *(s->next);` is the 'wanted typo' and the `free(t)` should be removed.

[2018-10-23 14:07] dbeyer commented on #620
This is part of issue #613.

[2018-10-23 14:59] zvonimir commented on #633
Let's say we have a benchmark that violates both deref as well as memcleanup. And the violation of deref happens before the violation of memcleanup. What is a verifier supposed to do when it encounters this invalid deref? How should it proceed past it since the standard says it is undefined behavior?
I think these kinds of issues were there even when memory safety properties were discussed, which

[2018-10-23 15:10] mikhailramalho opened #636 "Issue with new array benchmarks"
Benchmarks introduced by PRs #605 may overflow signed integers:
[code]

[2018-10-23 15:22] dbeyer commented on #633
There are two different things:
* We said that in a `valid-memsafety` verification task we should have at most one violation.
  The reason for this is that according to the rules, the verifier has to spit out the actual invalid sub-property, and in order to be able to do this, we are restricted to one.
* Whenever a `false` for an undefined-behavior property (`valid-deref`, `valid-free`) occurs in

[2018-10-23 15:47] zvonimir commented on #633
Ok, makes sense. This resolves my concerns.

[2018-10-23 15:52] zvonimir commented on #635
Sure, that would resolve the issue. In that case the line `struct node* t = s->next;` can be removed too since `t` would not be used anywhere.
@emankcin given that you submitted this benchmark, could you comment on the proposed solution?

[2018-10-23 16:01] zvonimir commented on #633
I noticed that all benchmarks in this new category are labeled as `false`. Any particular reason why there are no `true` benchmarks?

[2018-10-23 16:08] zvonimir commented on #633
Oh, one more thing I just remembered. Given that the category structure now changed a little bit, can we assume that our verifier will be automatically enrolled in this new category?

[2018-10-23 16:34] dbeyer commented on #636
Could you please contribute a fix?

[2018-10-23 16:50] mikhailramalho commented on #636
Unfortunately, I can't until late next week.

If no one does it by then, I'll submit a PR.

Em ter, 23 de out de 2018 às 17:40, Dirk Beyer <notifications@github.com>
escreveu:

--

Mikhail Ramalho.

[2018-10-23 16:56] kfriedberger commented on #636
working on it. PR coming soon.

[2018-10-24 07:38] emankcin commented on #635
@zvonimir At the time I wrote the program, I mistakenly concluded that a possible false-valid-free result (detected at `free(t);`) would imply that the memory leak created by `*s = *(s->next);` was missed and the analysis has failed. Therefore I had not removed the lines `struct node* t = s->next;` and `free(t);`.
But after thinking about it again, I see my mistake now and agree with you that thes

[2018-10-24 09:02] mikhailramalho commented on #636
Thanks for the fix @kfriedberger! I'll close this issue when your PR gets merged.

[2018-10-24 13:38] danieldietsch commented on #618
Short update: We still have 19 functions left. I think we will finish this by the end of the week.

The remaining functions are
 * IoInitializeRemoveLockEx
 * IoReleaseRemoveLockAndWaitEx
 * IoReleaseRemoveLockEx
 * IoReportResourceUsage
 * KeInitializeDpc
 * KeInsertQueueDpc
 * KeQueryTickCount
 * KeQueryTimeIncrement
 * KeStallExecutionProcessor
 * KeSynchronizeExecution
 * ObfReferenceObject
 *

[2018-10-24 13:41] vlstill opened #640 "Unreasonably large stack variables in array benchmarks"
The `add-3-n-u_true-unreach-call` benchmark contains following variables:

[code]

This should allocate 30 GB of stack variables (1000 * 1500 * 1800 * `sizeof(int)` * 3 variables), which is absolutely unreasonable for stack variables as stack limit is in the range on megabytes (in particular, the default value is 8 MB on Linux. Therefore, the benchmark cannot pretend to be realistic and I suggest

[2018-10-24 15:06] #635 closed

[2018-10-24 16:32] PhilippWendler commented on #640
As the benchmark seems to be specifically about large arrays, maybe it is better to keep them large but allocate them on the heap instead?

[2018-10-25 08:51] vlstill commented on #640
@PhilippWendler, well, 30 GB (and 58 TB in case of `init-4-n-u_true-unreach-call`) does not seem very reasonable even for heap allocation to me. I can see that motivation for these benchmarks can be testing whether the verifier can reason symbolically about multidimensional arrays, and that for verifier which can, the size should not matter. However, I don't see much point in testing code which is

[2018-10-25 09:26] vlstill opened #642 "Floating point division by zero in float-newlib tasks (undefined behaviour)"
The following tasks in `float-newlib` contain deliberate floating-point division by zero:

[code]

While float division by zero yields `NaN` on many implementation with IEEE 754 floating point numbers, it is an undefined behaviour according to C11/C99:

second; the result of the % operator is the remainder. In both operations, if the value of
the second operand is zero, the behavior is undefined.

[2018-10-26 13:06] mikhailramalho opened #645 "float-benchs/inv_Newton_false-unreach-call.c.p+cfa-reducer.c verdict?"
Are we sure that this program is unsafe? I've verified it with a couple of different tools and I couldn't find any cex. Some BMCs I've tried can't find any violation up to 10000 unrollings.

Does anyone have a witness for this program? It'd be helpful to check if our encoding is somehow buggy.

[2018-10-27 13:36] vlstill commented on #642
@dbeyer, would it please be possible to clarify this officially? I can see @danieldietsch's point, but it would be good to have it specified on the SV-COMP website.

[2018-10-27 18:51] zvonimir opened #648 "Mislabeled benchmark list_search_false-unreach-call_false-valid-memcleanup.i"
It is not clear to me how this benchmark is violating memcleanup. To me it seems it properly deallocates allocated memory before it returns. Maybe I do not properly understand memcleanup.
Could someone please take a look? Thanks!

[2018-10-27 23:47] #618 closed

[2018-10-27 23:51] dbeyer commented on #618
@danieldietsch: PR #646 is merged already.  Thank you and @mchalupa. Could you please start a new PR for the remaining files and refer to it as a continuation of PR #646?

[2018-10-28 00:54] yinliangze opened #649 "Mislabeled concurrency benchmarks of triangular*_true-unreach-call.i in the pthread directory"
The three concurrency benchmarks of triangular*_true-unreach-call.i in the pthread directory should be false. For example, for the triangular_true-unreach-call.i example, it is obvious that both i and j can be much large. Actually, they may even exceed the scope of int. Hence, the condition "if (i > 91 || j > 91)" can be true, and the property can be false.
Moreover, for triangular-longest_true-un

[2018-10-28 04:29] yinliangze opened #650 "Mistakes on the concurrency benchmarks nondet-array_*-unreach-call.i in the pthread-nondet directory"
In the concurrency benchmark nondet-array_false-unreach-call.i, I think the "__VERIFIER_assert(sum == 10 - 1);" statement should be "__VERIFIER_assert(sum == 10);", or more accurately "__VERIFIER_assert(sum == n);", though the label "false" is correct.
In the concurrency benchmark nondet-array_true-unreach-call.i, I think the "__VERIFIER_assert(sum < 10);" statement should be "__VERIFIER_assert(su

[2018-10-28 07:44] danieldietsch commented on #618
@dbeyer ntdrivers should be complete with PR #646 -- or do you found something missing?

[2018-10-28 07:46] dbeyer commented on #618
Oh, you mean

is outdated?
Awesome.

[2018-10-29 05:42] PhilippWendler commented on #645
This task was created from `float-benchs/inv_Newton_false-unreach-call.c`, which is unsafe as discussed in #442. Is the counterexample from #442 (or a modified version) also a counterexample for this modified program?

[2018-10-29 22:23] zvonimir commented on #648
Disregard this issue. My confusion has been clarified in pull request #647. This benchmarks should indeed be false since it does not clean up memory before hitting `__VERIFIER_error`.

[2018-10-29 22:23] #648 closed

[2018-10-30 10:06] mikhailramalho commented on #645
No luck, it's running since yesterday but we couldn't produce a witness for the original `float-benchs/inv_Newton_false-unreach-call.c`.

Apparently CPA does find a property violation but the witness does not show the value of the assignment. @Eiram can you provide a witness?

[2018-10-30 19:10] #649 closed

[2018-11-01 18:59] dbeyer opened #655 "__VERIFIER_error() should be implemented and removed from the rules"
In order to correctly verify a program, the verifier needs to implement the SV-COMP rule that __VERIFIER_error terminates.

Let's simplify by implementing the function.

[2018-11-02 07:20] zvonimir opened #657 "Concurrency benchmarks with data races"
Data races are undefined behavior (as far as I know) and hence our benchmarks should not contain them.
I think that all `pthread/triangular*` benchmarks contain data races (on globals `i` and `j`), and hence also undefined behavior. This should be addressed somehow.

[2018-11-02 12:09] kfriedberger commented on #657
I do not see any bigger problem with these new benchmarks than with existing ones like `fib_bench*`. I also do not like data races in general, but my assumption about all existing benchmark files was that each statement in the code is kind of atomic, i.e. no interleaving execution of threads happens for single statements.
Additionally witnesses are currently statement-based and would maybe not all

[2018-11-02 12:44] zvonimir commented on #657
Well, the fact that other benchmarks have the same problem, meaning contain data races (undefined behavior), does not mean we should not fix at least these to start with (and hopefully all of them eventually). I think that our unofficial agreement was that our goal is to monotonically (hopefully) move towards having less and less undefined behaviors in our benchmarks, as we go along.

The assumpti

[2018-11-02 12:51] dbeyer commented on #657
There is __VERIFIER_atomic_begin() and __VERIFIER_atomic_end() already in the rules for such cases.

[2018-11-02 12:51] dbeyer commented on #657
If you can fix this, please go ahead.  That would be great.

[2018-11-02 12:52] kfriedberger commented on #657
I do not know whether SVCOMP rules specify something like weak memory model (TSO,PSO,...) for the benchmarks.
For the mentioned files `fib_bench*` or `triangular*` I would suggest to add the lock/unlock pattern for the loop bodies. However, i have no overview whether all the other tasks already fulfill this requirement.

I will create a PR for these tasks.

[2018-11-02 15:25] #657 closed, assigned to kfriedberger

[2018-11-10 16:29] VerifierIntegerAssignment commented on #628
Hi, can you please review the changes and add your comments in the following thread.

https://github.com/sosy-lab/sv-benchmarks/pull/662#issuecomment-437595306

[2018-11-10 17:12] animeshbchowdhury commented on #628
Done. Thanks for the update.

Best Regards,
Animesh Basak Chowdhury

On Sat, Nov 10, 2018 at 9:59 PM PRITOM RAJKHOWA <notifications@github.com>
wrote:

--
Thanks and Regards,

Animesh Basak Chowdhury
Researcher, V&V Group
TATA Research Development and Design Centre (TRDDC),
Hadapsar Industrial Estate, Hadapsar,
Pune, Maharashtra - 411013, INDIA
Phone No. - +91 8902756992
Email - animeshbchowdhury@

[2018-11-10 17:14] VerifierIntegerAssignment commented on #628
Thanks a lot, Animesh

-Pritom

[2018-11-10 17:41] VerifierIntegerAssignment commented on #628
Thanks a lot. I have requested them also to review the changes.

[2018-11-12 01:35] omainv commented on #650
Indeed the file nondet-array_true-unreach-call.i is wrongly categorised. The file should be recategorised, or the assert as the bottom should be changed to (sum <= n) instead of (sum < n), as correctly suggested above.

The file nondet-array_false-unreach-call.i is already correctly categorised.

[2018-11-14 14:02] xvitovs1 opened #668 "Wrong label for termination benchmark?"
I believe this benchmark has a wrong label for termination:
[code]
I think it can get stuck on line [18](https://github.com/sosy-lab/sv-benchmarks/blob/dbfadc601ab08a947d1437ab92f8354a75756b54/c/loop-invgen/string_concat-noarr_true-unreach-call_true-termination.i#L18) since `i` can become greater than 100 due to the preceding loop.

Can somebody have a look on the benchmark and possibly confirm th

[2018-11-14 14:07] kfriedberger commented on #668
I confirm the loop. The path into the loop is obvious.

@xvitovs1 Could you provide a pull-request where this task is renamed?

[2018-11-15 14:03] PhilippWendler opened #675 "Incompatible assignment in busybox-1.22.0/stty"
The problematic line is the following:
https://github.com/sosy-lab/sv-benchmarks/blob/2a6c3e6ff4503770466f3f98ef0c609dbb3b2df6/c/busybox-1.22.0/stty_false-unreach-call_true-no-overflow_true-valid-memsafety.c#L1408
Such a line occurs in all `busybox-1.22.0/stty*` files.

This assigns a `const char *` to a `const unsigned char *`.

§6.5.16.1 of C11 requires for assignment of pointers that the pointe

[2018-11-15 14:55] animeshbchowdhury opened #677 "[Help Wanted] : Understanding false no-overflow benchmarks"
Hi,

I have gone through the following three no-overflow benchmarks -
1) bitvector/gcd_1_true-unreach-call_true-no-overflow.i
2) bitvector/gcd_2_true-unreach-call_true-no-overflow.i
3) bitvector/gcd_3_true-unreach-call_true-no-overflow.i

The code is somewhat like this

` signed char gcd (char x, char y)
 {
    if(x < 0) x = -x ;
    if(y < 0) y = -y ;
...
}

int main()
{
   char x = nondet_char()

[2018-11-15 15:19] lembergerth commented on #677
Hi Animesh,

I think it is.

Regards,
Thomas

[2018-11-15 15:44] animeshbchowdhury commented on #677
Below is this program -

bitvector/gcd_1_true-unreach-call_true-no-overflow.i

`extern char __VERIFIER_nondet_char(void);
void __VERIFIER_assert(int cond) {
  if (!(cond)) {
    ERROR: __VERIFIER_error();
  }
  return;
}
signed char gcd_test(signed char a, signed char b)
{
    signed char t;

    if (a < 0) a = -a;
    if (b < 0) b = -b;

    while (b != 0) {
        t = b;
        b = a % b;

[2018-11-16 10:41] PhilippWendler commented on #375
All files matching `*memtrack*.i` are now part of a category, so I guess this can be closed?

[2018-11-16 13:53] PhilippWendler commented on #633
Should this be closed?

[2018-11-16 14:05] dbeyer commented on #633
Yes.

[2018-11-16 14:05] #633 closed

[2018-11-16 14:06] dbeyer commented on #633
I had changed the benchmark definitions in commit https://github.com/sosy-lab/sv-comp/commit/9b16f76b6023a94a78b517daa793cc1be0c38b45

[2018-11-16 15:22] dbeyer commented on #375
Yes, thanks for checking.

[2018-11-16 15:22] #375 closed

[2018-11-16 15:30] #675 closed

[2018-11-17 09:00] animeshbchowdhury commented on #677
Hi @dbeyer

Can you please review this example ? With the values provided?

[2018-11-19 14:22] animeshbchowdhury opened #693 "[Issue with benchmark] loop-floats-scientific-comp/loop4_true-unreach-call.c verdict"
Hi,

I am getting a counterexample for which __VERIFIER_error is reachable in the program  loop-floats-scientific-comp/loop4_true-unreach-call.c. The violation witness is also validated by CPAchecker.

Is anyone else facing the same issue ?

Regards,
Animesh Basak Chowdhury

[loop4_true-unreach-call.zip](https://github.com/sosy-lab/sv-benchmarks/files/2595621/loop4_true-unreach-call.zip)

[2018-11-19 15:11] kfriedberger commented on #693
CPAchecker cannot handle SIN and COS and simply ignores these functioncalls (when used as validator).
Thus I would not trust CPAchecker as a validator for this task. :-)

[2018-11-19 18:43] #650 closed

[2018-11-22 07:36] animeshbchowdhury commented on #693
Basically what I understand from the knowledge of trigonometric transformations , here angleInRadian should be in range of (-pi,pi). Now, sin(angleInRadian + 2*pi) is simply equals to sin(angleInRadian). Similarly, cos(angleInRadian + pi/2) equals - sin(angleInRadian). Now, when angleInRadian is pi/2, i.e. x = 90, then sum2 = sin(pi/2) = 1, and sum1 = -sin(pi/2) = -1. Difference of sum2 and sum1 =

[2018-11-22 07:46] animeshbchowdhury commented on #693
Also, looks like the logic written in comment section is not matching the implementation too. The Author says sin(x+2pi) and cos(x+pi) are in same phase, which is correct. However, in calculation of sum1, cos(angleInRadian+phaseLag) has been written. If it had been sum1 = sum1 + cos(angleInRadian+phaseLead), the benchmark would have been true.
@tautschnig Let me know, if this explanation is okay.

[2018-11-22 14:52] tautschnig commented on #693
@animeshbchowdhury I'm not sure why it would be my call, but I certainly do appreciate all your work on this! I think we just need a pull request relabelling the benchmark.

[2018-11-23 13:46] zvonimir commented on #693
Coming back to this. As far as I know, trigonometric functions are not specified in the IEEE floating-point standard, and libraries choose to implement them differently, meaing that different implementations in various standard C libraries (e.g., GNU C, LLVM, Intel) might produce different floating-point errors.
So what are we supposed to assume about sin and cos in this example? Are we supposed t

[2018-11-23 15:43] animeshbchowdhury commented on #693
I think there is a need to raise the issue which @zvonimir  has mentioned amongst SVCOMP jury members to come to  a unanimous decision.

I have taken GNU C implementation of sin and cos, but again there can be different implementations of such functions in other standard C libraries.

[2018-11-24 09:43] dbeyer commented on #645
I had a look at the most recent results bu CPA-Seq and saw that it finds an error,
and the result is confirmed by all four witness validators.
Have a look at this table:
https://sv-comp.sosy-lab.org/2019/results/results-verified/cpa-seq.2018-11-22_2113.results.sv-comp19_prop-reachsafety.ReachSafety-Floats.xml.bz2.merged.xml.bz2.table.html

[2018-11-24 09:45] dbeyer commented on #645
@mikhailramalho: Please re-open in case of doubt.  Otherwise I assume this is solved.

[2018-11-24 10:06] dbeyer commented on #668
@xvitovs1 @kfriedberger Is this issue solved?  If yes, please close.

[2018-11-24 10:10] dbeyer commented on #642
@danieldietsch @vlstill Could you please suggest a wording for the web site?
Maybe where I talk about C put `(incl. appendix F)` after it?

[2018-11-24 11:38] #668 closed

[2018-11-24 12:43] PhilippWendler commented on #693
We should use the GNU C implementation if no standard semantics are defined. The [README](https://github.com/sosy-lab/sv-benchmarks/blob/0771b61a7e21953592659096d6958effd01db4c3/README.md#structure) also mentions GNU C.

[2018-11-24 16:53] animeshbchowdhury commented on #693
Thanks @PhilippWendler . Created a PR #708 to appropriately label the benchmark as false.

[2018-11-24 16:55] animeshbchowdhury commented on #677
@kfriedberger Can you please review this issue of no-overflow benchmark ?

[2018-11-24 18:07] mikhailramalho commented on #645
Dirk, check the table you just sent again.

CPA is the only tool validating the witness. I ran CPA again and the witness it generates have no concrete value replacing the nondet calls. All nondeterministic assignments are still there. I'm not sure we can even call it a witness.

CPA-witness2test even complains about the non-deterministic assignments:
[code]

fshell (somehow) builds and executes th

[2018-11-24 18:15] zvonimir commented on #693
The implementation in GNU C is system-dependent. I presume it uses inlined assembly and such, which varies depending on for which processor the code is compiled.
So could someone point me exactly to the implementation we should assume for sin and cos?
Otherwise, I don't see how we can label this benchmark as true or false.

[2018-11-24 18:48] dbeyer commented on #645
Hi @mikhailramalho,

* It is not required for a witness to have concrete values.
* The two witnes2test results validators are conceptually limited to witnesses with concrete values.
  If there are abstract error paths in the witness, then they are unable to re-play it.
* The first two bullet points are bug reports to the SV-COMP organizer since you are saying that the tables seem to have a problem

[2018-11-24 18:51] dbeyer commented on #645
Reopening in case there are issues with this verification task.

[2018-11-24 19:52] kfriedberger commented on #677
@MartinSpiessl :
Overflows might be your your topic :-)
I assume at least a relabelling of the task is needed.
Could you provide a fix for the program, such that the reachability property is not influenced by the overflow?

[2018-11-25 00:34] MartinSpiessl commented on #677
As far as I can tell there is no overflow here because of the usual integer promotion, c.f. section 6.5.3.3 sentence 3 of the C11 standard (this did not change in C18):

promotions are performed on the operand, and the result has the promoted type.

Integer promotion for the signed char x will lead to x being converted to int before negation.
The result is then converted to the lhs type, which is

[2018-11-25 05:31] animeshbchowdhury commented on #677
Thanks @MartinSpiessl  for the clarification and for the interesting reads.

Best Regards,
Animesh

[2018-11-25 05:31] #677 closed

[2018-11-25 14:40] mikhailramalho opened #711 "Issues with programs in pthread-memsafety/"
The following programs are wrong/mislabelled:
[code]

Contains an invalid pointer access in line 19, if the variable `a` is freed (line 57) before the threads are executed.

This is basically the same code in program `fillarray_false-valid-deref.c` but with some extra global variables.
[code]
On top of the invalid deref, the program leaks memory if thread `delete` finishes before thread `build`.

[2018-11-25 15:48] peterschrammel commented on #693
As @zvonimir is poining out GNU libm is platform dependent: https://www.gnu.org/software/libc/manual/html_node/Errors-in-Math-Functions.html#Errors-in-Math-Functions

Alternatives are:
* fdlibm: https://www.netlib.org/fdlibm/readme, also used by the JDK
* openlibm: https://github.com/JuliaMath/openlibm, which claims to be platform independent
* crlibm: https://www.swmath.org/software/12390, which

[2018-11-25 18:10] tautschnig commented on #693
Isn't the specific benchmark false for _any_ implementation? As discussed elsewhere, it might be best to exclude benchmarks using trigonometric functions. For the particular benchmark in question, however, it seems irrelevant even?

[2018-11-25 18:35] zvonimir commented on #693
I don't think that's true of any implementation, since maybe you could have weird implementations of sin and cos that do not obey any of the rules we might expect of them. It might be true of any reasonable implementation I guess.
When I read what the documentation says for e.g. sin it is just "implements sin function" but nothing is said about floating-point errors. That to me means that even a d

[2018-11-25 19:03] zvonimir commented on #693
Oh, and now the discussion is split between the mailing list and github. We should probably pick one and stick with it.

[2018-11-26 07:04] #645 closed

[2018-11-26 07:35] raveenkm commented on #677
@MartinSpiessl "We generally consider this implementation-defined behaviour to be ok" -- Does this mean it is not overflowing definitely or is this an generally accepted to be ok for SV-COMP. I understand that all compiler vendors do not agree on this promotion as per footnote in Table 1 of https://dl.acm.org/citation.cfm?id=2743019.

[2018-11-26 08:26] kfriedberger opened #712 "pointer assignment of `signed char` to `unsigned char`"
https://github.com/sosy-lab/sv-benchmarks/blob/bf9fc2993701b5817ef3421911642a0e4adbea9a/c/busybox-1.22.0/uudecode_true-no-overflow_true-valid-memsafety.i#L3460

issue with identical problem: #675

[2018-11-26 10:27] #712 closed, assigned to nobody

[2018-11-26 14:02] dbeyer opened #717 "Undefined functions in category DeviceDriversLinux64"
There is a bunch of pull requests related to the category DeviceDriversLinux64
in order to fix the Thessaloniki issue #613.
Those large-scale changes should be discussed and reviewed centrally in
this issue here on undefined functions in the device drivers.

[2018-11-26 15:39] xvitovs1 opened #720 "Undefined behavior in termination-memory-linkedlists"
I believe there can be signed integer underflow in [termination-memory-linkedlists/cll_by_lseg-alloca_false-termination.c.i](https://sv-comp.sosy-lab.org/2019/results/sv-benchmarks/c/termination-memory-linkedlists/cll_by_lseg-alloca_false-termination.c.i).  In `main` 0 is passed as `n` to `new_cll`, hence -1 is passed to `new_lseg` as `n` which is recursively called with  `n = n - 1`. As there is

[2018-11-26 22:15] MartinSpiessl commented on #677
[Link to the paper (filetype:pdf)](https://pdfs.semanticscholar.org/ce98/eea75f56e3f0244b3c5593495992cc946d36.pdf)
I guess you refer to this expression from Table I:

    char c = CHAR_MAX; c++

Here the authors state in footnote 1:

If so, the behavior is well-defined. We found disagreement
between compiler vendors’ implementations of this construct.

Now to your question:

Depending on your inte

[2018-11-27 06:45] raveenkm commented on #677
@MartinSpiessl Thank you for the reply. It gave me a greater clarity on this topic. We would try to modify our approach based on this improved understanding.

[2018-11-27 12:57] dbeyer commented on #640
I am ok with @vlstill's proposal.

[2018-11-27 12:57] dbeyer commented on #636
@mikhailramalho ?

[2018-11-27 15:12] mikhailramalho commented on #636
I forgot to close the issue! Fixed by PR #605.

[2018-11-27 15:12] #636 closed

[2018-11-27 18:39] dbeyer commented on #645
Witnesses for this program are available here:
https://sv-comp.sosy-lab.org/inspect.php?programSHA256=451833cfeb9a91cb88db0a9e531732bed164c6317c0bf36d0024f662e65c42e7

[2018-11-27 22:33] tautschnig opened #734 "Files wrongly preprocessed on 64bit systems"
I do not have a complete picture of this just yet, but it seems that several files for categories that use 32-bit configurations have been preprocessed in a 64-bit environment. This results in typedefs such as

`typedef signed long int __int64_t`

as found, e.g., in list-ext-properties/test-0019_1_false-valid-memtrack_true-termination.i. (There are more such cases.) This may or may not be a proble

[2018-11-28 05:31] PhilippWendler commented on #734
Duplicate of #121? (`list-ext-properties` is listed as unfinished there.)

[2018-11-28 07:58] tautschnig commented on #734
Indeed this is #121.

[2018-11-28 07:58] #734 closed

[2018-11-28 09:24] xvitovs1 opened #735 "Invalid dereference in loops termination benchmark"
There can be an invalid dereference in benchmark [loops/verisec_OpenSER__cases1_stripFullBoth_arr_false-unreach-call_true-termination.i](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/loops/verisec_OpenSER__cases1_stripFullBoth_arr_false-unreach-call_true-termination.i) on line [61](https://github.com/sosy-lab/sv-benchmarks/blob/15b5d973979ad445f45dde28dd9c46deb14542ef/c/loops/verisec_Ope

[2018-11-28 10:09] danieldietsch commented on #735
Note: this is a sideeffect from the conversion of ``r_strncpy`` from an undefined function to the actual function.

[2018-11-28 13:17] tautschnig commented on #526
This should now be fixed in #737.

[2018-11-28 19:12] tautschnig commented on #121
If anyone has Ubuntu 16.04 at hand, running the below script should hopefully yield the most reasonable diff. Neither 14.04 nor 18.04 seemed like the best candidates.
[code]

Or maybe we should just finally get rid of preprocessed files altogether.

[2018-11-29 08:07] dbeyer commented on #717
Finished.

[2018-11-29 08:07] #717 closed

[2018-11-29 08:08] dbeyer commented on #711
@mikhailramalho Is this solved by the merged pull request?

[2018-11-29 12:49] mchalupa commented on #526
I guess this can be closed after merging #737?

[2018-11-29 13:36] tautschnig commented on #526
@mchalupa I would like to think so, but @dbeyer seemed to suggest otherwise on that PR.

[2018-11-29 14:07] mikhailramalho commented on #711
Yes, fixed by PR #730.

[2018-11-29 14:07] #711 closed

[2018-12-01 16:59] tautschnig opened #742 "PR#644 modified the preprocessed file, but not the original source"
In #644, a change to a preprocessed file has been added, while the original source file was left untouched. Any re-preprocessing of the source thus reverts #644.

[2018-12-02 21:33] tautschnig commented on #121
@kfriedberger Thanks, I'll try to set up a machine with one of those.

[2018-12-03 09:41] tautschnig commented on #121
I have tried both Ubuntu 12.04 and Arch Linux (though a very recent one for the latter), and neither provide particularly good results. I'll now simply go for Ubuntu 18.04 as it is no worse than the others and matches the competition environment.

[2018-12-03 10:19] xvitovs1 commented on #720
@dbeyer I am not sure how to fix this issue. Can somebody have a look at this benchmark, please?

[2018-12-03 10:34] tautschnig commented on #526
I have now run CPAchecker and it reports the following list of undefined functions:
[code]
Here is where some of those are defined:

| Function | Section in ISO/IEC 9899:1999 ("C99") |
|---------|---------|
| `ctime` | 7.23.3.2 |
| `setjmp` | 7.13.1.1 |
| `strftime` | 7.23.3.5 |
| `localtime` | 7.23.3.4 |
| `mktime` | 7.23.2.3 |
| `time` | 7.23.2.4 |
| `longjmp` | 7.13.2.1 |

I will now add models

[2018-12-03 12:13] mchalupa commented on #526
`strchrnul` and `strverscmp` are GNU extensions, so they can stay undefined, right?

[2018-12-03 20:05] #526 closed

[2018-12-08 16:15] tautschnig commented on #121
I believe #765 finally fixes this problem for all remaining folders.

[2018-12-13 16:13] PhilippWendler opened #767 "Semantics of __VERIFIER_nondet_pointer"
Currently the semantics of `__VERIFIER_nondet_pointer` are not fully clear.

Open questions:
- Does this method potentially allocate new memory?
- Can resulting pointers be passed to `free`?

It was discussed (#745, #750) whether `__VERIFIER_nondet_pointer` could be completely replaced by calls to other functions like `__VERIFIER_nondet_ulong`, but there are problems with that:
- Size of pointer i

[2018-12-13 19:21] tautschnig commented on #767
Some questions/challenges to drive discussion:

If yes, how much? And reading such allocated memory (without a preceding write) defined behaviour?

See http://www.unix.org/version2/whatsnew/lp64_wp.html for some standardized configurations. And only LP64 and ILP32 are what SV-COMP supports as the 64/32-bit configurations. If that were to change (e.g., introducing LLP64), then several CIL-preproces

[2018-12-15 10:01] PhilippWendler commented on #767
Good question. If we can find a meaningful and consistent definition of "valid at point of use", I would prefer this. My understanding of the motivation for using `__VERIFIER_nondet_pointer` when preparing a verification task is that it is for situations like "here we need a pointer value and we don't know exactly what the program is going to do with it, but it is not related to the property being

[2018-12-15 11:49] tautschnig commented on #767
I believe this boils down to the [on-demand memory](https://docs.google.com/document/d/1T2j3asG6wl1FM28JXGTmrri8nbnDMdPUVtCB0ZMBK4Q/edit) that @mutilin has been pushing for. It seems nice, but is possibly very difficult to implement in verifiers.

[2019-01-24 15:56] ccadar opened #781 "fo_test.i: call to read() with nondet FD"
Benchmark `c/ldv-regression/fo_test.i` has the following sequence of calls:
`int file = l_open("unknown",00);` where `l_open` eventually returns `__VERIFIER_nondet_int()`
...
`int a = l_read(file,cbuf,99);` where `l_read` calls `read(file, ...)`

But `read` is not defined in the file.  This looks to me like an invalid benchmark for Test-Comp, no?  I assume `read` should be defined in the file, sim

[2019-01-24 16:09] ccadar opened #782 "Calls to string functions that are not defined"
Several benchmarks have calls to string functions that are not defined in the benchmark files.  For instance, the following benchmarks have calls to `strcpy` without defining it:

`c/ldv-linux-3.4-simple/32_1_cilled_ok_nondet_linux-3.4-32_1-drivers--acpi--fan.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.i`
`c/ldv-linux-3.4-simple/32_1_cilled_ok_nondet_linux-3.4-32_1-drivers--platform-

[2019-01-24 17:22] ccadar commented on #782
Thanks, @zvonimir .  I don't see this in the Test-Comp rules.  Just curious, where is this mentioned in the SV-COMP rules?  I grepped for "library" and "standard" in https://sv-comp.sosy-lab.org/2019/rules.php but couldn't find anything.

[2019-01-24 17:33] ccadar commented on #767
We (cc: @MartinNowack)  were also confused by the semantics of `__VERIFIER_nondet_pointer`, which doesn't seem to be explained anywhere.  We noticed that the LDV Linux benchmarks use it to implement `kzalloc`, which is strange, as the size passed to kzalloc is ignored, but then later on the benchmark assumes that kzalloc returned a valid object of that size.
[code]

[2019-01-24 17:36] ccadar commented on #767
Also, replacing `__VERIFIER_nondet_pointer` by `__VERIFIER_nondet_ulong` would clearly not solve the issue with the benchmarks.

[2019-01-24 18:39] zvonimir commented on #782
I guess that would be institutional knowledge that is probably not really specified anywhere in the rules. In my experience, there are quite a few things like that that you (hopefully) learn as you go along. Maybe others have better suggestions.

[2019-01-24 20:15] ccadar commented on #782
:) I think it would be really useful to spell these things out, to make it easier for others to get involved.  Perhaps such discussions are a good time to update the documentation and rules.

[2019-02-01 22:42] ccadar commented on #781
@lembergerth , @dbeyer has anyone looked at this?   I think this benchmark needs to be removed from Test-Comp.

[2019-02-02 00:15] lembergerth commented on #781
Sorry for the delay.
`read` is part of the standard libraries, so a definition should not be required for the program to be valid.
(I guess if we try to establish the rule that **all** methods must be defined within a benchmark task, we will restrict the current and future benchmark set quite a bit)

At program execution, `read` will get an arbitrary integer as file-descriptor argument and consequ

[2019-02-06 15:59] MartinSpiessl opened #792 "Wrong overflow labels in some tasks due to switch to yml"
Due to the switch to the new yml format, some tasks were labeled with `true-no-overflow` despite the fact that there are overflows in them. Those that the integration tests of CPAchecker found are all in the folder `bitvector`:

~s3_clnt_1_false-unreach-call_true-no-overflow.BV.c.cil.yml~
~s3_clnt_1_true-unreach-call_true-no-overflow.BV.c.cil.yml~
~s3_clnt_2_false-unreach-call_true-no-overflow.BV.

[2019-02-11 06:02] PhilippWendler commented on #792
Neither files named `s3_clnt_1_false-unreach-call_true-no-overflow.BV.c.cil.yml` nor `soft_float_1.c.cil.yml` do not exist in this repository?

[2019-02-11 08:24] MartinSpiessl commented on #792
Thanks for the hint, I was looking at an old revision of the repo. I updated the issue description to refer to the current version of the files, and rechecked the examples I looked at. Still the same issue.

[2019-02-11 09:23] PhilippWendler commented on #792
`s3_clnt_1.BV.c.cil-1.yml` refers to `s3_clnt_1.BV.c.cil-1.c`, which was renamed in 36898a735c5fb9bc0c43d3556dd09cd05969f1ef from `s3_clnt_1_true-unreach-call_true-no-overflow.BV.c.cil.c`.

`soft_float_1-2.c.cil.yml` was added by @ccadar after the switch to task-definition files.

Why do you think that the reason for the wrong labels is the switch to task-definition files?

[2019-02-11 12:26] MartinSpiessl commented on #792
The tasks showed up as wrong `false(no_overflow)` results in the integration tests from December 27th 2018. This was the first run where the new task-definition files were used.

By switching to the new definition, we apparently added a expected verdict `true` regarding `no-overflow.prp` for many tasks. To be clear, the overflows were probably there (a long time) before, it is just that now we hav

[2019-02-11 12:41] PhilippWendler commented on #792
Ok, so accidentally we have now more tasks in categories like `No-Overflows.set` than before, but I think this is good and should not be reverted. @dbeyer?

[2019-03-05 17:24] dbeyer opened #794 "Naming of Categories / Missing Subcategory"
Changes required for consistency:

* `Systems` should be `SoftwareSystems`
* Separators should be hyphens, not underscores

[2019-03-05 17:28] dbeyer commented on #794
`MemSafety-TerminCrafted.set` was not used in SV-COMP 2019. Should be included in future.

[2019-03-06 07:44] dbeyer opened #796 "Include more non-linear programs"
E.g., from https://bitbucket.org/nguyenthanhvuh/digbench/wiki/NLA

[2019-04-06 12:37] tautschnig commented on #767
Bumping this issue as we didn't find time to discuss it during today's SV-COMP meeting. Could people please voice ways forward, or should we just get rid of `__VERIFIER_nondet_pointer` as proposed? If there is no further input I will create a first pull request that proposes a new task with two opposite outcomes so as to force a decision.

[2019-04-06 22:43] mutilin commented on #767
@tautschnig
Michael, as  @ccadar wrote, renaming nondet pointer to ulong will not help to resolve undefined behavoiur.
I have two proposals:
1) For each function where we find undefined behaviour we provide an implementation, instead of just having a call to nondet_pointer. The implementations may be inferred automatically, if one has a solution (note, that all Linux kernel sources are open) or we

[2019-04-06 22:49] mutilin commented on #767
I think this should be fixed, but in a separate issue

[2019-04-07 21:34] tautschnig commented on #767
Indeed, but it would turn _unknown_ behaviour into _undefined behaviour_, which at this point I consider an improvement. We have achieved the same for functions-without-definition, so let's get this one resolved as well.

It may be worth revisiting #741, but I insist that we aren't even in a position to talk about _undefined behaviour_ until someone either presents a semantics of `__VERIFIER_nonde

[2019-04-08 21:12] ccadar commented on #767
@tautschnig @mutilin Thanks for reviving this.  My concern with replacing all uses with `nondet_ulong` is that it might be even trickier later to understand what the benchmarks meant to do.  So I wonder if the right way is not to fix groups of similar benchmarks, e.g., by replacing `nondet_pointer` in `kzalloc` with a corresponding `malloc`.

[2019-07-24 09:27] MartinSpiessl commented on #792
I just rediscovered the wrongly labeled files in the integration tests and wanted to create an issue here. Seems like I already did that and since forgot about it. **The wrong overflow verdicts are still not fixed, so this needs to be done for the next SV-COMP.**
It is clear to me that more tasks in `No-Overflows.set` is the way to go. The problem was that they were accidentally excluded, they sho

[2019-07-24 13:16] PhilippWendler commented on #792
Ok, can you file a PR that changes the expected verdicts?

[2019-07-24 14:42] MartinSpiessl commented on #792
I delegated this to our working student (priority low) and will do it myself in case it is not done when the preruns start/task freezing is close.

[2019-08-28 06:24] PhilippWendler opened #812 "Contribution guidelines outdated"
The [contribution guidelines](https://github.com/sosy-lab/sv-benchmarks/blob/master/CONTRIBUTING.md) still do not mention task-definition files and instead tell to encode the expected result in the file name. This has to be updated.

The [pull request template](https://github.com/sosy-lab/sv-benchmarks/blob/master/.github/PULL_REQUEST_TEMPLATE) also needs to be updated.

[2019-09-10 11:57] MartinSpiessl opened #813 "Tasks from PR #808 contain undefined behavior"
At least some of the tasks added in PR #808 contain overflows of signed integer variables, i.e. undefined behavior. Examples are [`divbin.c` in line 30](https://github.com/sosy-lab/sv-benchmarks/blob/ea7880ba32cb1c3c5a6276a29ded8efe29194a06/c/nla-digbench/divbin.c#L30)(multiplication of nondeterminisic signed integer with factor 2) and [`lcm1.c` in line 31](https://github.com/sosy-lab/sv-benchmark

[2019-09-10 11:59] MartinSpiessl commented on #792
This can be closed after PR #810 is merged

[2019-09-20 17:47] kfriedberger opened #814 "Update documentation about properties in filenames"
With the new yml format for task description there is no longer a need for complex filenames.
We need to update the documentation accordingly:
https://github.com/sosy-lab/sv-benchmarks/blob/master/CONTRIBUTING.md#properties
Additionally, the merge-request template should be updated for this.

[2019-09-21 07:24] #561 closed

[2019-09-23 04:55] PhilippWendler commented on #814
Duplicate of #812.

[2019-09-23 04:55] #814 closed

[2019-09-23 17:10] dbeyer commented on #796
This was addressed by pull request #808 and this issue can be closed.

[2019-09-23 17:10] #796 closed

[2019-09-27 13:34] gernst opened #818 "New function __VERIFIER_base_pointer"
It would be nice to include a new function into the benchmark rules

    void *__VERIFIER_base_pointer(void *ptr);

that denotes the base pointer of an object, similarly to [__CPROVER_POINTER_OFFSET]
(http://www.cprover.org/cprover-manual/api/) as supported by CBMC.

Example:

    int *a[N];
    unsigned i;
    __VERIFIER_assume(0 <= i && i < N);
    assert(__VERIFIER_base_pointer(a + i) == a);

T

[2019-10-02 08:25] dbeyer opened #819 "Category Structure for SV-COMP 2020"
How to best integrate new benchmark sets:

- #798 OpenBSD: Own sub-category or part of existing sub-category?
- #803 VerifyThis: Recursive examples have heap manipulation, move there?
- #817 AWS C Common
- #808 Programs with nonlinear properties
- Split DeviceDrivers into small (<10 kLOC), medium (<100 kLOC), large (>=100 kLOC)
  Add ldv-challenges to the category of large driver tasks.
- Juliet

[2019-10-10 02:49] nguyenthanhvuh commented on #813
Hi @MartinSpiessl, thanks for checking these overflow problems.  I am not sure how to fix them.  For example, https://github.com/sosy-lab/sv-benchmarks/blob/ea7880ba32cb1c3c5a6276a29ded8efe29194a06/c/nla-digbench/divbin.c#L30
Suggestion ?

[2019-10-10 07:12] MartinSpiessl commented on #813
There are two possible approaches:

1. limit the range of values for the variables with `__VERIFIER_assume`
2. change variable type to `unsigned`, since operations on unsigned variables are well defined in the C standard (wrap around on overflow as expected). In this case, It could of course happen that the program does not compute the right results anymore, i.e., the verdict might be wrong. So I

[2019-10-11 07:56] kfriedberger opened #834 "Invalid verdict for `memsafety-bftpd/bftpd_false-memsafety.c`"
The verdict in [memsafety-bftpd/bftpd_false-memsafety.c](https://github.com/sosy-lab/sv-benchmarks/blob/c418fce5029c6a183193b33f47396096fa829a94/c/memsafety-bftpd/bftpd_false-memsafety.c) depends on a potential memory leak from a global pointer.
However, by definition, this seems to match the property `valid-memcleanup` and not `valid-memtrack` (sub-property of `valid-memsafety`), because a global

[2019-10-11 08:34] dbeyer commented on #813
@nguyenthanhvuh Would it be possible for you to file a new pull request for fixing this?

[2019-10-15 19:45] dbeyer commented on #834
Addressed by pull request #836.

[2019-10-15 19:45] #834 closed

[2019-10-15 22:19] nguyenthanhvuh commented on #813
@dbeyer, yes, will create a PR in a couple of days.

[2019-10-16 12:32] kfriedberger commented on #792
#810 is fixed.

[2019-10-16 12:32] #792 closed

[2019-10-19 03:55] nguyenthanhvuh commented on #813
@MartinSpiessl I've made some changes and created a PR https://github.com/sosy-lab/sv-benchmarks/pull/837.  Could you take a look to see if these changes fix the issues?  Thanks,

[2019-10-22 17:06] dbeyer commented on #794
Fixed by https://github.com/sosy-lab/sv-comp/commit/09abbd33436f64ff8bba6075b1dd2e98cd962c32

[2019-10-22 17:06] #794 closed

[2019-10-22 18:08] dbeyer commented on #767
@tautschnig What is your opinion about @ccadar's proposal?

[2019-10-22 18:17] dbeyer commented on #767
Current proposals:
- #741
- fix similar groups (see above)
- #745
- first #745, then rest of #741
Any other opinions?  Can we drop some of the options?
We need to go ahead quickly here.
Does it need a voting?

[2019-10-23 11:56] versokova opened #841 "Inappropriate benchmarks in MemSafety"
Most of benchmarks in `MemSafety-TerminCrafted` do nothing related to memsafety (dereference, free, memory tracking). What do you think? I suggest removing them from the category.

[code]

The rest of benchmarks (11 files) are reasonable for memsafety.

[2019-10-27 10:39] dbeyer commented on #767
I am currently in favor of @tautschnig's proposal of replacing calls to
`__VERIFIER_nondet_pointer` by calls to other functions like `__VERIFIER_nondet_ulong`,
and I am willing to merge PR #745 once it is ready.
There seems to be no better solution available currently.
In case somebody provides an improvement in a different direction, we can always later replace the files.
I agree with @tautschnig

[2019-10-27 10:44] ccadar commented on #767
Hi all, is the idea to remove `__VERIFIER_nondet_pointer` from the API?  I would be happy to see it gone, given the unclear semantics.

However, I don't think replacing `__VERIFIER_nondet_pointer` with `__VERIFIER_nondet_ulong` would work everywhere; in some cases this would generate nonsensical benchmarks, i.e. full of undefined behaviour.  For instance, in the benchmarks I looked at, replacing i

[2019-10-27 18:31] tautschnig commented on #767
While I do believe that is really is what we have at the moment, I'm also in favour of ...

... doing this. What I realised is that in #741 I might have gone too far in that it not just does the `malloc`, but also initialises the memory. While the initialisation is required to avoid undefined behaviour, the benchmarks might already be doing this anyway after the call to memory allocation routines.

[2019-10-30 10:12] afzalmohd opened #843 "Incorrect verdict of verifythis/tree_max.c (ReachSafety)"
Hi,

I am getting a counterexample for which __VERIFIER_error is reachable in the program [erifythis/tree_max.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/verifythis/tree_max.c), whose verdict is true.  (part of PR #803)

Refer the attached program with commented values of counter example.
[tree_max_counter_example.zip](https://github.com/sosy-lab/sv-benchmarks/files/3788163/tree_max

[2019-10-30 18:08] mikhailramalho commented on #843
ESBMC is also finding a cex for this program and other programs from the PR#803:
[code]
CBMC also finds a cex for the first two.

[2019-10-30 20:47] mikhailramalho opened #844 "Out-of-bounds access in recursive-with-pointer/simple-recursive.c"
From PR#809. The code does:
[code]
Then it dereferences `p` later on.

The `*p++` first increments the pointer than dereferences it. I think the authors intended to write `(*p)++` instead.

We can either change the verdict to false-deref or fix the program. Suggestions?

[2019-10-30 20:47] mikhailramalho commented on #844
Adding the authors of the PR: @EboYu and @kfriedberger.

[2019-10-30 21:13] kfriedberger commented on #844
Yes, you are right. I will make a new PR with a fix.

[2019-10-30 21:20] #844 closed

[2019-11-01 05:57] dbeyer commented on #767
- Pull request #756 seems to be related to this as well.
- Pull request #755 seems to be related to this as well.

[2019-11-01 14:54] mikhailramalho opened #849 "Wrong verdict on seq-mthreaded benchmarks"
Both ESBMC and CBMC find property violations in three benchmarks (witnesses attached):
[code]
[witnesses.zip](https://github.com/sosy-lab/sv-benchmarks/files/3798386/witnesses.zip)

[2019-11-01 14:57] mikhailramalho commented on #843
Adding original contributor: @gernst

Ideally, we should fix the issues and keep both the safe and the unsafe versions.

[2019-11-02 10:15] gernst commented on #843
Thanks for the feedback. I'll have a look

[2019-11-04 15:09] gernst commented on #843
@mikhailramalho Thanks for the report. Is this related to valid-memsafety or unreach-call? And could you please provide the counterexample?

[2019-11-04 15:13] viktormalik commented on #841
I agree with this, the `MemSafety` category should contain only benchmarks that somehow manipulate memory - at least dereference a pointer, access array item, etc. The mentioned benchmarks do not satisfy this requirement.

@dbeyer can you please elaborate on this? I suggest filtering these benchmarks and adding only those manipulating memory to `MemSafety-TerminCrafted` (or, since there are only 1

[2019-11-04 15:21] gernst commented on #843
Clearly, the max and min functions were not taking the node's data into account. Addressed in #851

[2019-11-04 17:21] mikhailramalho commented on #843
We are still finding a property violation with #851 in:
[code]

I debugged `tree_del_rec.c` and the violation happens when:
1. `nondet_tree()` doesn't allocate a new tree when starting the program.
2. variable `a` in line 72 is assigned `2147483647` because `t` is null.
3. variable `n` in line 75 is assigned `0` because `t` is null.
4. `calloc` in line 76 allocates a zero-sized array, which cannot

[2019-11-04 17:51] gernst commented on #843
Oh right. I've added an assumption that the tree has nonzero size.

Note sure why `tree_max.c` still reports a counterexample. If `n` is `0` then the `check` function does nothing.

[2019-11-04 17:56] gernst commented on #843
Right, this is the intention of the benchmarks as well. I've not made a variant of the benchmarks for this bug, since I think it is too trivial to catch.

[2019-11-05 10:07] MartinSpiessl commented on #841
The mentioned files do not contain any memory safety violation, i.e., the verdict for `valid-memsafety.prp` is always true. So by removing them we would not lose much on first glance.

On the other hand these should also not take long to verify, and it is also good to have files. A tool could have problems with proving a non-terminating program to be safe regarding `valid-memsafety.prp`, so the ta

[2019-11-05 10:42] MartinSpiessl commented on #813
Sorry, I must have missed the notification for this issue.
I checked the files for which you submitted fixes in PR #837 :
[code]

All fixes except `lcm2.c` seem to work. That one still has an overflow in line 31 with the following data state:
[code]
Looks like the overflow is caused by:

[code]
`a` and `b` are now unsigned, but the implicit type conversions to `unsigned int` will only happen after

[2019-11-05 13:10] versokova commented on #841
@MartinSpiessl  I guess not. Why do you think it is not a part of SV-COMP'20? Do you have any information that the jury does not know about? The MemSafety benchmarks are generated incorrectly on the website [https://sv-comp.sosy-lab.org/2020/benchmarks.php](https://sv-comp.sosy-lab.org/2020/benchmarks.php). And this [commit](https://github.com/sosy-lab/sv-comp/commit/09abbd33436f64ff8bba6075b1dd2e

[2019-11-05 13:21] MartinSpiessl commented on #841
Thanks for the hint, I must have overlooked that. I looked up the benchmark definitions and though `MemSafety-TerminCrafted` was not inside, but you are obviously right.

So to summarize:
So we just correct the description in  [MemSafety-TerminCrafted.cfg](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/MemSafety-TerminCrafted.cfg) after which this issue can be closed. Or is there somethin

[2019-11-05 13:25] versokova commented on #841
But your argument is still absurd.  So you basically said I have to add benchmarks with complex data structures to the Termination category. You do not have any access to the memory in these benchmarks.

[2019-11-05 13:28] viktormalik commented on #841
Actually, if `MemSafety-TerminCrafted` is not to be a sub-category of the `MemSafety` category, then it would make sense to rename it so that this misunderstanding doesn't happen again. What about `Termination-MemSafetyCrafted` since, if I understand correctly, this should be a sub-category of the `Termination` category?

[2019-11-05 14:17] MartinSpiessl commented on #841
You did not indicate this in your first answer, I thought you agreed:

What does this have to do with the Termination category?

I never said this. You can do this, sure, and there are reasons why this might indeed be useful, that is what you can deduce from what I said. In real-world software, there is no strict separation of features, so adding tasks that combine features will make SV-COMP more

[2019-11-05 16:35] versokova commented on #841
You can be right and it can be absurd at the same time. You can verify every task for all properties (but why?). If task doesn't manipulate memory, then it is memsafety. If task doesn't contain `__VERIFIER_error()`, then it is reachsafety. If task doesn't use integers, then there isn't overflow. etc

I apologize. I deduced from what you said.

[2019-11-05 16:59] vojnar commented on #841
I just skimmed through the discussion. In general, I do not like the idea of adding tasks aiming at X into category Y. A brief comment: It seems to me that if we adopt the spirit that having a benchmark that does not have anything related with memsafety in memsafety, then we can put any task into any category. Equivalently, we can completely cancel the categories and subcategories and have just a

[2019-11-06 13:11] tautschnig commented on #841
I believe we have the "SoftwareSystems" as a category where all sorts of properties could be relevant and arbitrary source code features may appear. For all other categories, however, I'd hope we stick with what @vojnar said.

[2019-11-07 00:18] tautschnig commented on #767
In PRs #865 through to #872 I have now applied this in a way not resulting in undefined behaviour. What is left to be done is work through the ldv-* directories, which will almost always require memory allocation.

[2019-11-07 19:09] ccadar commented on #767
Thanks, @tautschnig, really great to have these benchmarks functional!

[2019-11-08 00:11] tautschnig commented on #767
I am working on the LDV benchmarks in #873, but will actually create individual PRs from those commits as otherwise they won't be reviewable for their sheer size. Yet those depend on #874, #875, #876 which need to be merge before I can start creating individual PRs for the LDV changes.

[2019-11-08 07:17] kfriedberger opened #877 "[WIP] CI is too slow"
WORK IN PROGRESS.
This issue discusses the problem with the slow CI and possible solutions.

## Use CCache for GCC and Clang
I tried to add `ccache` for the `gcc` and `clang` job. This does not bring any improvement, because we use the compiler only for the first step of the compilation (i.e., no linking), which does sadly not benefit from `ccache`. To test this on your own system, install `ccache

[2019-11-08 19:24] zvonimir commented on #767
Sorry for coming late to this party and thanks for all the hard work on cleaning up the benchmarks.
I noticed that `__VERIFIER_nondet_pointer` is still mentioned in the rules. I guess that means that we are not getting rid of it completely, yes? How come?

[2019-11-08 21:21] tautschnig commented on #767
I'd certainly hope for it to be removed once no benchmark uses it anymore, but the LDV benchmarks (#873) will keep me busy for a while. (And #866, as the only remaining non-LDV case, still needs a review.)

[2019-11-09 10:29] dbeyer commented on #849
@mikhailramalho Please correct the verdict in the test definition file and create a pull request (please refer to this issue from the pull request).

[2019-11-09 10:29] #849 closed

[2019-11-09 10:31] dbeyer commented on #843
Thank you for the corrections.  If there are further problems, please create further issues or pull requests.

[2019-11-09 10:31] #843 closed

[2019-11-09 10:45] dbeyer commented on #841
@versokova Could you please create a pull request that removes the files that you mentioned from the category `MemSafety-TerminCrafted`?

Since you cannot remove the tasks from the directory (because the directory is used by other categories), you need to change `MemSafety-TerminCrafted.set` such that it explicitly enumerates the remaining 11 tasks.

[2019-11-09 10:58] dbeyer commented on #841
Fixed website https://sv-comp.sosy-lab.org/2020/benchmarks.php

[2019-11-09 10:58] dbeyer commented on #841
What is the most appropriate description for https://github.com/sosy-lab/sv-benchmarks/blob/master/c/MemSafety-TerminCrafted.cfg ?

[2019-11-09 11:09] dbeyer commented on #841
I can confirm that `MemSafety-TerminCrafted` is a sub-category of `MemSafety`,

I can also confirm that all those tasks in directory `termination-crafted/` are part of several other categories, e.g., `Termination` and `NoOverflows`.

I do not think there is a contradiction in the discussion above.

@MartinSpiessl is completely right when he says that it does not hurt *in principle* if those tasks

[2019-11-09 12:30] dbeyer commented on #841
I believe all is discussed, solutions are found, and I am waiting for pull requests to make the fixes, if still desired.

[2019-11-09 12:30] #841 closed

[2019-11-10 02:39] afzalmohd commented on #843
Hi,

Still there is a counterexample (by taking the tree of size 1) for which __VERIFIER_error is reachable in the program erifythis/tree_max.c, whose verdict is true. (part of PR #843)

Refer the attached program with commented values of counter example.

[tree_max_counter_example.zip](https://github.com/sosy-lab/sv-benchmarks/files/3828000/tree_max_counter_example.zip)

[2019-11-11 19:50] dbeyer opened #884 "Property definitions for standard Java exceptions"
Integrate property definitions for standard exceptions. There are various examples in the code base of SV-COMP triggering standard exceptions. As these are standard exceptions, Java verification tools should be able to detect them from my point of view. It would be interesting to make this also part of the competition.

This issue was communicated by @mmuesly in pull request #823.

[2019-11-11 19:52] dbeyer commented on #884
This should be done, after a short discussion at the next community meeting on how to best implement this.

[2019-11-12 01:59] mikhailramalho commented on #843
Indeed, we are still finding bugs in the same three examples.

I'll try to debug them and create a new issue tomorrow.

[2019-11-13 07:55] tautschnig commented on #767
PRs #886 through to #904 are a first round of PRs replacing several uses of `ldv_*alloc_unknown_size` pseudo-allocators. More commits already exist, but they depend on some of those PRs to be merged.

[2019-11-13 16:52] MartinSpiessl opened #908 "Tasks from libowfat are actually from dietlibc"
I just checked the tasks in [c/termination-libowfat](https://github.com/sosy-lab/sv-benchmarks/tree/master/c/termination-libowfat) and encountered that they are not from [libowfat](http://www.fefe.de/libowfat/) as the folder name and [README.txt](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/termination-libowfat/README.txt) would suggest, but are instead taken from [dietlibc](http://www.

[2019-11-15 19:00] feliperodri opened #922 "Missing function in AWS C Common benchmarks leads to errors"
In AWS C Common benchmarks, every time it checks for overflow in 32-bit operations, it uses the `__CPROVER_overflow_plus` or `__CPROVER_overflow_mul` functions. For instance, take a look at the following example:

[code]
See [aws_add_u32_saturating](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/aws-c-common/aws_add_size_saturating_harness.i#L2564).

However, there is only one version of

[2019-11-15 19:05] feliperodri commented on #922
@tautschnig @gernst @dbeyer

[2019-11-15 19:35] mikhailramalho opened #924 "Overflow in programs with unreachable property violations"
Both ESBMC and CBMC find overflows in:
[code]
The property file states that there no reachable property violation in the program, but since overflows are UB, the property violation can be reachable somehow.

How should we proceed? Should I create a PR that changes the overflow verdict and removes the reachable safety property?

[2019-11-15 21:13] feliperodri commented on #818
Is there any discussion to include `__VERIFIER_base_pointer` in the competition rules? ESBMC is currently reporting wrong verification results in some cases of AWS C Common benchmarks due to the lack of implementation for this function. @dbeyer @tautschnig

[2019-11-16 07:33] dbeyer commented on #819
Status on 2019-11-16:
1.   #798 Own sub-category or part of existing sub-category?
   - Created own sub-category of SoftwareSystems: `SoftwareSystems-OpenBSD-MemSafety`
2.   #803 Recursive examples have heap manipulation, move there?
   - Merged into `ReachSafety-Loops` and `ReachSafety-Recursive`
3.   #817
   - Created own sub-category of SoftwareSystems: `SoftwareSystems-AWS-C-Common-ReachSafety

[2019-11-17 04:25] timosantonopoulos commented on #813
Hi, the bound for the variables was reduced to half what it was before. Does this resolve the issue?

[2019-11-17 08:51] MartinSpiessl commented on #924
Can you post some witnesses for the violations?
The usual approach is to make two variants of the tasks, one where the overflow is fixed and true_nooverflow is added to the verdicts, and one where the overflow is unfixed and false_nooverflow is the only verdict.

[2019-11-17 08:53] MartinSpiessl opened #934 "Tasks have been simpified without technical need"
PR https://github.com/sosy-lab/sv-benchmarks/pull/905 simplified some tasks by replacing K&R style function declarations by the simpler ANSI C variant.

This change was unnecessary, and the tasks now do not reflect the original real-world code  from which the tasks were taken anymore, where the K&R style function declarations are still used (https://www.fefe.de/dietlibc/).

This might look like we

[2019-11-17 08:59] MartinSpiessl commented on #813
I do not see any updates on `lcm2.c`. If I reduce the bound in `lcm2.c` to `(65/2)` manually then yes, I am not able to find an overflow anymore (this is no proof that the tasks is overflow-free, so ideally the tasks get a verdict true_nooverflow added and are added to the overflow category, this way some tool might be able to come up with a proof or show a counterexample).

[2019-11-17 11:45] dbeyer commented on #767
This is actually part of the famous Thessaloniki Fix #613,
which will be almost completed after this issue is solved.

[2019-11-18 01:12] tautschnig commented on #767
With #969 and https://github.com/tautschnig/sv-benchmarks/tree/remove-__VERIFIER_nondet_pointer-ldv all uses of `___VERIFIER_nondet_pointer` will be gone. That branch of mine will yield more pull requests, I'm just waiting for some more to be merged to avoid conflicts.

[2019-11-18 09:39] tautschnig commented on #742
This was fixed by #875.

[2019-11-18 09:39] #742 closed

[2019-11-18 15:33] skanav commented on #924
@mikhailramalho the first two files out of the 3 files mentioned by you are the same. Did you miss something by any chance?

[2019-11-18 15:54] skanav commented on #924
These tasks were created to have the correct verdict as part of the issue #810 . There are already enough tasks related to this file for false_overflow.

[2019-11-18 15:54] skanav commented on #924
regarding the file ```s3_clnt_1.BV.c.cil-1a.c``` CPAChecker also produces a different verdict than expected. The following 2 problems were found:

1. Overflow at line 307 for the variable ```s__s3__tmp__new_cipher__algorithms```. The can be resolved by changing its type from int to unsigned.
2. After making this change we ran the CPAChecker again and it found another problem. Variable ```s__s3__fl

[2019-11-18 16:32] skanav commented on #924
The file `s3_srvr_1a_alt.BV.c.cil.c` also has the similar problem. After changing the types of six variables from int to unsigned (and also initializing some of them with ```__VERIFIER_nondet_uint()```) solves the problem and the CPAChecker produces the expected verdict.

@dbeyer This task should also be removed from the scoring computation. Or alternatively, it can be modified.

[2019-11-18 19:19] mikhailramalho commented on #924
Hi all,

The benchmarks are:
[code]
The witnesses produced from 181579a11f: [witnesses.zip](https://github.com/sosy-lab/sv-benchmarks/files/3860279/witnesses.zip)

[2019-11-18 22:42] tautschnig commented on #767
With #984 posted there are only four more commits left that need PRs. I believe I need to wait for most of the current PRs to be merged before posting the next one to avoid merge conflicts. So we're almost there :-)

[2019-11-19 15:12] ccadar commented on #526
Hi, I noticed `busybox-1.22.0/test-incomplete-1.c` also has an undefined symbol, `test_ptr_to_statics`, should I open a different issue for that?  Thanks!

[2019-11-19 16:09] tautschnig commented on #526
@ccadar Maybe we should just have a PR to move `test-incomplete-1.c` to `busybox-1.22.0-todo` as the quickest fix?

[2019-11-19 19:36] dbeyer commented on #924
Please modify `s3_srvr_1a_alt.BV.c.cil.c` if possible and not sufficiently many variants are available already.

[2019-11-19 19:36] dbeyer commented on #924
PR #987 fixes this issue, correct?  So I close it.

[2019-11-19 19:36] #924 closed

[2019-11-19 21:17] MartinSpiessl commented on #924
It did not add the fixed/keep tasks. For example there must have been a reason for having both `s3_srvr_1a_alt.BV.c.cil.c` and `s3_srvr_1a.BV.c.cil.c`, both with verdicts `noverflow=true` and `unreachcall=true`. Now we essentially lost one of them. For the other two tasks it is probably similar

[2019-11-20 11:29] tautschnig commented on #767
With #994 and #996 I have now posted PRs for all commits that may affect the verification outcome. The remaining changes to get rid of `__VERIFIER_nondet_pointer` (#995 and two commits yet to be posted as PRs) only remove definitions and declarations of functions that are no longer used once #994 and #996 are merged.

[2019-11-20 12:35] ccadar commented on #526
@tautschnig I'd be fine with that.  Just to say, I haven't looked in detail at the Busybox tests, but right now none of them seem to compile.  But I believe they're still under work, right?

[2019-11-20 13:04] tautschnig commented on #526
No, they aren't currently being worked on - but mainly because I wasn't aware of issues. Please do raise any issues you're finding. (It is very well possible that I could find some myself with not too much effort, but I'm currently focussed on several other tasks.)

[2019-11-21 15:33] #922 closed

[2019-11-21 16:12] holznerst opened #1006 "Integrate all Juliet benchmarks and implement non c99 functions"
At the moment there are a lot of Juliet benchmark c programs which are not yet categorized and pre processed.
Furthermore some of the benchmarks uses non c99 standard functions (see list below) that have to be implemented.

In addition to the c programs NIST offers a huge set of Java benchmarks as well which could heavily improve the quantity of the java benchmark set: https://samate.nist.gov/SRD/

[2019-11-21 19:38] dbeyer commented on #934
@all: Please comment.

[2019-11-21 20:33] tautschnig commented on #934
I'm with @MartinSpiessl in that this was an unnecessary change, but then also the rules say "The programs are assumed to be written in GNU C (some of them adhere to ANSI C)." Does that entail K&R C? I don't know. Keeping some K&R C to demonstrate the breadth of real-world software (also to teams newly building software verification tools) probably isn't a bad idea.

[2019-11-22 14:58] #767 closed

[2019-11-22 15:07] mikhailramalho commented on #934
I agree it was an unnecessary change. Can't we just revert the change?

[2019-11-22 15:20] timosantonopoulos commented on #813
Hi, the updates I was referring to can be seen at:

[2019-11-22 17:11] skanav opened #1016 "new memory safety benchmark"
test27-2.c isn't memory safe (neither was memory safe before nor is now), and test27-1.c is memory safe irrespective of the value used here as that value is never read. I've added comments to both files.

_Originally posted by @tautschnig in https://github.com/sosy-lab/sv-benchmarks/pull/996_

[2019-11-22 17:15] mmuesly opened #1017 "Add the java-ranger test cases to the java compile.xml"
While merging and reviewing the java-ranger regression tests, we missed to add all of them to the [compile.xml](https://github.com/sosy-lab/sv-benchmarks/blob/master/java/compile.xml) file.

It does not seems to impair anyone as I have not seen any complains so far. Hence, I leave this as a reminder for fixing this after merging #1008, #1009, #1010 and #1011. From my point of view, the required fi

[2019-11-22 17:16] skanav commented on #1016
@tautschnig @kfriedberger do you think we should add the files [test27-1.c](c/ldv-regression/test27-1.c) [test27-2.c](c/ldv-regression/test27-2.c) for memory safety check?

[2019-11-22 17:18] vaibhavbsharma commented on #1017
Ah, I wasn't aware of the necessary addition to this file. Thanks for finding this @mmuesly :+1:
I hope the already merged java-ranger-regression tests can still be used in SV-COMP 2020 without the change to compile.xml.

[2019-11-22 19:04] kfriedberger commented on #1016
That would be a good idea. At least the property `valid-deref` might be violated.

[2019-11-22 23:39] MartinSpiessl opened #1018 "Juliet tasks do not have a license"
The tasks in the folder `c/Juliet_Test` do not have a license. The `LICENSE.txt` simply states:

This can lead to legal problems. One particular pops into my mind: it does not exclude the authors/publishers of this repository from liabilities(!).

As I see it, since the tasks were modified, e.g. to contain LDV-specific code, they have to be seen as derived work. As such, I think the authors can in

[2019-11-23 07:52] tautschnig commented on #1016
I don't even know whether `unreach-call` is violated in absence of a memory safety error in test27-2.c, so, yes, I'm all for adding them to memory safety. I'm not going to do this myself for now, though, because my priority is reviewing the status of the LDV benchmarks. I'll happily approve anyone else's PRs.

[2019-11-23 09:23] PhilippWendler commented on #1018
The real problem is that in many jurisdictions, the above statement is void because the concept of "public domain" does not exist. This means that in these jurisdictions, no permission to do anything at all with these files is available, and any use, redistribution, etc. is a copyright infringement. This is for example the case in Europe (if not in all of Europe then at least in most of it).

For

[2019-11-23 12:42] dbeyer commented on #934
@tautschnig @mikhailramalho @MartinSpiessl Could you please all approve PR https://github.com/sosy-lab/sv-benchmarks/pull/1020? Just for the record.

[2019-11-23 12:45] dbeyer commented on #934
Removed the label "affects SV-COMP rules" because I think that K&R C is covered by ANSI C.

[2019-11-23 12:45] dbeyer commented on #908
Could you please create a pull request for this?

[2019-11-23 12:46] dbeyer commented on #818
Wasn't this issue solved by some recent pull request?

[2019-11-23 12:49] feliperodri commented on #818
@dbeyer PR #993 simply removed all the `__VERIFIER_base_pointer` calls, but I believe this issue will only be solved once we settle whether or not to include `__VERIFIER_base_pointer` into the benchmark rules, which I'm in favor.

[2019-11-23 18:54] dbeyer commented on #934
Issue closed because solved by merged pull request https://github.com/sosy-lab/sv-benchmarks/pull/1020.

[2019-11-23 18:54] #934 closed

[2019-11-25 12:38] viktormalik opened #1021 "Incorrect benchmark label"
I believe that commit 43eed055310a02aa43b6ed52a52612fb34f1ba95 changes the result of benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-regression/rule57_ebda_blast.i.

The commit replaces a call to `__VERIFIER_nondet_pointer` by a call to `kzalloc`. Previously, there was an error in the program caused by the fact that `__VERIFIER_nondet_pointer` could have returned `NULL`, howe

[2019-11-25 16:13] MartinSpiessl commented on #934
It clarifies that K&R C is indeed included in the SV-COMP rules. If the outcome of this discussion would have been different, then this would also have impacted the SV-COMP rules.

[2019-11-26 08:10] MartinSpiessl commented on #1018
Full version of the statement from Simon Phipps that you quoted:

I disagree in some minor points of your answer, but I guess we both agree in the essence:
unless we have legal advice telling us otherwise, we cannot use the Juliet tasks  and should not have merged them in the first place.

We could ask the NIST to explicitly declare them as CC0, only then it would be clear that we can use them (pr

[2019-11-27 07:18] MartinSpiessl commented on #908
Done, see https://github.com/sosy-lab/sv-benchmarks/pull/1030

[2019-11-27 07:36] holznerst opened #1031 "inconsistent interpretation of __VERIFIER_assume in termination analysis"
__VERIFIER_assume seems not to be interpreted consistently in termination analysis.

There are benchmark tasks for which __VERIFIER_assume is considered as endless loop (see  [PR 1028](https://github.com/sosy-lab/sv-benchmarks/pull/1028)) and other tasks for which not [pals_floodmax.3.2.ufo.BOUNDED-6.pals.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/seq-mthreaded/pals_floodmax.3.2.uf

[2019-11-27 19:45] hoangmle opened #1034 "ldv_malloc, ldv_zalloc undefined in ldv-linux-3.4-simple benchmarrks"
A recent PR introduced `ldv_malloc` and `ldv_zalloc` calls into these benchmarks without providing a definition and/or declaration. Should we fix these now or after the competition? Without fixes, it might still be ok for SV-COMP, but the Test-Comp validator will not be able to do anything due to compiler errors.

The list of affected benchmarks follows:

ldv-linux-3.4-simple/32_1_cilled_ok_nondet

[2019-11-27 19:48] skanav opened #1035 "Completely eliminate __VERIFIER_assume from the sv-benchmarks repository."
Later, I will propose to completely eliminate `__VERIFIER_assume` from the `sv-benchmarks` repository.
For now, please change only those files that you encounter and that affect the result of some tool in a wrong way.

_Originally posted by @dbeyer in https://github.com/sosy-lab/sv-benchmarks/pull/1028#issuecomment-558983076_

[2019-11-27 19:50] skanav commented on #1035
#1031

[2019-11-27 19:53] skanav commented on #1035
#1031

[2019-11-27 23:51] tautschnig commented on #1034
Oh, my bad. The correct fix for those benchmarks is to do `sed -i -e 's/ldv_malloc/malloc/' -e 's/ldv_zalloc/calloc/'` for each of those benchmarks.

[2019-11-28 00:13] tautschnig commented on #1021
Ack, @viktormalik thank you for fixing this!

[2019-11-28 05:20] viktormalik commented on #1021
Thanks for confirmation, it's @kfriedberger who fixed this in the end in #1029. I believe that the PR still awaits your review.

[2019-11-28 08:53] PavelAndrianov commented on #1034
I suggest to model `ldv_malloc` with
[code]
In the opposite case there will be a set of verdict adjustments, like #1029, later.

[2019-11-28 10:06] holznerst commented on #1031
#578

[2019-11-28 10:30] holznerst commented on #1031
Seems like this issue is closely related to #578 and discussions in #504 .
In my opinion it is either necessary to update the semantics of __VERIFIER_assume in terms of termination or remove it completely to avoid different interpretations and a recurrently raise of discussions.

[2019-11-28 11:17] skanav commented on #1035
There are only 2 benchmarks which use ```__VERIFIER_assume``` and are also ```memory cleanup``` tasks: ([verifythis/tree_del_rec.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/verifythis/tree_del_rec.c)) and ([verifythis/prefixsum_rec.c](https://github.com/sosy-lab/sv-benchmarks/blob/master/c/verifythis/prefixsum_rec.c)).

Both of these benchamarks check for the properties ```memory cl

[2019-11-29 08:49] kfriedberger opened #1039 "Undefined behaviour from freed pointers"
There were at least two cases (#979, #1036) where a freed pointer was accessed (read) afterwards. According to ISO-C99 6.2.4(2), the value of a pointer becomes indeterminate when the object it points to reaches the end of its lifetime.
There is also a [nice blog post about that](https://kristerw.blogspot.com/2016/03/c-pointers-are-not-hardware-pointers.html).

This issue is intended to be a collec

[2019-11-29 11:40] hoangmle commented on #877
Given that most PRs only touch a (small) subset of tasks, I think the most impactful and (simple) optimization is to avoid checking unchanged tasks. Isn't it already enough to exclude all tasks that are not present in `git diff`?

[2019-11-29 11:51] kfriedberger commented on #877
No, that is not sufficient, but a good heuristic.
Some files might include others or depend on them.
Sometimes, we change global scripts, options like machinemodel, or the compiler.

Currently, all CI jobs run as expected. We will take a detailed look again as soon as there are more serious problems.
@hoangmle If you have a concrete solution, then feel free to provide a pull request for that.

[2019-11-29 12:13] hoangmle commented on #548
I was about to raise a similar issue before finding this. Such check would definitely have prevented #1034 :)

I'd push for actually building an executable and run it with some default inputs, possibly with sanitizers enabled.

[2019-11-29 12:31] hoangmle commented on #877
Yes, that should be implemented as a top-level heuristic. If a PR changes *.i and *.c only (most PRs do), then you are safe, otherwise just run a full CI job.

I could give it a try, but since it is not top priority anymore, that might not happen soon.

[2019-11-29 14:46] mchalupa opened #1041 "Incorrectly labeled benchmarks in termination for SV-COMP 2020"
This issue is coupled with #1035. These benchmarks can provably call `__VERIFIER_assume(false)` and thus violate the non-termination property (although they are labeled as safe):

[code]

Here you can find test harness for each of those files that leads the program to the call of `__VERIFIER_assume(0)`: https://www.fi.muni.cz/~xchalup4/non-term-harness.zip
Simply compile the file with the harness

[2019-11-29 19:49] tautschnig commented on #548
I don't think we should actually run anything (this is a security risk), but we can certainly compile while linking in some dummy implementation of SVCOMP-specific functions. This is one of the steps that the CProver witness2test validator does (https://github.com/tautschnig/fshell-w2t).

[2019-12-02 06:36] PhilippWendler commented on #877
Do you know a way to determine which files a PR touches? Note that a PR can have an arbitrarily long list of commits.

[2019-12-02 13:38] hoangmle commented on #877
I guess `if $TRAVIS_PULL_REQUEST then git diff $TRAVIS_BRANCH --name-only` would do the job, to also support push builds, we would need `$TRAVIS_COMMIT_RANGE` (these enviroment variables are defined here https://docs.travis-ci.com/user/environment-variables/#convenience-variables)

[2019-12-02 13:48] hoangmle commented on #548
The Test-Comp validator and some testers actually link in the nondet functions and run the benchmarks. In an isolated environment (and with sanitizers enabled) I guess it is acceptable, but I am no security expert... Are you still working on this?

[2019-12-04 21:11] mchalupa commented on #1041
These 10 files has the same problem:
[code]
(I updated the list in the original comment, the .zip file with proofs is also updated)

[2019-12-05 13:05] PhilippWendler opened #1042 "Tasks from AWS-C-Common violate strict aliasing assumption in aws_is_mem_zeroed (undefined behavior)"
Some tasks in the directory `c/aws-c-common` contain the following code in the function `aws_array_list_init_dynamic`:
https://github.com/sosy-lab/sv-benchmarks/blob/9c93692aa98a28aa3f32401e92cb49ab73ca8445/c/aws-c-common/aws_array_list_init_dynamic_harness.i#L3239

`list` is defined as `struct aws_array_list * list`, and `aws_is_mem_zeroed` is implemented as can be seen here:
https://github.com/s

[2019-12-06 08:55] PhilippWendler opened #1043 "All AWS-C-Common tasks redefine library functions (undefined behavior)"
All tasks in `c/aws-c-common` define functions with a name that is also the name of a standard library function (e.g., `abort` or `memcpy`). This is undefined behavior, which follows from § 7.1.3 of the C11 standard.

In the past we did take action in such cases and removed or renamed the offending declarations (examples d2c4a04e53e46ccda7b78daffec35b24a2d1b071 of #572, b71c984d7c8289e332b56234ad7

[2019-12-06 12:39] PhilippWendler commented on #1021
#1029 was merged, so this can be closed?

[2019-12-06 16:05] dbeyer commented on #1041
@mchalupa
I cannot apply PR #1040 for SV-COMP 2020, because it also touches frozen files that are not having a wrong expected verdict. Could you please create a new pull request that applies the change of PR #1040 only to those files for which your tool answers with the wrong result,
that is, the above-mentioned files?

[2019-12-11 16:11] gernst commented on #1043
Let's keep the issue open until we have automated the renaming. I cannot promise, however, when I will be able to do this.

[2019-12-12 19:39] tautschnig commented on #1042
@PhilippWendler Could you please provide the name of the section in the C standard that you are referring to? 6.5.7 is "Bitwise shift operators," I don't think that's what you are referring to?

[2019-12-13 05:28] PhilippWendler commented on #1042
Yes, exactly.

[2019-12-16 17:19] tautschnig opened #1057 "Missing initialisation in LDV benchmarks results in undefined behavior"
Various device driver benchmarks either completely lack initialisation of pointers passed around or do not suitably initialise members of allocated storage. See #1049 for a (likely incomplete) list of benchmarks, with the individual commits calling out which variables are lacking initialisation.

I should be able to provide fixes once #1037 and #1038 are merged.

[2019-12-21 10:20] #1034 closed

[2019-12-21 10:20] #1042 closed

[2019-12-21 10:21] #1043 closed

[2019-12-21 15:09] dbeyer opened #1058 "insertion_sort-1.c seems to have undefined behavior"

[2019-12-21 15:17] dbeyer commented on #1041
@mchalupa Can this issue be closed now?

[2019-12-21 15:18] dbeyer commented on #1017
@mmuesly Could you please create the PR now? Thanks!

[2019-12-21 17:45] mchalupa commented on #1041
Yes, it can be closed now.

[2019-12-21 17:45] #1041 closed

[2019-12-21 17:54] mchalupa commented on #1058
To me, the benchmark looks like assuming that the values of the array `v` are non-deterministic rather than 0 (which would happen if the declaration would be moved outside the `main` function), so I think that the right fix would be to initialize the values of the array with `__VERIFIER_nondet_int`.